{% include 'ap-quick-view-config' %}
<link rel="stylesheet" href="{{ 'ap-quick-view.css' | asset_url }}">
<!-- <link rel="stylesheet" href="https://demo4leotheme.com/prestashop/shopifyquickview/resources/ap-quick-view.css?v=1.02"> -->
<link rel="stylesheet" href="{{ 'ap-quick-view-custom.css' | asset_url }}">
{{ 'api.jquery.js' | shopify_asset_url | script_tag }}
{{ 'option_selection.js' | shopify_asset_url | script_tag }}

<script>
    window.money_format = "{{shop.money_with_currency_format}}";
    window.shop_currency = "{{ shop.currency }}";
    window.file_url = "{{''|file_url}}";
    window.asset_url = "{{''|asset_url}}";
</script>