{% if blog.comments_enabled? %}
    <h2 class="h3">{{ article.comments_count }} {{ article.comments_count | pluralize: 'Comment', 'Comments' }}</h2>

  {% paginate article.comments by 5 %}
    <div id="comments">

      {% if comment and comment.created_at %}
        <h3 class="note form-success">
            Comment submitted successfully
        </h3>
      {% endif %}

      {% if article.comments_count > 0 %}
        <ul>
          {% for comment in article.comments %}
            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
              <div class="row">
                <div class="column l10 m10 s12">
                  <span>
                    {% capture author %}{{ comment.author }}{% endcapture %}
                    {% capture date %}<time datetime="{{ comment.created_at | date: '%Y-%m-%d' }}">{{ comment.created_at | date: '%A, %-d %B, %Y' }}</time>{% endcapture %}
                    <small><strong>{{ 'blogs.article.comment_meta_html' | t: author: author, date: date }}</strong></small>
                  </span>
                  <div class="rte">
                    <p class="feature">
                      {{ comment.content }}
                    <p>
                  </div>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>

        {% if paginate.pages > 1 %}
          <hr>
          <div class="pagination">
            {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
          </div>
        {% endif %}

        <hr>

      {% endif %}

      <div id="CommentForm">
        {% form 'new_comment', article %}

          <h2 class="h4">{{ 'blogs.comments.title' | t }}</h2>

          {% if blog.moderated? %}
            <p><small>{{ 'blogs.comments.moderated' | t }}</small></p>
          {% endif %}

          {{ form.errors | default_errors }}

          <label for="CommentAuthor" class="hidden">Name</label>
          <input type="text" name="comment[author]" id="CommentAuthor" {% if form.errors contains 'author' %}class="error"{% endif %} placeholder="Name" value="{{ form.author }}" autocapitalize="words">

          <label for="CommentEmail" class="hidden">Email</label>
          <input type="email" name="comment[email]" id="CommentEmail" {% if form.errors contains 'email' %}class="error"{% endif %} placeholder="Email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

          <label for="CommentBody" class="hidden">Message</label>
          <textarea name="comment[body]" id="CommentBody" {% if form.errors contains 'body' %}class="error"{% endif %} placeholder="Message">{{ form.body }}</textarea>

          <input class="button thin rounded medium gray" type="submit" value="Submit comment">
        {% endform %}
      </div>

    </div>
  {% endpaginate %}
{% endif %}
