<div class="blog-table">
  <div class="blog-content col-8">
    <div class="col-xs-12">
      <div class="row-uniform">
        <div class="col-xs-12 mb-50 wow fadeIn">
          <div class="breadcrumb">{% include 'breadcrumb' %}</div>
          {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d-%b-%Y' }}</time>{% endcapture %}
          <div class="post-prev-info ">
            {{ date }}
            {% if article.tags.size > 0 %}
              <span class="slash-divider">/</span>
              {% for tag in article.tags %}
                {% if tag == 'Media Releases' or  tag == 'Wine Reviews' or tag == 'Wine Awards' or tag == 'Announcements' or tag == 'Industry News' or tag == 'Region News'%}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                {% endif %}
              {% endfor %}
            {% endif %}
          </div>

          <div class="mb-50">
            <img src="{{ article | img_url: '1500x' }}" alt="{{ article.title }}">
          </div>

          <div class="article-content">

            {{ article.content | replace: '<a', '<a target="_blank"'}}
          </div>
        </div>
        <div class="col-xs-12 mb-50 wow fadeIn">
          {% include 'share' %}
        </div>
        <div class="col-xs-12 wow fadeIn">
          {% include 'article-comments' %}
        </div>
      </div>
    </div>
  </div>

  {% if sidebar %}
    <div class="blog-sidebar hidden-xs bg-light-gray col-4 p-140-cont">
      {% include 'article-sidebar' %}
    </div>
  {% endif %}
</div>
