<div class="badges">
  {% assign trophy = false %}
  {% assign trophycount = 0 %}
  {% for tag in product.tags %}
    {% if tag contains 'trophy_' %}
      {% assign trophy = true %}
      {% assign trophycount = trophycount | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if trophy == true %}
    {% assign rating = 'trophy' %}
    <span class="award_badge {{ rating | handleize }}">
      <span class="icon trophy">
        <svg class="trophy" width="48px" height="53px" viewBox="6 7 48 53" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <path class="fill" d="M16.9358901,26.7922581 C16.9551736,26.8102795 16.9745276,26.8282327 16.9939525,26.8461172 C19.2484245,28.9218095 22.9689973,30.4181728 26.798816,30.4099708 C27.1406781,30.4092387 26.4993097,30.7030268 26.798816,30.7211997 C27.005155,30.7337195 26.0206432,30.9371977 26.2454129,30.9425529 C26.323234,30.944407 25.9382624,31.4053137 25.9382624,31.7246751 C25.9382624,31.763276 24.5009797,31.2132273 24.1751998,32.956095 C23.8642169,34.6198011 25.0244996,34.9942372 25.2029485,34.9566434 C25.3472466,34.9262442 25.9382624,35.9685806 26.5710362,36.8092525 C26.7410076,37.035068 26.426659,39.5613398 26.798816,38.9508522 C26.9034688,38.7791794 26.8453201,40.4119874 26.798816,41.2599601 C26.5710362,45.4133799 25.2029485,47.2263819 25.0044435,47.7702355 C24.9494513,47.9209004 23.4809019,49.4161989 23.1812658,49.4161989 C21.5847721,49.4161989 20.2805566,50.6492024 20.2805566,52.1215341 L20.2805566,55.9280398 C19.7676694,55.9280398 19.9104043,55.9280398 19.7749011,55.9280398 L19.7749011,59.9959834 C21.3693597,59.9959834 28.1761809,59.9959834 29.8684423,59.9959834 C29.8684423,54.2742489 29.8684423,30.7211997 29.8684423,30.7211997 L29.8684423,7 L29.8664697,30.7211997 C29.8664697,30.7211997 29.8664697,54.2742489 29.8664697,59.9959834 C31.5587312,59.9959834 38.3655523,59.9959834 39.9600109,59.9959834 L39.9600109,55.9280398 C39.8245078,55.9280398 39.9672427,55.9280398 39.4543554,55.9280398 L39.4543554,52.1215341 C39.4543554,50.6492024 38.15014,49.4161989 36.5536462,49.4161989 C36.2540101,49.4161989 34.7854608,47.9209004 34.7304686,47.7702355 C34.5319635,47.2263819 33.1638758,45.4133799 32.936096,41.2599601 C32.8895919,40.4119874 32.8314432,38.7791794 32.936096,38.9508522 C33.3082531,39.5613398 32.9939044,37.035068 33.1638758,36.8092525 C33.7966497,35.9685806 34.3876655,34.9262442 34.5319635,34.9566434 C34.7104124,34.9942372 35.8706951,34.6198011 35.5597123,32.956095 C35.2339324,31.2132273 33.7966497,31.763276 33.7966497,31.7246751 C33.7966497,31.4053137 33.4116781,30.944407 33.4894992,30.9425529 C33.7142688,30.9371977 32.7297571,30.7337195 32.936096,30.7211997 C33.2356024,30.7030268 32.5942339,30.4092387 32.936096,30.4099708 C36.7659148,30.4181728 40.4864875,28.9218095 42.7409596,26.8461172 C42.7603845,26.8282327 42.7797385,26.8102795 42.7990219,26.7922581 L42.8442824,27.1326031 C42.8442824,27.1326031 43.2217237,27.1326031 43.6455037,27.1326031 C43.6455037,26.5007685 43.6455037,25.7491735 44.4767825,25.5145055 C44.9199747,25.3538855 45.7210395,25.9418862 46.2528388,25.7491735 C46.8735578,25.2638288 52.2216087,20.0391801 53.3902522,16.3421027 C55.3033407,10.2899259 48.6493014,9.32084914 48.1918365,9.78188797 C48.1762125,9.79657925 48.160617,9.81148561 48.14505,9.82660476 C48.1572452,9.43674782 48.1677678,9.19387185 48.1918365,9.13439846 C48.2034284,8.22934351 48.2379358,7.40512755 48.2379358,7 L29.867456,7 L11.4969762,7 C11.4969762,7.40512755 11.5314836,8.22934351 11.5430755,9.13439846 C11.5671443,9.19387185 11.5776669,9.43674782 11.5898621,9.82660476 C11.5742951,9.81148561 11.5586995,9.79657925 11.5430755,9.78188797 C11.0856107,9.32084914 4.43157132,10.2899259 6.34465989,16.3421027 C7.51330332,20.0391801 12.8613543,25.2638288 13.4820733,25.7491735 C14.0138726,25.9418862 14.8149374,25.3538855 15.2581295,25.5145055 C16.0894084,25.7491735 16.0894084,26.5007685 16.0894084,27.1326031 C16.5131884,27.1326031 16.8906297,27.1326031 16.8906297,27.1326031 L16.9358901,26.7922581 Z M47.5667603,12.4534084 C48.4302884,11.864625 49.6989065,10.4841106 51.7461673,12.8972268 C53.2135076,14.6267877 50.7952845,18.384763 50.7952845,18.384763 L48.4302884,21.8254121 L45.9541419,24.5197888 L44.7958308,24.287469 C44.7958308,24.287469 46.2387493,21.6729327 46.8319161,19.5354032 C47.4250828,17.3978738 47.5667603,14.4123147 47.5667603,12.4534084 Z M12.1681518,12.4534084 C11.3046237,11.864625 10.0360056,10.4841106 7.98874472,12.8972268 C6.52140449,14.6267877 8.93962753,18.384763 8.93962753,18.384763 L11.3046237,21.8254121 L13.7807701,24.5197888 L14.9390813,24.287469 C14.9390813,24.287469 13.4961628,21.6729327 12.902996,19.5354032 C12.3098292,17.3978738 12.1681518,14.4123147 12.1681518,12.4534084 Z" stroke="none" fill-rule="evenodd"></path>
        </svg>
        {% if trophycount > 1 %}<span class="award_count">x {{ trophycount }}</span>{% endif %}
      </span>
    </span>
  {% endif %}
  {% assign gold = false %}
  {% assign goldcount = 0 %}
  {% for tag in product.tags %}
    {% if tag contains 'badge_gold' %}
      {% assign gold = true %}
      {% assign goldcount = goldcount | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if gold == true %}
    {% assign rating = 'gold' %}
    <span class="award_badge {{ rating | handleize }}">
      <span class="icon trophy">
        <svg width="35px" height="60px" viewBox="0 0 35 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="fill">
              <circle cx="17.6086957" cy="47.173913" r="12.826087"></circle>
              <rect x="14.3478261" y="33.0434783" width="6.08695652" height="3.04347826"></rect>
              <path d="M13.6447483,27.1280352 L0.0627002245,0 L8.30927934,0 L17.3782627,18.2755153 L26.4472461,0 L34.6938252,0 L21.1279517,27.0957291 C20.632043,25.5036369 19.1466507,24.3478261 17.3913043,24.3478261 C15.6241069,24.3478261 14.130521,25.5192963 13.6447483,27.1280352 Z"></path>
              <path d="M17.3913043,31.7391304 C19.5524186,31.7391304 21.3043478,29.9872012 21.3043478,27.826087 C21.3043478,25.6649727 19.5524186,23.9130435 17.3913043,23.9130435 C15.2301901,23.9130435 13.4782609,25.6649727 13.4782609,27.826087 C13.4782609,29.9872012 15.2301901,31.7391304 17.3913043,31.7391304 Z M17.3913043,30.4347826 C18.5919234,30.4347826 19.5652174,29.4614886 19.5652174,28.2608696 C19.5652174,27.0602505 18.5919234,26.0869565 17.3913043,26.0869565 C16.1906853,26.0869565 15.2173913,27.0602505 15.2173913,28.2608696 C15.2173913,29.4614886 16.1906853,30.4347826 17.3913043,30.4347826 Z"></path>
              <rect x="16.5217391" y="31.3043478" width="1.73913043" height="2.60869565"></rect>
            </g>
        </svg>
        {% if goldcount > 1 %}<span class="award_count">x {{ goldcount }}</span>{% endif %}
      </span>
    </span>
  {% endif %}
  {% assign silver = false %}
  {% assign silvercount = 0 %}
  {% for tag in product.tags %}
    {% if tag contains 'badge_silver' %}
      {% assign silver = true %}
      {% assign silvercount = silvercount | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if silver == true %}
    {% assign rating = 'silver' %}
    <span class="award_badge {{ rating | handleize }}">
      <span class="icon trophy">
        <svg width="35px" height="60px" viewBox="0 0 35 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="fill">
              <circle cx="17.6086957" cy="47.173913" r="12.826087"></circle>
              <rect x="14.3478261" y="33.0434783" width="6.08695652" height="3.04347826"></rect>
              <path d="M13.6447483,27.1280352 L0.0627002245,0 L8.30927934,0 L17.3782627,18.2755153 L26.4472461,0 L34.6938252,0 L21.1279517,27.0957291 C20.632043,25.5036369 19.1466507,24.3478261 17.3913043,24.3478261 C15.6241069,24.3478261 14.130521,25.5192963 13.6447483,27.1280352 Z"></path>
              <path d="M17.3913043,31.7391304 C19.5524186,31.7391304 21.3043478,29.9872012 21.3043478,27.826087 C21.3043478,25.6649727 19.5524186,23.9130435 17.3913043,23.9130435 C15.2301901,23.9130435 13.4782609,25.6649727 13.4782609,27.826087 C13.4782609,29.9872012 15.2301901,31.7391304 17.3913043,31.7391304 Z M17.3913043,30.4347826 C18.5919234,30.4347826 19.5652174,29.4614886 19.5652174,28.2608696 C19.5652174,27.0602505 18.5919234,26.0869565 17.3913043,26.0869565 C16.1906853,26.0869565 15.2173913,27.0602505 15.2173913,28.2608696 C15.2173913,29.4614886 16.1906853,30.4347826 17.3913043,30.4347826 Z"></path>
              <rect x="16.5217391" y="31.3043478" width="1.73913043" height="2.60869565"></rect>
            </g>
        </svg>
        {% if silvercount > 1 %}<span class="award_count">x {{ silvercount }}</span>{% endif %}
      </span>
    </span>
  {% endif %}
  {% assign bronze = false %}
  {% assign bronzecount = 0 %}
  {% for tag in product.tags %}
    {% if tag contains 'badge_bronze' %}
      {% assign bronze = true %}
      {% assign bronzecount = bronzecount | plus: 1 %}
    {% endif %}
  {% endfor %}
  {% if bronze == true %}
    {% assign rating = 'bronze' %}
    <span class="award_badge {{ rating | handleize }}">
      <span class="icon trophy">
        <svg width="35px" height="60px" viewBox="0 0 35 60" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g class="fill">
              <circle cx="17.6086957" cy="47.173913" r="12.826087"></circle>
              <rect x="14.3478261" y="33.0434783" width="6.08695652" height="3.04347826"></rect>
              <path d="M13.6447483,27.1280352 L0.0627002245,0 L8.30927934,0 L17.3782627,18.2755153 L26.4472461,0 L34.6938252,0 L21.1279517,27.0957291 C20.632043,25.5036369 19.1466507,24.3478261 17.3913043,24.3478261 C15.6241069,24.3478261 14.130521,25.5192963 13.6447483,27.1280352 Z"></path>
              <path d="M17.3913043,31.7391304 C19.5524186,31.7391304 21.3043478,29.9872012 21.3043478,27.826087 C21.3043478,25.6649727 19.5524186,23.9130435 17.3913043,23.9130435 C15.2301901,23.9130435 13.4782609,25.6649727 13.4782609,27.826087 C13.4782609,29.9872012 15.2301901,31.7391304 17.3913043,31.7391304 Z M17.3913043,30.4347826 C18.5919234,30.4347826 19.5652174,29.4614886 19.5652174,28.2608696 C19.5652174,27.0602505 18.5919234,26.0869565 17.3913043,26.0869565 C16.1906853,26.0869565 15.2173913,27.0602505 15.2173913,28.2608696 C15.2173913,29.4614886 16.1906853,30.4347826 17.3913043,30.4347826 Z"></path>
              <rect x="16.5217391" y="31.3043478" width="1.73913043" height="2.60869565"></rect>
            </g>
        </svg>
        {% if bronzecount > 1 %}<span class="award_count">x {{ bronzecount }}</span>{% endif %}
      </span>
    </span>
  {% endif %}
  {% assign highestPoints = 0 %}
  {% for tag in product.tags %}
    {% if tag contains 'points_' %}
      {% assign points = tag | split: '_' %}
      {% assign points = points[1] | plus: 0 %}
        {% if points > highestPoints %}
          {% assign highestPoints = points %}
        {% endif %}
    {% endif %}
  {% endfor %}
  {% if highestPoints > 0 %}
    <span class="points_badge">
      <span class="icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60">
          <desc>{{ highestPoints }} Points</desc>
          <g>
            <polyline class="star" points="30 56.8 24.5 60 20.4 55 14.1 56 12.2 49.9 6 48.5 6.3 42.1 1 38.5 3.7 32.7 0 27.5 4.6 23 3 16.8 8.9 14.3 9.7 7.9 16.1 7.7 19.1 2 25.1 4.2 30 0 34.9 4.2 40.9 2 43.9 7.7 50.3 7.9 51.1 14.3 57 16.8 55.4 23 60 27.5 56.3 32.7 59 38.5 53.7 42.1 54 48.5 47.8 49.9 45.9 56 39.6 55 35.5 60"/>
            <circle cx="30" cy="30" r="22" class="circle"/>
          </g>
        </svg>
      </span>
      <span class="points">{{ points }}</span>
    </span>
  {% endif %}

</div>
