{% unless excerpt_truncate %}{% assign excerpt_truncate = 50 %}{% endunless %}
{% paginate blog.articles by paginate_amount %}
  <div class="blog-table">
    <div class="blog-content col-md-8 col-sm-12 p-140-cont">
      <div class="row-uniform">
        {% for article in blog.articles %}
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeIn pb-90">

            {% if article.image %}
              <a href="{{ article.url }}" title="{{ article.title }}">
                <div class="post-prev-img" style="background-image:url({{ article.image| img_url: '720x' }});background-size:cover;background-position:center;"></div>
              </a>
            {% endif %}

            <div class="post-prev-title">
              <h3><a href="{{ article.url }}"><strong>{{ article.title }}</strong></a></h3>
            </div>

            {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d-%b-%Y' }}</time>{% endcapture %}
            <div class="post-prev-info">
              {{ date }}
              {% if article.tags.size > 0 %}
                {% for tag in article.tags %}
                  {% if blog.handle == 'news' %}
                    {% if forloop.first %}<span class="slash-divider">/</span>{% endif %} <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>

            <div class="post-description mb-30">
              {% if article.excerpt.size > 0 %}
                <p>{{ article.excerpt | strip_html | truncatewords: excerpt_truncate }}</p>
              {% else %}
                <p>{{ article.content | strip_html | truncatewords: excerpt_truncate }}</p>
              {% endif %}
            </div>

            <div class="post-prev-more-cont clearfix">
              <div class="post-prev-more left">
                <a class="button thin rounded gray medium" href="{{ article.url }}">Read More</a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if paginate.pages > 1 %}
        <div class="col-xs-12 text-center">
          {% include pagination_template %}
        </div>
      {% endif %}
    </div>
    {% if sidebar %}
      <div class="blog-sidebar hidden-xs bg-light-gray col-md-4 col-sm-12 p-140-cont">
        {% include 'blog-sidebar' %}
      </div>
    {% endif %}
  </div>
{% endpaginate %}
