{% unless excerpt_truncate %}{% assign excerpt_truncate = 50 %}{% endunless %}
{% paginate blog.articles by paginate_amount %}
  <div class="container p-140-cont">
    <div class="row">
      <div class="col-sm-{% if sidebar %}8{% else %}%12{% endif %}">
        <div class="row masonry">
          {% for article in blog.articles %}
            <div class="col-sm-6 pb-90">
              {% if article.image %}
                <div class="post-prev-img">
                  <a href="{{ article.url }}">
                    {{ article | img_url: '1024x1024' | img_tag: article.title }}
                  </a>
                </div>
              {% endif %}

              <div class="post-prev-title">
                <h3><a href="{{ article.url }}"><strong>{{ article.title }}</strong></a></h3>
              </div>

              {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d-%b-%Y' }}</time>{% endcapture %}
              <div class="post-prev-info ">
                {{ date }}
                {% if article.tags.size > 0 %}
                  <span class="slash-divider">/</span>
                  {% for tag in article.tags %}
                    {% if tag == 'Media Releases' or  tag == 'Wine Reviews' or tag == 'Wine Awards' or tag == 'Announcements' or tag == 'Industry News' or tag == 'Region News'%}
                      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
                    {% endif %}
                  {% endfor %}
                {% endif %}
              </div>
              <div class="mb-30">
                {% if article.excerpt.size > 0 %}
                  {{ article.excerpt }}
                {% else %}
                  <p>{{ article.content | strip_html | truncatewords: excerpt_truncate }}</p>
                {% endif %}
              </div>
              <div class="post-prev-more-cont clearfix">
                <div class="post-prev-more left">
                  <a href="{{ article.url }}">Read More</a>
                </div>
                <!-- SOCIAL SHARING
                <div class="right" >
                  <a href="blog-single-sidebar-right.html#comments" class="post-prev-count"><span aria-hidden="true" class="icon_comment_alt"></span><span class="icon-count">21</span></a>
                  <a href="http://themeforest.net/user/abcgomel/portfolio?ref=abcgomel" class="post-prev-count"><span aria-hidden="true" class="icon_heart_alt"></span><span class="icon-count">53</span></a>
                  <a href="#" class="post-prev-count dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                    <span aria-hidden="true" class="social_share"></span>
                  </a>
                  <ul class="social-menu dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#"><span aria-hidden="true" class="social_facebook"></span></a>
                    </li>
                    <li><a href="#"><span aria-hidden="true" class="social_twitter"></span></a></li>
                    <li><a href="#"><span aria-hidden="true" class="social_dribbble"></span></a></li>
                  </ul>
                </div>
                -->
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      {% if sidebar %}{% include 'blog-sidebar' %}{% endif %}
    </div><!-- row -->
    <div class="row">
      {% include pagination_template %}
    </div>
  </div><!-- container -->
{% endpaginate %}
