{% assign excerpt_truncate = 18 %}
{% paginate blog.articles by paginate_amount %}
  <div class="container pt-110-b-60-cont">
    <div class="row">
      <div class="col-sm-{% if sidebar %}8{% else%}12{% endif %} blog-main-posts">
        <div class="row-uniform">
          {% for article in blog.articles %}
            <div class="cf clearfix col-xs-12 col-sm-12 col-md-4 col-lg-4 wow fadeIn pb-90">

              {% if article.image %}
                <a href="{{ article.url }}" title="{{ article.title }}">
                  <div class="post-prev-img" style="background-image:url({{ article.image| img_url: '720x' }});background-size:cover;background-position:center;"></div>
                </a>
              {% endif %}

              <div class="post-prev-title">
                <h3><a href="{{ article.url }}"><strong>{{ article.title }}</strong></a></h3>
              </div>

              {% capture date %}<time datetime="{{ article.published_at | date: '%Y-%m-%d' }}">{{ article.published_at | date: '%d-%b-%Y' }}</time>{% endcapture %}
              <div class="post-prev-info ">
                {{ date }}
              </div>

              <div class="post-description-large mb-30">
                {% if article.excerpt.size > 0 %}
                  <p>{{ article.excerpt | strip_html | truncatewords: excerpt_truncate }}</p>
                {% else %}
                  <p>{{ article.content | strip_html | truncatewords: excerpt_truncate }}</p>
                {% endif %}
              </div>

              <div class="post-prev-more-cont clearfix">
                <div class="post-prev-more left">
                  <a class="button thin rounded medium gray" href="{{ article.url }}">Read More</a>
                </div>
              </div>

            </div>
          {% endfor %}
        </div>
        {% if paginate.pages > 1 %}
          <div class="col-xs-12 text-center">
            {% include pagination_template %}
          </div>
        {% endif %}
      </div><!--col -->
      {% if sidebar %}{% include 'blog-sidebar' %}{% endif %}
  </div><!-- row -->
  </div><!-- container -->
{% endpaginate %}
