
  <a href="/" title="{{ 'general.breadcrumbs.home_link_title' | t }}">{{ 'general.breadcrumbs.home' | t }}</a>

  {% if template contains 'product' %}

    {% if collection %}
      <span aria-hidden="true" class="slash-divider">/</span>
      {% if collection.handle %}
        {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
        <a href="{{ url }}">{{ collection.title }}</a>
      {% endif %}
    {% endif %}
    <span aria-hidden="true" class="slash-divider">/</span>
    <span class="bread-current">{{ product.title }}</span>

  {% elsif template contains 'collection' and collection.handle %}

    <span aria-hidden="true" class="slash-divider">/</span>
    {% if current_tags %}
      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
      <a href="{{ url }}">{{ collection.title }}</a>
      <span aria-hidden="true" class="slash-divider">/</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
      <span class="bread-current">{{ collection.title }}</span>
    {% endif %}

  {% elsif template == 'blog' %}

    <span aria-hidden="true" class="slash-divider">/</span>
    {% if current_tags %}
      <a href="{{ blog.url }}">{{ blog.title }}</a>
      <span aria-hidden="true" class="slash-divider">/</span>
      <span>{{ current_tags | join: " + " }}</span>
    {% else %}
    <span class="bread-current">{{ blog.title }}</span>
    {% endif %}

  {% elsif template == 'article' %}

    <span aria-hidden="true" class="slash-divider">/</span>
    <a href="{{ blog.url }}">{{ blog.title }}</a>
    <span aria-hidden="true" class="slash-divider">/</span>
    <span class="bread-current">{{ article.title }}</span>

  {% elsif template contains 'page' %}

   <span aria-hidden="true" class="slash-divider">/</span>
   <span class="bread-current">{{ page.title }}</span>

  {% else %}

   <span aria-hidden="true" class="slash-divider">/</span>
   <span class="bread-current">{{ page_title }}</span>

  {% endif %}
