<div class="container">
  <div class="col-lg-12 fes7-text-cont p-80-cont">
    {% if button_text != blank and button_link != blank %}
      <p class="{% if body_align != blank %} text-{{ body_align }}{% endif %}">
        <a class="button medium rounded thin gray" href="{{ button_link }}" title="{{ button_text }}">{{ button_text }}</a>
      </p>
    {% endif %}
  </div>
</div>
