<div class="page-section p-60-cont">
  <div class="container">
    {% paginate collection.products by paginate_amount %}
      <div class="row">
        {% if sidebar %}
          <div class="col-sm-3 hidden-xs">
            {% include 'collection-sidebar' %}
          </div>
        {% endif %}
        <div class="col-sm-{% if sidebar %}9{% else %}12{% endif %}">

          <div class="row-uniform">

            {% for product in collection.products %}
            
              {% include 'product-grid-item' %}

            {% else %}

              {% if collection.handle == 'all' and current_tags == '' %}

                {% unless emptyState %}
                  {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
                  {% assign emptyState = true %}
                {% endunless %}
                {% include 'onboarding-empty-collection' %}

              {% else %}

                <div class="col-md-12">
                  <p>{{ 'collections.general.no_matches' | t }}</p>
                </div>

              {% endif %}

            {% endfor %}

          </div>
        </div>
      </div>
      {% include pagination_template %}
    {% endpaginate %}
  </div>
</div>
