{% case include %}
  {% when 'content-with-image' %}
    {% include include %}
  {% when 'full-width-text' %}
    {% include include %}
  {% when 'seperator' %}
    {% include include %}
  {% when 'content-title' %}
    {% include include %}
  {% when 'quote' %}
    {% include include %}
  {% when 'content-text-block' %}
    {% include include %}
  {% when 'logo-bar' %}
    {% include include %}
  {% when 'button' %}
    {% include include %}
  {% when 'image-blocks' %}
    {% include include %}
  {% when 'content-page' %}
    {% include include %}
  {% when 'image' %}
    {% unless image_width %}{% assign image_width = '500x' %}{% endunless %}
    <img src="{{ image | img_url: image_width }}">
{% endcase %}
