{% if image != blank %}
  <div class="fes7-img-cont col-md-5{% if reverse %} col-md-push-7{% endif %}">
    <div class="fes7-img" style="background-image: url({{ image | img_url: '1000x' }}); background-size: {{ image_size }};"></div>
  </div>
{% endif %}
<div class="container">
  <div class="col-md-6 fes7-text-cont {% unless reverse %} col-md-offset-6{% endunless %}">
    <h1 class="h3{% if heading_align != blank %} text-{{ heading_align }}{% endif %}">{{ title }}</h1>
    <p class="mb-60 feature{% if body_align != blank %} text-{{ body_align }}{% endif %}">
      {{ content }}
    </p>
    {% if button_text != blank and button_link != blank %}
      <p class="{% if body_align != blank %} text-{{ body_align }}{% endif %}">
        <a class="button medium rounded thin gray" href="{{ button_link }}" title="{{ button_text }}">{{ button_text }}</a>
      </p>
    {% endif %}
  </div>
</div>
