<div class="container-fluid">
  <div class="row">
    {% if address != blank %}
      <div class="col-md-6">
        <div class="row row-sm-fix">
          <div data-address="{{ address }}" id="google-map"></div>
        </div>
      </div>
    {% endif %}

    <div class="col-md-6 text-center">
      <h1><span>{{ title }}</span></h1>
      <p class="mb-60">
        {{ content }}
      </p>
      <p class="mb-60">
        {% if button_text != blank and button_link != blank %}
          <a class="button medium rounded gray" href="{{ button_link }}" title="{{ button_text }}">{{ button_text }}</a>
        {% endif %}
      </p>
    </div>
  </div>
</div>
