<div class="row">
  <div class="col-md-12 fes7-text-cont">
    {% if title != blank %}<{{ heading }} class="text-{{ heading_align }}">{{ title }}</{{ heading }}>{% endif %}
    {% if icon != 'none' %}<p class="text-{{ body_align }}">{% include 'icon' with icon %}</p>{% endif %}
    <p class="text-{{ body_align }}">{{ content }}</p>
  </div>
</div>
