<div class="col-xs-6 col-sm-3 col-md-2">
  <h6 class="mb-30 text-center">{{ title }}</h6>

  <div class="post-prev-img">
    <a href="#" data-toggle="modal" data-target=".{{ handle }}"><img src="{{ image | img_url: '300x' }}" alt="{{ title }} flag"></a>
  </div>

</div>

<!-- Modal -->
<div class="modal fade {{ handle }} bootstrap-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-body">
      <div class="modal-content border-none border-rad-0">
        <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">{% include 'icon' with 'close' %}</button>
        <img src="{{ image | img_url: '300x' }}" alt="{{ title }}">
        <div class="pt-20 p-40">
          <h6 class="mb-0 text-center">{{ title }}</h6>
        </div>
        <div class="row">

        </div>
      </div>
    </div>
  </div>
</div>
