{% if text_style == blank %}{% assign text_style = 'p' %}{% endif %}
{% unless align %}{% assign align = 'left' %}{% endunless %}
<{{ text_style }} class="text-{{ align }}">
  {% if default_content %}{{ page.content }}{% else %}{{ content }}{% endif %}
</{{ text_style }}>
