{% if shop.name contains 'Bunker' %}
  <link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Montserrat:400,500,700" rel="stylesheet">
{% else %}
  <link href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant+SC:600,700" rel="stylesheet">
{% endif %}
