<div class="container">
  <ul class="port-grid port-grid-2 clearfix" id="items-grid">
    {% if image_1 != blank %}
      <li class="port-item greyscale mix design">
        <a href="{{ link_1 }}">
          <div class="port-img-overlay">
            <img class="port-main-img" src="{{ image_1 | img_url: '855x570', crop: 'center' }}" alt="img" >
          </div>
          <div class="port-overlay-cont">
            <div class="port-title-cont2">
              <div>
                <h3>{{ title_1 }}</h3>
              <div>
              <span>{{ subtitle_1 }}</span>
            </div>
          </div>
        </a>
      </li>
    {% endif %}
    {% if image_2 != blank %}
      <li class="port-item greyscale mix design">
        <a href="{{ link_2 }}">
          <div class="port-img-overlay">
            <img class="port-main-img" src="{{ image_2 | img_url: '855x570', crop: 'center' }}" alt="img" >
          </div>
          <div class="port-overlay-cont">
            <div class="port-title-cont2">
              <div>
                <h3>{{ title_2 }}</h3>
              <div>
              <span>{{ subtitle_2 }}</span>
            </div>
          </div>
        </a>
      </li>
    {% endif %}
    {% if image_3 != blank %}
      <li class="port-item greyscale mix design">
        <a href="{{ link_3 }}">
          <div class="port-img-overlay">
            <img class="port-main-img" src="{{ image_3 | img_url: '855x570', crop: 'center' }}" alt="img" >
          </div>
          <div class="port-overlay-cont">
            <div class="port-title-cont2">
              <div>
                <h3>{{ title_3 }}</h3>
              <div>
              <span>{{ subtitle_3 }}</span>
            </div>
          </div>
        </a>
      </li>
    {% endif %}
    {% if image_4 != blank %}
      <li class="port-item greyscale mix design">
        <a href="{{ link_4 }}">
          <div class="port-img-overlay">
            <img class="port-main-img" src="{{ image_4 | img_url: '855x570', crop: 'center' }}" alt="img" >
          </div>
          <div class="port-overlay-cont">
            <div class="port-title-cont2">
              <div>
                <h3>{{ title_4 }}</h3>
              <div>
              <span>{{ subtitle_4 }}</span>
            </div>
          </div>
        </a>
      </li>
    {% endif %}
  </ul>
</div>
