<!-- snippets/logo-bar.liquid -->
{% assign count = 0 %}
{% if image_1 != blank %}
  {% assign count = count | plus: 1 %}
{% endif %}
{% if image_2 != blank %}
  {% assign count = count | plus: 1 %}
{% endif %}
{% if image_3 != blank %}
  {% assign count = count | plus: 1 %}
{% endif %}
{% if image_4 != blank %}
  {% assign count = count | plus: 1 %}
{% endif %}
{% if count > 0 %}{% assign col = 12 | divided_by: count %}{% else %}{% assign col = 12 %}{% endif %}

<div class="row logo-bar text-center">
  {% if image_1 != blank %}
    <img class="col-sm-6 col-md-{{ col }} v-center p-50-cont" src="{{ image_1 | img_url: '500x' }}"><!--
  {% endif %}
  {% if image_2 != blank %}
--><img class="col-sm-6 col-md-{{ col }} v-center p-50-cont" src="{{ image_2 | img_url: '500x' }}"><!--
  {% endif %}
  {% if image_3 != blank %}
--><img class="col-sm-6 col-md-{{ col }} v-center p-50-cont" src="{{ image_3 | img_url: '500x' }}"><!--
  {% endif %}
  {% if image_4 != blank %}
--><img class="col-sm-6 col-md-{{ col }} v-center p-50-cont" src="{{ image_4 | img_url: '500x' }}"><!--
  {% endif %}
-->
</div>
