{% if customer and customer.tags contains 'club_member' %}
  {% assign club_member = true %}
{% endif %}
{% for tag in product.tags %}
  {% if tag contains 'tier_' %}
    {% assign club_tier = tag | remove: 'tier_' %}
    {% assign club_tier = club_tier | plus: 0 %}
    {% assign club_product = true %}
  {% endif %}
{% endfor %}

{% assign discount_from = 0.95 %}

{% if club_tier == 1 %}
  {% assign club_discount_percent = 0.95 %}
  {% assign club_discount_title = '5%' %}
{% elsif club_tier == 2 %}
  {% assign club_discount_percent = 0.90 %}
  {% assign club_discount_title = '10%' %}
{% elsif club_tier == 3 %}
  {% assign club_discount_percent = 0.85 %}
  {% assign club_discount_title = '15%' %}
{% else %}
  {% assign club_discount_percent = 1 %}
  {% assign club_discount_title = 'not avalable' %}
{% endif %}
