<!-- MEGA MENU ITEM -->
<li class="parent megamenu">
  <a href="{{ link.url }}" class="open-sub"><div class="main-menu-title">{{ link.title }}</div></a>
  {% assign c = linklists[link.handle].links %}
  {% if c.size > 0 %}
  <ul class="sub">
    <li>

      <div class="menu-sub-container">

        {% for ci in c %}
        <div class="box col-md-3 nofloat closed">
          <h5 class="title open-sub">{{ ci.title }}</h5>
          {% assign c2 = linklists[ci.handle].links %}
          {% if c2.size > 0 %}
          <ul>
            {% for c2i in c2 %}
            <li><a href="{{ c2i.url }}">{{ c2i.title }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>

        {% endfor %}

      </div>

    </li>
  </ul>
  {% endif %}
</li>	