{% assign child = linklists[link.handle].links %}
<!-- MENU ITEM -->
<li class="{% if child.size > 0 %}parent{% endif %}{% if link.active %} current{% endif %}{% if link.title == 'Wineries' %} hidden-md hidden-lg{% endif %}">
  <a href="{{ link.url }}" class="{% if child.size > 0 %}open-sub{% endif %}{% if link.active %} current{% endif %}">{{ link.title }}<span class="arrow">{% if child.size > 0 %}{% include 'icon' with 'right' %}{% endif %}</span></a>
  {% if child.size > 0 %}
  <ul class="sub">
    {% for ci in child %}
    	{% include 'nav-item' link: ci %}
    {% endfor %}
  </ul>
  {% endif %}
</li>
