<!-- MENU ITEM -->
<li id="menu-contact-info-big" class="parent megamenu">
  <a href="{{ link.url }}" class="open-sub"><div class="main-menu-title">{{ link.title }}</div></a>
  <ul class="sub">
    <li class="clearfix" >
      <div class="menu-sub-container">

        {% assign c = linklists[link.handle] %}
        {% if c.links.size > 0 %}
        <div class="box col-md-3 menu-demo-info closed">
          
          <h5 class="title open-sub">{{ c.title }}</h5>
          <ul>
            {% for ci in c.links %}
            <li><a href="{{ ci.url }}">{{ ci.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <div class="col-md-3 menu-contact-info">
          <ul class="contact-list">
            <li class="contact-loc clearfix">
              <div class="loc-icon-container">
                <div class="icon icon-basic-map main-menu-contact-icon"></div>
              </div>
              <div class="menu-contact-text-container">{{ settings.mega_item3_address }}</div>
            </li>
            <li class="contact-phone clearfix">
              <div class="loc-icon-container">
                <div class="icon icon-basic-smartphone main-menu-contact-icon"></div>
              </div>	
              <div class="menu-contact-text-container">{{ settings.mega_item3_phone }}</div>
            </li>
            <li class="contact-mail clearfix" >
              <div class="loc-icon-container">
                <div class="icon icon-basic-mail main-menu-contact-icon"></div>
              </div>
              <div class="menu-contact-text-container">							
                <a class="a-mail" href="mailto:{{ settings.mega_item3_email }}">{{ settings.mega_item3_email }}</a>
              </div>	
            </li>
          </ul>
        </div>

        <div class="col-md-6 menu-map-container hide-max-960 ">
          <!-- Google Maps -->
          <div class="google-map-container">
            <img src="{{ settings.mega_item3_map }}" alt="alt">
          </div>
          <!-- Google Maps / End -->	
        </div>

      </div>
    </li>
  </ul>
</li>