{% if title == blank %}{% assign title_text = page_title %}{% else %}{% assign title_text = title %}{% endif %}
<div class="page-title page-title-cont page-title-large4-cont">
  <div class="{% unless content_table %}relative container{% endunless %} text-left text-xs-center">
    <div class="row">

      <div class="col-md-8">
        <h1 class="page-title4">
          {% if collection.title contains 'Millbrook Winery' %}
            {% include 'icon' with 'millbrooklogo' %}
          {% elsif collection.title contains 'Deep Woods Estate' %}
            {% include 'icon' with 'deepwoodslogo' %}
          {% elsif collection.title contains 'Smithbrook' %}
            {% include 'icon' with 'smithbrooklogo' %}
          {% elsif collection.title contains "Lake's Folly" %}
            {% include 'icon' with 'lakesfollylogo' %}
          {% else %}
          {{ title_text }}
          {% endif %}
        </h1>
      </div>

    </div>
  </div>
</div>
