{% if title == blank %}{% assign title_text = page_title %}{% else %}{% assign title_text = title %}{% endif %}
<div class="page-title page-title-large3-cont bg-v-dark-gray header-shadow" {% if image != blank %}style="background-image: url({{ image | img_url: '2000x' }})"{% endif %}>
  <div class="relative container align-left">

      <div class="page-title-large3-text-cont text-center">
        <div>
          <h1 class="page-title3 text-white">- {{ title_text }} -</h1>
        </div>
      </div>

  </div>
</div>
