{% if title == blank %}{% assign title_text = page_title %}{% else %}{% assign title_text = title %}{% endif %}
<div class="relative indent-header bg-v-dark-gray header-shadow">
  <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_280_1_wrapper" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
    <div class="rev_slider fullwidthabanner" data-version="5.1.4" id="rev_slider_280_1" style="display:none;">
      <ul>
        <!-- SLIDE  -->
        <li data-index="rs-672" data-transition="fade" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-rotate="0" data-saveperformance="off" data-description="">
          <!-- MAIN IMAGE -->
          {% if image != blank %}<img src="{{ image | img_url: '2000x' }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>{% endif %}
          <div class="h1 tp-caption font-white tp-resizeme rs-parallaxlevel-6" id="slide-898-layer-1" style="z-index: 8; white-space: nowrap;"
               data-fontsize="['54','54','62','52']"
               data-fontweight="600"
               data-height="none"
               data-lineheight="['80','82','74','64']"
               data-responsive_offset="on"
               data-splitin="none"
               data-splitout="none"
               data-start="1050"
               data-transform_idle="o:1;"
               data-transform_in="z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;s:1500;e:Power3.easeInOut;"
               data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
               data-mask_in="x:0px;y:0px;"
               data-mask_out="x:inherit;y:inherit;"
               data-whitespace="nowrap"
               data-width="none"
               data-x="['center','center','center','center']"
               data-hoffset="['0','0','0','0']"
               data-y="['bottom','bottom','bottom','bottom']"
               data-voffset="['50','50','50','50']">
            {% unless no_title %}- {{ title_text }} -{% endunless %}
          </div>

        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
  <!-- END REVOLUTION SLIDER -->

</div>
<!-- SLIDER REVOLUTION INITIALIZATION  -->
<script type="text/javascript">
  jQuery(document).ready(function() {

    jQuery("#rev_slider_280_1").show().revolution({
      sliderType: "hero",
      jsFileLocation: "",
      extensions: "",
      sliderLayout: "fullwidth",
      dottedOverlay: "none",
      delay: 9000,
      responsiveLevels: [1240, 1024, 778, 480],
      visibilityLevels: [1240, 1024, 778, 480],
      gridwidth: [1240, 1024, 778, 480],
      gridheight: [500, 450, 400, 400],
      lazyType: "none",
      parallax: {
        type: "off",
        origo: "slidercenter",
        speed: 1000,
        levels: [0],
        type: "scroll",
        disable_onmobile: "on"
      },
      shadow: 0,
      spinner: "spinner2",
      autoHeight: "off",
      fullScreenAutoWidth: "off",
      fullScreenAlignForce: "off",
      fullScreenOffsetContainer: "",
      fullScreenOffset: "",
      disableProgressBar: "on",
      hideThumbsOnMobile: "off",
      hideSliderAtLimit: 0,
      hideCaptionAtLimit: 0,
      hideAllCaptionAtLilmit: 0,
      debugMode: false,
      fallbacks: {
        simplifyAll: "off",
        disableFocusListener: false,
      }
    });

  }); /*ready*/
</script>
