{% assign count = paginate.pages %}
{% if paginate.pages > 1 %}
  <div class="row mt-0">
    <nav class="blog-pag{% if pagination_center %} text-center{% endif %}">
      <ul class="pagination pag2 m-0">
        {% if paginate.previous %}
          <li><a href="{{ paginate.previous.url }}" data-number="{{ paginate.current_page | minus: 1 }}" class="PaginationLink"><</a></li>
        {% endif %}
        {% if paginate.next %}
          <li><a href="{{ paginate.next.url }}" data-number="{{ paginate.current_page | plus: 1 }}" class="PaginationLink">></a></li>
        {% endif %}
      </ul>
    </nav>
  </div>
{% endif %}
