{% if paginate.pages > 1 %}
  <ul class="custom-pagination">
    {% if paginate.previous %}
      <li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}"><</a></li>
    {% endif %}

    {% assign number = paginate.current_page | minus: 2 %}
    {% unless number < 1 %}
      <li>
        <a href="{{ collection.url }}{% if current_tags %}/{% for tag in current_tags %}{% unless forloop.first %}+{% endunless %}{{ tag }}{% endfor %}{% endif %}?page={{ number }}{% if collection.current_type %}types?q={{ collection.current_type }}{% endif %}{% if collection.current_vendor %}{{ collection.current_vendor }}vendors?q={% endif %}">{{ number }}</a>
      </li>
    {% endunless %}

    {% assign number = paginate.current_page | minus: 1 %}
    {% unless number < 1 %}
      <li>
        <a href="{{ collection.url }}{% if current_tags %}/{% for tag in current_tags %}{% unless forloop.first %}+{% endunless %}{{ tag }}{% endfor %}{% endif %}?page={{ number }}{% if collection.current_type %}types?q={{ collection.current_type }}{% endif %}{% if collection.current_vendor %}{{ collection.current_vendor }}vendors?q={% endif %}">{{ number }}</a>
      </li>
    {% endunless %}

    <li class="current">
      <a href="{{ collection.url }}{% if current_tags %}/{% for tag in current_tags %}{% unless forloop.first %}+{% endunless %}{{ tag }}{% endfor %}{% endif %}?page={{ paginate.current_page }}{% if collection.current_type %}types?q={{ collection.current_type }}{% endif %}{% if collection.current_vendor %}{{ collection.current_vendor }}vendors?q={% endif %}">{{ paginate.current_page }}</a>
    </li>


      {% assign number = paginate.current_page | plus: 1 %}
      {% unless number > paginate.pages %}
        <li>
          <a href="{{ collection.url }}{% if current_tags %}/{% for tag in current_tags %}{% unless forloop.first %}+{% endunless %}{{ tag }}{% endfor %}{% endif %}?page={{ number }}{% if collection.current_type %}types?q={{ collection.current_type }}{% endif %}{% if collection.current_vendor %}{{ collection.current_vendor }}vendors?q={% endif %}">{{ number }}</a>
        </li>
      {% endunless %}

      {% assign number = paginate.current_page | plus: 2 %}
      {% unless number > paginate.pages %}
        <li>
          <a href="{{ collection.url }}{% if current_tags %}/{% for tag in current_tags %}{% unless forloop.first %}+{% endunless %}{{ tag }}{% endfor %}{% endif %}?page={{ number }}{% if collection.current_type %}types?q={{ collection.current_type }}{% endif %}{% if collection.current_vendor %}{{ collection.current_vendor }}vendors?q={% endif %}">{{ number }}</a>
        </li>
      {% endunless %}

    {% if paginate.next %}
      <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">></a></li>
    {% endif %}
  </ul>
{% endif %}
