{% comment %}

This snippet renders a custom widget based on the current 'paginate' context,
defined in { % paginate XXXX by 5 % } tags wrapping the content.
The example below breaks the pagination down so you can setup your own styles and behavior if you wish.

Basic Pagination Usage:
<div class="pagination">
  {{ paginate | default_pagination }}
</div>

Replace Text:
<div class="pagination">
  {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
</div>

More information:
- index#pagination
- http://docs.shopify.com/themes/liquid-variables/paginate

{% endcomment %}
<div class="row mt-0">
  <nav class="blog-pag">
  <ul class="pagination pag2 m-0">
    {% if paginate.previous %}
      <li><a href="{{ paginate.previous.url }}" title="{{ paginate.previous.title }}"><</a></li>
    {% else %}
      <li class="disabled"><a><i class="fa fa-angle-left"></i></a></li>
    {% endif %}

    {% for part in paginate.parts %}
    {% if part.is_link %}
    <li>
      <a href="{{ part.url }}" title="">{{ part.title }}</a>
    </li>
    {% else %}
    {% if part.title == paginate.current_page %}
    <li class="active"><a>{{ part.title }}</a></li>
    {% else %}
    <li><a>{{ part.title }}</a></li>
    {% endif %}
    {% endif %}
    {% endfor %}

    {% if paginate.next %}
      <li><a href="{{ paginate.next.url }}" title="{{ paginate.next.title }}">></a></li>
    {% else %}
      <li class="disabled"><a><i class="fa fa-angle-right"></i></a></li>
    {% endif %}
  </ul>
  </nav>
</div>
