<!-- HEADER 1 WITOUT MENU FONT BLACK TRANSPARENT -->
<header id="nav" class="header-1">
  <div>
    <div class="container-m-30 clearfix">
      <div class="logo-row">

        <!-- LOGO -->
        <div class="logo-container-2">
          <div class="logo-2">
            <a href="{{ shop.url }}" class="clearfix">
              <img src="{{ 'logo.png' | asset_url }}" class="logo-img" alt="Logo">
            </a>
          </div>
        </div>

      </div>
    </div>

  </div>
  <!-- END header-wrapper -->

</header>

<div class="sm-img-bg-fullscr js-height-fullscr relative">
  <div class="container block-center-y">
    <div class="row">
      <div class="col-sm-offset-1 col-md-8 cs-main-text-container2">

        <h1 class="font-poppins"><strong>{{ title }}</strong></h1>
        <h3>{{ sub_title }}</h3>

        <div class="mb-20">
          {% comment %}
            <!-- CLOCK -->
            <div id="clock" class="clearfix"></div>
          {% endcomment %}
        </div>

      </div>
      <div class="col-sm-offset-1 col-md-5 col-sm-6">

        <!-- NEWS LETTER BIG -->
        <div class="relative" >
          <div id="mc_embed_signup" class="nl-form-container nl-coming-soon1 clearfix">
            {% form 'customer' %}
              {{ form.errors | default_errors }}
              {% if form.posted_successfully? %}
                <p class="form-success">Thank you for signing up!</p>
              {% else %}
                <p class="h4">Enter your email for updates</p>
                <input type="hidden" name="contact[tags]" value="prospect, password page">
                <label for="email" class="hidden-label">Email</label>
                <div class="input-group">
                  <input type="text" name="contact[email]" id="email" class="input-group-field" placeholder="Email">
                  <span class="input-group-btn">
                    <input type="submit" class="btn password-page__signup-form__submit" value="Email">
                  </span>
                </div>
              {% endif %}
            {% endform %}
            <div id="notification_container"  ></div>
          </div>
        </div>

        <div class="relative" >
          <div id="mc_embed_signup" class="nl-form-container nl-coming-soon1 clearfix">

            {% form 'storefront_password' %}
            <p class="h4">Early Access login</p>
              {{ form.errors | default_errors }}
              <label for="password" class="hidden-label">Password</label>
              <div class="input-group">
                <input type="password" name="password" id="password" class="input-group-field" placeholder="Password" autofocus>
                <span class="input-group-btn">
                  <input type="submit" class="btn password-page__login-form__submit" value="Enter">
                </span>
              </div>
            {% endform %}

          </div>
        </div>

      </div>

    </div>

  </div>
</div>
<!-- COUNTDOWN -->
{{ 'jquery.countdown.min.js' | asset_url | script_tag }}
<script>
  //COUNTDOWN -----------------------------------------------------------------------------
  $('#clock').countdown('2017/10/10').on('update.countdown', function(event) {
    var $this = $(this).html(event.strftime(''
    + '<div class="countdown-item-container3"><span class="countdown-amount">%D</span><span class="countdown-period">Day%!D</span></div>'
    + '<div class="countdown-item-container3"><span class="countdown-amount">%H</span><span class="countdown-period">Hour%!H</span></div>'
    + '<div class="countdown-item-container3"><span class="countdown-amount">%M</span><span class="countdown-period">Minute%!M</span></div>'
    + '<div class="countdown-item-container3"><span class="countdown-amount">%S</span><span class="countdown-period">Second%!S</span></div>'));
  });
</script>
