<!-- /snippets/popup-gallery.liquid -->

<div class="popup" role="alert" id="PopupGallery">
  <div class="popup-inner">
    <div class="popup-outside"></div>
    <div class="popup-content container">
      <div class="popup-content-inner">
        <a href="#close" class="popup-close" aria-label="{{ 'common.close' | t }}">{% include 'icon' with 'close' %}</a>
        <div class="loader3"></div>
        <div id="Previous" class="left">{% include 'icon' with 'left' %}</div>
        <div id="Next" class="right">{% include 'icon' with 'right' %}</div>
      </div>
    </div>
  </div>
</div>
