
{% include 'loyalty-logic' %}

{% unless grid_item_width %}
  {% assign grid_item_width = 'col-lg-4 col-sm-6' %}
{% endunless %}

{% unless title %}
  {% assign title = product.title %}
{% endunless %}

{% unless image %}
  {% assign image = product.featured_image.src %}
{% endunless %}

{% unless link %}
  {% assign link = product.url | within: collection %}
{% endunless %}

{% unless image_alt %}
  {% assign image_alt = product.featured_image.alt | escape  %}
{% endunless %}

{% unless price_cellar_door %}
  {% assign price_cellar_door = product.price | money  %}
{% endunless %}

{% unless price_club %}
  {% assign price_club = product.price | times: club_discount_percent | money  %}
{% endunless %}

{% unless current_collection == blank %}
  {% assign current_collection = collection %}
{% endunless %}

{% assign on_sale = false %}
{% assign sale_text = 'products.product.sale' | t %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% assign sold_out = true %}
{% assign sold_out_text = 'products.product.sold_out' | t %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}


<div class="{{ grid_item_width }}">
  <div class="post-prev-img">
    {% include 'badges' %}
    <a href="{{ link }}"><img src="{{ image | img_url: 'grande' }}" alt="{{ image_alt }}"></a>
  </div>

  <div class="post-prev-title mb-5 text-center">
    <h3><a class="font-norm a-inv" href="{{ link }}">{{ title }}</a></h3>
  </div>

  <div class="shop-price-cont text-center">
    <div class="row mb-30">
      <div class="col-xs-6">
        <small>Cellar Door</small><br>
        {{ price_cellar_door }}
      </div>
      <div class="col-xs-6">
        <small>Club Price</small><br>
        {{ price_club }}
      </div>
    </div>
      <div class="shop-add-btn-cont">
        <button style="display: none;" value="{{ product.variants.first.id }}" data-sold-out="{{ sold_out }}" name="add" id="collectionAddToCart" class="button medium thin rounded gray shop-add-btn">{{ 'products.product.add_to_cart' | t }}</button>
      </div>
      <div class="shop-sub-btn-cont">
        {% include 'wish-app-toggle' %}
      </div>
    <hr>
  </div>
</div>

{% assign title = false %}
{% assign image = false %}
{% assign link = false %}
{% assign image_alt = false %}
{% assign price_cellar_door = false %}
{% assign price_club = false %}
