{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% unless tab_style %}{% assign tab_style = 3 %}{% endunless %}
{% assign desc = product.content | split: '[split]' %}

{% for item in desc %}
  {% if item contains '[badge' %}
    {% assign award_shortcode = item | replace: '[badge', '[split][badge' | split: '[split]' %}
    {% assign award_shortcode = award_shortcode[1] | replace: ']', '][split]' | split: '[split]' %}
    {% assign award_shortcode = award_shortcode[0] %}
  {% endif %}
{% endfor %}
{% for item in desc %}
  {% if item contains '[points' %}
    {% assign points_shortcode = item | replace: '[points', '[split][points' | split: '[split]' %}
    {% assign points_shortcode = points_shortcode[1] | replace: ']', '][split]' | split: '[split]' %}
    {% assign points_shortcode = points_shortcode[0] %}
  {% endif %}
{% endfor %}

<div class="container product-single">
  <div class="row product-single__hero p-80-cont">
    <div class="col-sm-12 mb-50">
      {% if product.compare_at_price_max > product.price and settings.collections_show_sale_circle %}
        <div class="sale-label-cont">
          <span class="sale-label label-danger bg-yellow font-poppins"><strong>{{ 'products.product.sale' | t }}</strong></span>
        </div>
      {% endif %}
      <div class="post-prev-img popup-gallery product-single__photos" id="ProductPhoto">
        <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-image-id="{{ featured_image.id }}">
      </div>
    </div>

    <div class="col-sm-12">
      <h1 class="mt-0 mb-5" itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">{{ product.title }}</h1>
    </div>
    <div class="col-sm-12 mb-50">
      {% if points_shortcode %}
        {% include 'shortcode' load: points_shortcode %}
      {% endif %}
      {% if award_shortcode %}
        {% include 'shortcode' load: award_shortcode %}
      {% endif %}
    </div>
    <div class="col-sm-12" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">
      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">


        <select name="id" id="productSelect" class="product-single__variants">
          {% for variant in product.variants %}
            {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
            {% endif %}
          {% endfor %}
        </select>


        <div class="row mb-50">
          <div class="col-xs-12">
            <div class="price_1">
              {% if club_product %}<label>Cellar Door</label>{% endif %}
              <span id="ProductPrice" class="h2{% if club_member %} discounted{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}">
                {{ current_variant.price | money }}
              </span>
              {% if product.compare_at_price_max > product.price %}
                <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                <p id="ComparePrice">
                  {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
                </p>
              {% endif %}
            </div>
            {% if club_product %}
              <div class="price_2">
                <label>{{ 'products.product.club_price' | t }}</label>
                <span {% unless club_member %}id="club_price"{% endunless %} class="h2">{{ current_variant.price | times: club_discount_percent | money }}</span>
              </div>
            {% endif %}
            {% unless club_member %}<a href="/account/login">What's the "{{ 'products.product.club_price' | t }}", and how can I get it?</a>{% endunless %}
          </div>
        </div>


        <div class="row mb-40 product-single__quantity">
          {% if current_variant.available %}
            <div class="col-xs-4 col-sm-2 col-md-2">
              <span>Bottles</span>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="w-100 quantity-selector">
            </div>
          {% endif %}

          <div class="col-xs-8 col-sm-6 col-md-6">
            <div class="pl-15 pl-sm-0 post-prev-more-cont clearfix">
              <div class="shop-add-btn-cont">
                <button type="submit" name="add" id="AddToCart" class="button medium full-rounded gray shop-add-btn">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </div>
              <div class="shop-sub-btn-cont">

                <a href="#" class="post-prev-count"><span aria-hidden="true" class="icon_heart_alt"></span></a>
                {% if settings.social_sharing_products %}
                {% include 'social-sharing' %}
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container mb-100">
  <div>
    {% assign count = 0 %}
    <div class="tabs-{{ tab_style }}">
      <ul class="nav nav-tabs xs-tabs-transform bootstrap-tabs ">
        {% for item in desc %}
        {% if item contains '<h2>' %}
          {% assign tab_title = item | split: '<h2>'%}
          {% assign tab_title = tab_title[1] | split: '</h2>' %}
          {% assign tab_title = tab_title[0] %}
        {% endif %}
        {% assign count = count | plus: 1 %}
          <li{% if forloop.first %} class="active"{% endif %}>
            <a href="#tab-{{ count }}" class="font-poppins font-16" data-toggle="tab">{{ tab_title }}</a>
          </li>
        {% endfor %}
      </ul>
      <!-- END nav tabs -->
      {% assign count = 0 %}
      <!-- Tab panes -->
      <div class="tab-content">
        {% for item in desc %}
        {% assign count = count | plus: 1 %}
          <div class="tab-pane fade in{% if forloop.first %} active{% endif %}" id="tab-{{ count }}">
            {% include 'shortcode' load: item %}
          </div>
        {% endfor %}
      </div>
      <!-- END tab panes -->
    </div>
    <!-- END tabs  -->

  </div>
</div>


<script>
  // Tabs
  $(document).ready(function() {
    $(".tab-menu a").click(function(event) {
      event.preventDefault();
      $(this).parent().addClass("current");
      $(this).parent().siblings().removeClass("current");
      var tab = $(this).attr("href");
      $(".tab-content").not(tab).css("display", "none");
      $(tab).fadeIn();
    });
  });

  // Option Selection
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
