{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign current_variant = product.selected_or_first_available_variant %}
{% unless tab_style %}{% assign tab_style = 3 %}{% endunless %}

{% assign desc = product.content | split: '[split]' %}

<div class="container product-single">
  <div class="row product-single__hero p-80-cont">
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-12 mb-50">
          {% if product.compare_at_price_max > product.price and settings.collections_show_sale_circle %}
            <div class="sale-label-cont">
              <span class="sale-label"><strong>{{ 'products.product.sale' | t }}</strong></span>
            </div>
          {% endif %}
          <div class="post-prev-img popup-gallery product-single__photos" id="ProductPhoto">
            <img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" data-image-id="{{ featured_image.id }}">
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h1 class="mt-0 mb-5 h3" itemprop="name" content="{{ product.title }}{% unless current_variant.title == 'Default Title' %} - {{ current_variant.title }}{% endunless %}">{{ product.title }}</h1>
        </div>
        <div class="col-sm-12 mb-50 text-center">
          <div class="points_wrapper">
            {% include 'product-badges' %}
          </div>
        </div>
        <div class="col-sm-12" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">
          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">


            <select name="id" id="productSelect" class="product-single__variants">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - {{ 'products.product.sold_out' | t }}
                  </option>
                {% endif %}
              {% endfor %}
            </select>


            <div class="row">
              <div class="col-xs-12">
                  <div class="col-xs-6 text-center">
                    {% if club_product %}
                      <label class="h6">Cellar Door</label><br>
                    {% endif %}
                    <span id="ProductPrice" class="h2{% if club_member %} discounted{% endif %}" itemprop="price" content="{{ current_variant.price | divided_by: 100 }}">
                      {{ current_variant.price | money }}
                    </span>

                    {% if product.compare_at_price_max > product.price %}
                      <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
                      <p id="ComparePrice">
                        {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
                      </p>
                    {% endif %}
                  </div>

                  <div class="col-xs-6 text-center">
                    {% if club_product %}
                      <label class="h6" {% unless club_member %}id="club_price"{% endunless %} >{{ 'products.product.club_price' | t }}</label><br>
                      <span {% unless club_member %}id="club_price"{% endunless %} class="h2">{{ current_variant.price | times: club_discount_percent | money }}</span>
                    {% endif %}
                  </div>

                </div>
              </div>

              {% unless club_member %}
              <div class="col-xs-12 text-center">
                <hr class="gray">
              </div>
              <div class="col-xs-12 text-center">
                <a href="/account/login" class="club_price">What's the "{{ 'products.product.club_price' | t }}", and how can I get it?</a>
              </div>
              {% endunless %}
            </div>


            <div class="row mb-40 product-single__quantity">
              {% if current_variant.available %}
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <label class="h4">Quantity / Bottles</label>
                  <div class="js-qty">
                    <button type="button" class="js-qty__adjust js-qty__adjust--minus icon-fallback-text" data-id="" data-qty="{{itemMinus}}">
                      <span class="icon icon-minus" aria-hidden="true"></span>
                      <span class="fallback-text" aria-hidden="true">&minus;</span>
                      <span class="hidden">Reduce quantity</span>
                    </button>
                    <input type="text" class="js-qty__num" value="1" min="1" max="{{ product.selected_variant.inventory_quantity }}" data-id="" aria-label="quantity" pattern="[0-9]*" name="quantity" id="Quantity">
                    <button type="button" class="js-qty__adjust js-qty__adjust--plus icon-fallback-text" data-id="" data-qty="">
                      <span class="icon icon-plus" aria-hidden="true"></span>
                      <span class="fallback-text" aria-hidden="true">+</span>
                      <span class="hidden">Increase Quantity</span>
                    </button>
                  </div>
                  <!-- <label for="Quantity" class="quantity-selector h6">{{ 'products.product.quantity' | t }} / Bottles</label>
                  <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector w-100"> -->
                </div>
              {% endif %}

              <div class="col-xs-12 col-sm-6 col-md-6">
                <button type="submit" name="add" id="AddToCart" class="button medium thin rounded mt-50 gray shop-add-btn">
                  <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>
              </div>
            </div>
          </form>

            <div class="row mb-50">
              <div class="col-sm-12">
                {% assign count = 0 %}
                <div class="tabs-{{ tab_style }}">
                  <ul class="nav nav-tabs xs-tabs-transform bootstrap-tabs ">
                    {% for item in desc %}
                    {% assign count = count | plus: 1 %}
                    {% if item contains '<h2>' %}
                      {% assign tab_title = item | split: '<h2>'%}
                      {% assign tab_title = tab_title[1] | split: '</h2>' %}
                      {% assign tab_title = tab_title[0] %}
                    {% endif %}
                      <li{% if forloop.first %} class="active"{% endif %}>
                        <a href="#tab-{{ count }}" class="font-poppins font-16" data-toggle="tab">{{ tab_title }}</a>
                      </li>
                    {% endfor %}
                  </ul>
                  <!-- END nav tabs -->
                  {% assign count = 0 %}
                  <!-- Tab panes -->
                  <div class="tab-content">
                    {% for item in desc %}
                      {% if item contains '<h2>' %}
                        {% assign tab_title = item | split: '<h2>'%}
                        {% assign tab_title = tab_title[1] | split: '</h2>' %}
                        {% assign tab_title = tab_title[0] %}
                        {% assign changed = item | remove: '<h2>' | remove: '</h2>' | remove: tab_title %}
                      {% endif %}
                      {% assign count = count | plus: 1 %}
                      <div class="tab-pane fade in{% if forloop.first %} active{% endif %}" id="tab-{{ count }}">
                        {% include 'shortcode' load: changed %}
                      </div>
                    {% endfor %}
                  </div>
                  <!-- END tab panes -->
                </div>
                <!-- END tabs  -->
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Tabs
  $(document).ready(function() {
    $(".tab-menu a").click(function(event) {
      event.preventDefault();
      $(this).parent().addClass("current");
      $(this).parent().siblings().removeClass("current");
      var tab = $(this).attr("href");
      $(".tab-content").not(tab).css("display", "none");
      $(tab).fadeIn();
    });
  });

  // Option Selection
  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  $('.js-qty__adjust--plus').on('click', function(event){
    event.preventDefault();
    var current = parseInt($('.js-qty__num').val());
    current = current + 1
    $('.js-qty__num').val(current)
  })

  $('.js-qty__adjust--minus').on('click', function(event){
    event.preventDefault();

    var current = parseInt($('.js-qty__num').val());
    current = current - 1
    $('.js-qty__num').val(current)
  })

  jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  });
</script>
