<div class="container p-80-cont">
  <div class="row mb-50">
    <div class="col-md-6">
      <blockquote class="testimonial-2 m-0">
        <p>{{ content }}</p>
      </blockquote>
      <div class="ts-author-cont">
        <div class="ts-author-info">
          <div class="ts-name">
            <span>{{ title }}</span>
          </div>
          <div class="ts-type">{{ sub_title }}</div>
        </div>
        <div class="ts-author-img">
          <img src="{{ image | img_url: '500x'}}" alt="{{ title }}">
        </div>
      </div>
    </div>
    <div class="col-md-6 text-center">
      <img src="{{ image_2 | img_url: '500x'}}" alt="photo">
    </div>
  </div>
</div>
