<div class="page-section">
  <div class="container">
{% assign number_of_products = 6 %}
{% assign number_of_products_to_fetch = number_of_products | plus: 1 %}

{% if collection == null or collection.handle == 'frontpage' or collection.handle == 'all' %}
  {% assign found_a_collection = false %}
  {% for c in product.collections %}
    {% if found_a_collection == false and c.handle != 'frontpage' and c.handle != 'all' and c.all_products_count > 1 %}
      {% assign found_a_collection = true %}
      {% assign collection = c %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if collection and collection.products_count > 1 %}
  <div class="row">
  <div class="col-md-12">
    <div class="mb-70 wow fadeIn">
      <h3 class="text-center m-0 p-0">{{ 'products.general.related_products_title' | t }}</h3>
    </div>
  </div>
  <div class="grid-uniform grid-link__container">
    {% assign current_product = product %}
    {% assign current_product_found = false %}
    {% for product in collection.products limit: number_of_products_to_fetch %}
      {% if product.handle == current_product.handle %}
        {% assign current_product_found = true %}
      {% else %}
        {% unless current_product_found == false and forloop.last %}
          {% assign grid_item_width = 'large--one-quarter medium--one-quarter small--one-half' %}
          <div class="col-xs-12 col-sm-6 col-md-4 product">

            <div class="row">
              <div class=" col-xs-6 col-md-6">
                <div class="post-prev-img">
                  <a href="{{ product.url }}"><img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="img"></a>
                </div>
              </div>

              <div class="col-xs-6 col-md-6">
                <div class="post-prev-title mt-30 mt-xxs-5 mb-5">
                  <h3><a href="{{ product.url }}">{{ product.title }}</a></h3>
                </div>

                <div><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>

                <div class="shop-price-cont">
                  <span class="pr-10" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {{ product.price | money }}
                  </span>

                  {% if product.compare_at_price_max > product.price %}
                  <del class="xfont-18">
                    {{ product.compare_at_price | money }}
                  </del>
                  {% endif %}
                </div>

                <div class="post-prev-more-cont clearfix mb-60">
                  <div>
                    <a class="button small full-rounded gray-light shop-add-btn2" href="#" data-handle="{{ product.handle }}">ADD TO CART</a>
                  </div>

                </div>
              </div>
            </div>

          </div>
        {% endunless %}
      {% endif %}
    {% endfor %}
  </div>
  </div>
{% endif %}
</div>
</div>
