<div class="page-section p-60-cont">
  <div class="container">
    {% if title != blank %}
      <div  class="row text-center">
        <div class="col-xs-12 border-none">
          <h3>{{ title }}<h3>
        </div>
      </div>
    {% endif %}
  </div>
</div>
