{% if template contains 'article' or template contains 'blog' %}
  {% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
  {% capture shareTitle %}{{ article.title }}{% endcapture %}

{% elsif template contains 'product' %}
  {% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
  {% capture shareTitle %}{{ product.title }}{% endcapture %}

{% endif %}

{% assign shareButtonStyle = settings.social_sharing_style %}

<div class="social-sharing {{ shareButtonStyle }}" data-permalink="{{ permalinkURL }}">

  {% if settings.share_facebook %}
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" class="share-facebook button thin rounded medium">
      <span class="icon icon-facebook"></span>
      <span class="share-title">{{ 'general.social.share_on_facebook' | t }}</span>
    </a>
  {% endif %}

  {% if settings.share_twitter %}
    <a target="_blank" href="//twitter.com/share?url={{ permalinkURL }}&amp;text={{ shareTitle | url_param_escape }}" class="share-twitter button thin rounded medium">
      <span class="icon icon-twitter"></span>
      <span class="share-title">{{ 'general.social.share_on_twitter' | t }}</span>
    </a>
  {% endif %}

  {% if template contains 'product' %}

    {% if settings.share_pinterest %}
      <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{{ product.featured_image | img_url: '1024x1024' }}&amp;description={{ shareTitle | url_param_escape }}" class="share-pinterest button thin rounded medium">
        <span class="icon icon-pinterest"></span>
        <span class="share-title">{{ 'general.social.share_on_pinterest' | t }}</span>
      </a>
    {% endif %}

    {% if settings.share_fancy %}
      <a target="_blank" href="http://www.thefancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle | url_param_escape }}&amp;Category=Other&amp;ImageURL={{ product.featured_image | img_url: '1024x1024' }}" class="share-fancy button thin rounded medium">
        <span class="icon icon-fancy"></span>
        <span class="share-title">{{ 'general.social.share_on_fancy' | t }}</span>
      </a>
    {% endif %}

  {% endif %}

  {% if settings.share_google %}
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" class="share-google button thin rounded medium">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="icon icon-google_plus"></span>
    </a>
  {% endif %}

</div>
