{% capture points %}{% include 'shortcode-render' render:'rating' default:'100' %}{% endcapture %}
<span class="points_badge">
  <span class="icon">
    <svg xmlns="http://www.w3.org/2000/svg" width="61" height="60" viewBox="0 0 61 60">
      <desc>{{ points }} Points</desc>
      <g>
        <polyline class="star" points="30 56.8 24.5 60 20.4 55 14.1 56 12.2 49.9 6 48.5 6.3 42.1 1 38.5 3.7 32.7 0 27.5 4.6 23 3 16.8 8.9 14.3 9.7 7.9 16.1 7.7 19.1 2 25.1 4.2 30 0 34.9 4.2 40.9 2 43.9 7.7 50.3 7.9 51.1 14.3 57 16.8 55.4 23 60 27.5 56.3 32.7 59 38.5 53.7 42.1 54 48.5 47.8 49.9 45.9 56 39.6 55 35.5 60"/>
        <circle cx="30" cy="30" r="22" class="circle"/>
      </g>
    </svg>
  </span>
  <span class="points">{{ points }}</span>
</span>
