{% capture file %}{% include 'shortcode-render' render:'file' default:'file.pdf' %}{% endcapture %}
{% include 'icon' with 'pdf' %} <a class="file_link" href="{{ file | file_url }}" target="_blank">{% include 'shortcode-render' render:'title' default:'Download Tasting Notes' %}</a>
