<a href="#" class="post-prev-count dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
  <span aria-hidden="true" class="social_share"></span>
</a>
{% if template contains 'article' or template contains 'blog' %}
{% capture permalinkURL %}{{ shop.url }}{{ article.url }}{% endcapture %}
{% capture shareTitle %}{{ article.title | url_param_escape }}{% endcapture %}
{% elsif template contains 'product' %}
{% capture permalinkURL %}{{ shop.url }}{{ product.url }}{% endcapture %}
{% capture shareTitle %}{{ product.title | url_param_escape }}{% endcapture %}
{% elsif template == 'password' %}
{% capture permalinkURL %}{{ shop.url }}{% endcapture %}
{% capture shareTitle %}{% unless shop.description == blank %}{{ shop.description | url_param_escape }}{% else %}{{ shop.name | url_param_escape }}{% endunless %}{% endcapture %}
{% endif %}

{% comment %}
Share button styles are:
* is-clean
* normal
{% endcomment %}
{% assign shareButtonStyle = 'is-clean' %}

<ul class="social-menu dropdown-menu dropdown-menu-right" role="menu">

  {% if settings.share_facebook %}
  <li>
    <a target="_blank" href="//www.facebook.com/sharer.php?u={{ permalinkURL }}" title="{{ 'general.social.alt_text.share_on_facebook' | t }}">
      <span class="fa fa-facebook" aria-hidden="true"></span>
    </a>
  </li>
  {% endif %}

  {% if settings.share_twitter %}
  <li>
    <a target="_blank" href="//twitter.com/share?text={{ shareTitle }}&amp;url={{ permalinkURL }}" title="{{ 'general.social.alt_text.share_on_twitter' | t }}">
      <span class="fa fa-twitter" aria-hidden="true"></span>
    </a>
  </li>
  {% endif %}

  {% if product.featured_image or article.image %}

  {% if settings.share_pinterest %}
  <li>
    <a target="_blank" href="//pinterest.com/pin/create/button/?url={{ permalinkURL }}&amp;media=http:{% if template contains 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}&amp;description={{ shareTitle }}" title="{{ 'general.social.alt_text.share_on_pinterest' | t }}">
      <span class="fa fa-pinterest" aria-hidden="true"></span>
    </a>
  </li>
  {% endif %}

  {% if settings.share_fancy %}
  <li>
    <a target="_blank" href="//fancy.com/fancyit?ItemURL={{ permalinkURL }}&amp;Title={{ shareTitle }}&amp;Category=Other&amp;ImageURL={% if template contains 'product' %}{{ product | img_url: '1024x1024' }}{% else %}{{ article | img_url: '1024x1024' }}{% endif %}" title="{{ 'general.social.alt_text.share_on_fancy' | t }}">
      <span class="icon icon-fancy" aria-hidden="true"></span>
    </a>
  </li>
  {% endif %}

  {% endif %}

  {% if settings.share_google %}
  <li>
    <a target="_blank" href="//plus.google.com/share?url={{ permalinkURL }}" title="{{ 'general.social.alt_text.share_on_google' | t }}">
      <!-- Cannot get Google+ share count with JS yet -->
      <span class="fa fa-google-plus" aria-hidden="true"></span>
    </a>
  </li>
  {% endif %}

</ul>
