{% case include %}
  {% when 'page-title-revo' %}
    {% include include %}
  {% when 'page-title-large-img' %}
    {% include include %}
  {% when 'page-title-large-2' %}
    {% include include %}
  {% when 'page-title-small-grey' %}
    {% include include %}
  {% when 'page-title-medium-img' %}
    {% include include %}
{% endcase %}
