{% case include %}
  {% when 'page-title-revo' %}
    {% include include %}
  {% when 'page-title-large-img' %}
    {% include include %}
  {% when 'page-title-large-2' %}
    <style>
      .header-wrapper { background: #eee !important; }
      .affix .header-wrapper { background: #fff !important; }
    </style>
    {% include include %}
{% endcase %}
