<div class="col-sm-6">
  {% if image != blank %}
    <img src="{{ image | img_url: 'x2000' }}"{% if image_small %} class="p-100"{% endif %}>
  {% endif %}
</div>
<div class="col-sm-6">
  {% if image_2 != blank %}
    <img src="{{ image_2 | img_url: 'x2000' }}"{% if image_2_small %} class="p-100"{% endif %}>
  {% endif %}
</div>
