{% assign live_filter = false %}
<div class="widget">
  {% case widget %}
    {% comment %}Blog or Article{% endcomment %}
    {% when 'search' %}
      <form class="form-search widget-search-form" action="/search" method="get">
        <input type="text" name="q" class="input-search-widget" placeholder="Search">
        <button  type="submit" title="Start Search">
          <span aria-hidden="true" class="icon_search"></span>
        </button>
      </form>
    {% when 'categories' %}
      <h5 class="widget-title2">Categories</h5>
      <div class="widget-body">
        <ul class="row-uniform widget-menu font-poppins">
          {% assign categories_col_width = "col-md-12" %}
          {% for tag in blog.all_tags %}
            {% if current_tags contains tag %}
              <li class="{{ categories_col_width }}">{{ tag }}</li>
              {% else %}
              <li class="{{ categories_col_width }}">{{ tag | link_to_tag: tag }}</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    {% when 'recent-posts' %}
      <h5 class="widget-title2">Recent posts</h5>
      <div class="widget-body mt-25">
        <ul class="row-uniform widget-posts">
          {% for article in blogs[blog.handle].articles limit:6 %}
            <li class="col-md-12">
              <a href="{{ article.url }}"><img src="{{ article.image | img_url }}" alt="{{ article.title }}" class="widget-posts-img"></a>
              <div class="widget-posts-descr2">
                <a href="{{ article.url }}" class="lh-18">{{ article.title | truncatewords: 5 }}</a>
                <div class="lh-18">
                  <time pubdate datetime="{{ article.published_at | date: '%d-%b-%Y' }}">
                    <em class="text-light">{{ article.published_at | date: '%d-%b-%Y' }}</em>
                  </time>
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% comment %}Collection{% endcomment %}
    {% when 'price-sorting' %}
      <div class="form-horizontal">
        <label for="SortBy" class="h5">{{ 'collections.sorting.title' | t }}</label>
        <select name="SortBy" id="SortBy">
          <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
          <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
          <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
          <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
          <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
          <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
          <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
          <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
        </select>
      </div>
    {% when 'live-filter-price' %}
      {% assign filter_menu = 'Price Range' %}
      <h5>{{ filter_menu }}</h5>
        {% assign filter_menu = filter_menu | handleize %}
        {% for link in linklists[filter_menu].links %}
         <a href="{{ link.url }}"><input type="checkbox" class="price-filter" data-target="{{ link.url }}" {% if canonical_url contains link.url %}Checked{% endif %}>{{ link.title }}</a><br>
        {% endfor %}
      </form>
    {% when 'live-filter-varietal' %}
      {% assign live_filter = true %}
      {% assign filter_menu = 'Varietal' %}
      <h5>{{ filter_menu }}</h5>
      {% assign filter_menu = filter_menu | handleize %}
      <form class="{{ filter_menu_4 }}">
        <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="all">All</label>
        {% for link in linklists[filter_menu].links %}
          {% assign tag = link.title | handleize %}
          {% assign tag_title = link.title %}
          {% if collection.all_tags contains tag_title %}
            {% if current_tags contains tag %}
              <div class="tag">
                <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="{{ tag | handle }}" Checked>{{ tag_title }}</label>
              </div>
            {% else %}
              <div class="tag">
                <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="{{ tag | handle }}">{{ tag_title }}</label>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </form>
    {% when 'live-filter-type' %}
      {% assign live_filter = true %}
      {% assign filter_menu = 'Type' %}
      <h5>{{ filter_menu }}</h5>
      {% assign filter_menu = filter_menu | handleize %}
      <form class="{{ filter_menu }}">
        <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="all">All</label>
        {% for link in linklists[filter_menu].links %}
          {% assign tag = link.title | handleize %}
          {% assign tag_title = link.title %}
          {% if collection.all_tags contains tag_title %}
            {% if current_tags contains tag %}
              <div class="tag">
                <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="{{ tag | handle }}" Checked>{{ tag_title }}</label>
              </div>
            {% else %}
              <div class="tag">
                <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="{{ tag | handle }}">{{ tag_title }}</label>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </form>
    {% when 'live-filter-label' %}
      {% assign live_filter = true %}
       {% assign filter_menu = 'Label' %}
       <h5>{{ filter_menu }}</h5>
       {% assign filter_menu = filter_menu | handleize %}
       <form class="{{ filter_menu_1 }}-class">
        <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="all">All</label>
          {% for link in linklists[filter_menu].links %}
          {% assign tag = link.title | handleize %}
          {% assign tag_title = link.title %}
          {% if collection.all_tags contains tag_title %}
            {% if current_tags contains tag %}
              <div class="tag">
               <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="{{ tag | handle }}" Checked>{{ tag_title }}</label>
              </div>
            {% else %}
              <div class="tag">
               <label class="tag_title"><input type="checkbox" name="tag" class="filter_tag" value="{{ tag | handle }}">{{ tag_title }}</label>
              </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </form>
    {% when 'filter-wineries' %}
      <div class="port-filter text-center">
        {% if collection.current_vendor %}
          <a href="{{ collections.all.url }}" class="unfilter mlr-10">All</a>
          {% for product_vendor in collections.all.all_vendors %}
            <a href="{{ product_vendor | url_for_vendor }}" class="filter mlr-10 {% if collection.current_vendor contains product_vendor %} active{% endif %}" title="{{ product_vendor }}">{{ product_vendor }}</a>
          {% endfor %}
        {% else %}
          <a href="{{ collections.all.url }}" class="unfilter mlr-10 active">All</a>
          {% for product_vendor in collection.all_vendors %}
            <a href="{{ product_vendor | url_for_vendor }}" class="filter mlr-10" title="{{ product_vendor }}">{{ product_vendor }}</a>
          {% endfor %}
        {% endif %}
      </div>
    {% when 'live-filter-wineries' %}
      {% assign live_filter = true %}
       {% assign filter_menu = 'Wineries' %}
       <h5>{{ filter_menu }}</h5>
       {% assign filter_menu = filter_menu | handleize %}
       <form class="{{ filter_menu }}-class">
        <label class="tag_title"><input type="checkbox" name="tag" class="filter_collection" value="all">All</label>
          {% for link in linklists[filter_menu].links %}
          {% assign tag = link.title | handleize %}
          {% assign tag_title = link.title %}
          {% if collection.handle contains tag %}
            <div class="tag">
             <label class="tag_title"><input type="checkbox" name="tag" class="filter_collection" value="{{ tag | handle }}" Checked>{{ tag_title }}</label>
            </div>
          {% else %}
            <div class="tag">
             <label class="tag_title"><input type="checkbox" name="tag" class="filter_collection" value="{{ tag | handle }}">{{ tag_title }}</label>
            </div>
          {% endif %}
        {% endfor %}
      </form>
  {% endcase %}
</div>

{% if live_filter == true %}
<script>
  $(function(){
    $("input.price-filter[type='checkbox']").change(function(){
    var item=$(this);
    if(item.is(":checked"))
    {
      window.location.href= item.data("target")
    }
    else
    {
      window.location.href= item.data("target")
    }
   });
  })
  /* Product Tag Filters */
  selectAllForEmpty = function() {
    $('.filter_menus form').each(function(index, elem) {
      if ($(elem).find('.filter_tag:checked').length === 0) {
        $(elem).find('.filter_tag').each(function(index, tag) {
          if ($(tag).attr('value').toLowerCase() === "all") {
            $(tag).prop('checked', true)
          }
        })
      }
    })
  }
  var currentTags = [
    {% for tag in current_tags %}
    '{{ tag | handle }}'.toLowerCase(),
    {% endfor %}
  ]
  $('.filter_tag').each(function(index, elem) {
    if ($.inArray($(elem).attr('value').toLowerCase(), currentTags) !== -1) {
      $(elem).prop('checked', true)
    }
  })
  var newTags = []
  $('.tag_title').on('click', '.filter_tag', function() {
    newTags = []
    $(this).closest('form').find('.filter_tag').each(function(index, elem) {
      $(elem).prop('checked', false)
    })
    $(this).prop('checked', true)
    $('.filter_tag').each(function(index, elem) {
      if (($(elem).prop('checked') == true) && ($(elem).attr('value').toLowerCase() !== "all")) {
        newTags.push($(elem).attr('value'))
      }
    })
    if (newTags.length > 0) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to_tag: 'tag' }}').attr('href').replace('tag', query);
    } else {
      {% if collection.handle %}
        {% if collection.handle != 'all' %}
          window.location.href = '/collections/all';
        {% else %}
          window.location.href = '/collections/{{ collection.handle }}';
        {% endif %}
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
    }
    selectAllForEmpty()
  })
  selectAllForEmpty()

  $('.tag_title').on('click', '.filter_collection', function() {
    handle = $(this).val()
    window.location.href = '/collections/' + handle
  })

  /* Sorting filter */
  Shopify.queryParams = {};
  if (location.search.length) {
    for (var aKeyValue, i = 0, aCouples = location.search.substr(1).split('&'); i < aCouples.length; i++) {
      aKeyValue = aCouples[i].split('=');
      if (aKeyValue.length > 1) {
        Shopify.queryParams[decodeURIComponent(aKeyValue[0])] = decodeURIComponent(aKeyValue[1]);
      }
    }
  }

  $(function() {
    $('#SortBy')
      .val('{{ collection.sort_by | default: collection.default_sort_by }}')
      .bind('change', function() {
        Shopify.queryParams.sort_by = jQuery(this).val();
        location.search = jQuery.param(Shopify.queryParams);
      }
    );
  });
</script>
{% endif %}
