{% if template contains 'customer' %}
<style>
{% assign style_loaded = true %}
#elkfox_wish{-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out}.elkfox_wishlist-toggle{cursor:pointer;display:none}.elkfox_wishlist-toggle .elkfox_wishlist_icon{display:table-cell;vertical-align:middle;line-height:1em;padding-right:5px}.elkfox_wishlist-toggle.signup .elkfox_wishlist_icon svg{overflow:visible}.elkfox_wishlist-toggle.add .elkfox_wishlist_icon svg .elkfox_heart,.elkfox_wishlist-toggle.signup .elkfox_wishlist_icon svg .elkfox_heart{fill:none;stroke:#BD9B3A;stroke-width:1px;stroke-linecap:square;stroke-miterlimit:10;stroke-linejoin:miter}.elkfox_wishlist-toggle.remove .elkfox_wishlist_icon svg .elkfox_heart{fill:#BD9B3A;stroke:#BD9B3A;stroke-width:1px;stroke-linecap:square;stroke-miterlimit:10;stroke-linejoin:miter}.elkfox_wishlist-toggle.remove,.elkfox_wishlist-toggle.add{display:none}.elkfox_wishlist-toggle.remove.visible,.elkfox_wishlist-toggle.add.visible{display:inline-block}.elkfox_wishlist_toggle_text{display:table-cell;vertical-align:middle}#elkfox_wish_customer_container{position:relative}#elkfox_wishlist_placeholder{position:absolute;top:0;right:0;bottom:0;left:0;background-image:url('//wish-by-elkfox.herokuapp.com/static/AppFiles/wish_list_placeholder.png');background-repeat:repeat-y;background-size:400px 195px}#elkfox_wishlist .elkfox_wishlist_empty_message{display:none}#elkfox_wishlist.elkfox_wishlist_empty .elkfox_wishlist_empty_message{display:block}#elkfox_wishlist .elkfox_wishlist_more{display:block}#elkfox_wishlist.empty .elkfox_wishlist_more{display:none}.elkfox_wishlist_item_row{visibility:hidden;opacity:0;margin-bottom:30px}.elkfox_wishlist_item_cell h4{margin-bottom:0}@media screen and (min-width:580px){.elkfox_wishlist_item_cell{vertical-align:middle}}
</style>
<script>
  (function() {
    $(document).ready(function() {
      $("#elkfox_wishlist_settings").submit(function(e) {
        e.preventDefault()
        var formData = $(this).serialize()
        console.log(formData)
        $.post('https://{{ shop.domain }}/apps/wish/settings/set', formData).done(function(response) {
          if (response === "OK") {
            $("#saveSuccessful").show().delay(1500).fadeOut(1200)
          } else {
            $("#saveError").show().delay(1500).fadeOut(1200)
          }
        })
      })
      $.get("https://{{ shop.domain }}/apps/wish/settings/get/?customer_id={{ customer.id }}", 'json').done(function(data) {
        console.log(data)
        if (data['receive_emails']) {
          $("#receiveEmails").attr('checked', true)
        }
      })
    })
  })()
</script>
  {% if customer %}
    <h2>Wishlist</h2>
    <div id="elkfox_wishlist_settings_container container">
      <h4>Wishlist settings</h4>
      <div id="saveSuccessful" style="display:none">
        ✅ Saved setting succesfully
      </div>
      <div id="saveError" style="display:none">
        ❌ Something went wrong please try again or contact site admin
      </div>
      <form id="elkfox_wishlist_settings">
        <input type="hidden" id="customerId" value="{{ customer.id }}" name="customerId">
        <input type="checkbox" id="receiveEmails" name="receiveEmails" value="True"> <label for="receiveEmails">Receive emails when an item goes on sale?</label>
        <button id="save" type="submit" class="button medium rounded thin gray" >Save</button>
      </form>
    </div>
    <div id="elkfox_wish_customer_container container">
      <div id="elkfox_wishlist_placeholder row">&nbsp;</div>
      <div class="elkfox_wishlist_empty row" id="elkfox_wishlist">
        {% assign grid_item_width = 'col-lg-3 col-sm-4' %}
        {% for metafield in customer.metafields.elkfox_wishlist %}
          {% assign product_id = metafield | first %}
          {% assign product_handle = metafield | last %}
          {% assign product = all_products[product_handle] %}
          {% if product != empty %}
            {% assign on_sale = false %}{% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}
            {% assign sold_out = true %}{% if product.available %}{% assign sold_out = false %}{% endif %}
            {% include 'product-grid-item' %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
{% endif %}
