{% unless style_loaded %}
  <style>
    {% assign style_loaded = true %}
    #elkfox_wish{-webkit-transition:all 0.3s ease-out;-moz-transition:all 0.3s ease-out;-ms-transition:all 0.3s ease-out;transition:all 0.3s ease-out}.elkfox_wishlist-toggle{cursor:pointer;display:none}.elkfox_wishlist-toggle .elkfox_wishlist_icon{display:table-cell;vertical-align:middle;line-height:1em;}.elkfox_wishlist-toggle.signup .elkfox_wishlist_icon svg{overflow:visible}.elkfox_wishlist-toggle.add .elkfox_wishlist_icon svg .elkfox_heart,.elkfox_wishlist-toggle.signup .elkfox_wishlist_icon svg .elkfox_heart{fill:none;stroke:#BD9B3A;stroke-width:1px;stroke-linecap:square;stroke-miterlimit:10;stroke-linejoin:miter}.elkfox_wishlist-toggle.remove .elkfox_wishlist_icon svg .elkfox_heart{fill:#BD9B3A;stroke:#BD9B3A;stroke-width:1px;stroke-linecap:square;stroke-miterlimit:10;stroke-linejoin:miter}.elkfox_wishlist-toggle.remove,.elkfox_wishlist-toggle.add{display:none}.elkfox_wishlist-toggle.remove.visible,.elkfox_wishlist-toggle.add.visible{display:inline-block}.elkfox_wishlist_toggle_text{display:table-cell;vertical-align:middle}#elkfox_wish_customer_container{position:relative}#elkfox_wishlist_placeholder{position:absolute;top:0;right:0;bottom:0;left:0;background-image:url('//wish-by-elkfox.herokuapp.com/static/AppFiles/wish_list_placeholder.png');background-repeat:repeat-y;background-size:400px 195px}#elkfox_wishlist .elkfox_wishlist_empty_message{display:none}#elkfox_wishlist.empty .elkfox_wishlist_empty_message{display:block}#elkfox_wishlist .elkfox_wishlist_more{display:block}#elkfox_wishlist.empty .elkfox_wishlist_more{display:none}.elkfox_wishlist_item_row{visibility:hidden;opacity:0;margin-bottom:30px}.elkfox_wishlist_item_cell img{width:100%}.elkfox_wishlist_item_cell h4{margin-bottom:0}@media screen and (min-width:580px){.elkfox_wishlist_item_cell{display:table-cell;vertical-align:middle}.elkfox_wishlist_item_cell img{max-width:160px;margin-right:20px}}
  </style>
{% endunless %}
<div id="elkfox_wish" style="visibility:hidden;opacity:0">
  {% assign count = 1 %}
  {% assign added = false %}
  {% if customer %}
    {% assign product_id = product.id | downcase %}
    {% for metafield in customer.metafields.elkfox_wishlist %}
      {% assign count = count | plus: 1 %}
      {% assign metafield_product_id = metafield | first | downcase %}
      {% if product_id == metafield_product_id %}
        {% assign added = true %}
      {% endif %}
    {% endfor %}

    <div class="elkfox_wishlist-toggle add {% unless added %}visible{% endunless %}" data-product-handle="{{ product.handle }}", data-product-id="{{ product.id }}">
      <div class="add-to-wishlist-tooltip">
        Add to Wishlist
      </div>
      <span class="elkfox_wishlist_icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 16 16">
          <path d="M14.7 2.3c-1.8-1.8-4.6-1.8-6.4 0C8.2 2.4 8.1 2.6 8 2.7 7.9 2.6 7.8 2.4 7.7 2.3c-1.8-1.8-4.6-1.8-6.4 0 -1.8 1.8-1.8 4.6 0 6.4L8 15l6.7-6.3C16.4 6.9 16.4 4.1 14.7 2.3z" class="elkfox_heart"/>
        </svg>
      </span>
    </div>
    {% if count <= 20 %}
      <div class="elkfox_wishlist-toggle remove {% if added %}visible{% endif %}" data-product-handle="{{ product.handle }}", data-product-id="{{ product.id }}">
        <div class="add-to-wishlist-tooltip">
          Remove from Wishlist
        </div>
        <span class="elkfox_wishlist_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 16 16">
            <path d="M14.7 2.3c-1.8-1.8-4.6-1.8-6.4 0C8.2 2.4 8.1 2.6 8 2.7 7.9 2.6 7.8 2.4 7.7 2.3c-1.8-1.8-4.6-1.8-6.4 0 -1.8 1.8-1.8 4.6 0 6.4L8 15l6.7-6.3C16.4 6.9 16.4 4.1 14.7 2.3z" class="elkfox_heart"/>
          </svg>
        </span>
      </div>
    {% else %}
      <p>Oh no! Your <a href="/account?ref=wish">wishlist</a> is full, please remove an item if you wish to add more.</p>
    {% endif %}
  {% else %}
	  <div class="elkfox_wishlist-toggle add {% unless added %}visible{% endunless %}" data-product-handle="{{ product.handle }}", data-product-id="{{ product.id }}">
      <div class="add-to-wishlist-tooltip">
        Add to Wishlist
      </div>
      <span class="elkfox_wishlist_icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 16 16">
          <path d="M14.7 2.3c-1.8-1.8-4.6-1.8-6.4 0C8.2 2.4 8.1 2.6 8 2.7 7.9 2.6 7.8 2.4 7.7 2.3c-1.8-1.8-4.6-1.8-6.4 0 -1.8 1.8-1.8 4.6 0 6.4L8 15l6.7-6.3C16.4 6.9 16.4 4.1 14.7 2.3z" class="elkfox_heart"/>
        </svg>
      </span>
      <span class="elkfox_wishlist_toggle_text"></span>
    </div>
    {% if count <= 20 %}
      <div class="elkfox_wishlist-toggle remove {% if added %}visible{% endif %}" data-product-handle="{{ product.handle }}", data-product-id="{{ product.id }}">
        <div class="add-to-wishlist-tooltip">
          Remove from Wishlist
        </div>
        <span class="elkfox_wishlist_icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="32" viewBox="0 0 16 16">
            <path d="M14.7 2.3c-1.8-1.8-4.6-1.8-6.4 0C8.2 2.4 8.1 2.6 8 2.7 7.9 2.6 7.8 2.4 7.7 2.3c-1.8-1.8-4.6-1.8-6.4 0 -1.8 1.8-1.8 4.6 0 6.4L8 15l6.7-6.3C16.4 6.9 16.4 4.1 14.7 2.3z" class="elkfox_heart"/>
          </svg>
        </span>
        <span class="elkfox_wishlist_toggle_text"></span>
      </div>
 	  {% endif %}
  {% endif %}
</div>
