<div class="p-140-cont bg-gray-light">
  <div class="container p-140-cont">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="section-header section-header--large">
          <p>{{ 'customer.activate_account.subtext' | t }}</p>
        </div>
        {% comment %}
          This form must use 'activate_customer_password'
        {% endcomment %}
        {% form 'activate_customer_password' %}

          {{ form.errors | default_errors }}

          <label for="CustomerPassword">{{ 'customer.activate_account.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword">

          <label for="CustomerPasswordConfirmation">{{ 'customer.activate_account.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation">

          <div>
            <p>
              <input type="submit" class="btn" value="{{ 'customer.activate_account.submit' | t }}">
            </p>
            <input type="submit" class="btn--secondary" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
