<div class="p-140-cont bg-gray-light">
  <div class="container p-140-cont">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h2>{{ 'customer.recover_password.title' | t }}</h2>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        <div class="form-vertical">
          {% form 'recover_customer_password' %}

            {{ form.errors | default_errors }}

            {% comment %}
              Assign variable to be used after timber.init() is run in theme.liquid
            {% endcomment %}
            {% if form.posted_successfully? %}
              {% assign resetPassword = true %}
            {% endif %}

            <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

            <p>
              <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
            </p>
            <a href="/account/login" class="btn btn--full">{{ 'customer.recover_password.cancel' | t }}</a>
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
