{% section 'customer-login-title' %}
<div class="blog-table">
  <div class="blog-content p-140-cont col-8">
    {% section 'customer-login-template' %}
  </div>
  <div class="blog-sidebar bg-light-gray p-140-cont col-4">
    {% section 'customer-login-sidebar' %}
  </div>
</div>
