<!-- VALIDATE -->
{{ 'jquery.validate.min.js' | asset_url | script_tag }}
{{ 'jquery.validation-additional-methods.min.js' | asset_url | script_tag }}
<script>
$( function() {
		jQuery.validator.addMethod("adultsOnly", function(value, element) {
	    console.log("adults only");
      return false;
    }, "Failed");

		jQuery.validator.addMethod("domain", function() {
		  console.log('HELLO WURLD')
		}, "GOODBYE");

  $("#create_customer").validate(
    {
      rules: {
        FirstName: {
          required: true,
					domain: true,
					adultsOnly: true
        },
        LastName: {
          required: true,
          minlength: 3
        },
        DateOfBirth: {
          required: true,
					date: true
        },
        Email: {
          required: true,
          email: true
        },
        PostCode: {
          required: true
        },
        CreatePassword: {
          required: true,
          minlength: 5
        },
        ConfirmPassword: {
          required: true,
          minlength: 5,
          equalTo: "#CreatePassword"
        },
        AgeConfirm: {
          require: true
        },
        AgreeToTerms: {
          require: true
        }
      },
      submitHandler: function (form) { // for demo
          alert('valid form submitted'); // for demo
          return false; // for demo
      },
      messages: {
        FirstName: {
          required: "Please provide your first name"
        },
        DateOfBirth: {
          minAge: "Sorry, you must be older than 18 to register"
        },
        Email: {
          required: "Please provide an email address",
          email: "Please provide a valid email address"
        },
				CreatePassword: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long"
				},
				ConfirmPassword: {
					required: "Please provide a password",
					minlength: "Your password must be at least 5 characters long",
					equalTo: "Passwords do not match!"
				},
        AgeConfirm: {
          required: "You must be 18 years or over"
        }
        AgreeToTerms: {
          required: "Please accept our policies"
        }
      }
    }
  );
});
</script>

<div class="p-140-cont bg-gray-light">
  <div class="container p-140-cont">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="section-header section-header--large">
          <h1 class="section-header__title">{{ 'customer.register.title' | t }}</h1>
        </div>

        {% form 'create_customer' %}

          {{ form.errors | default_errors }}
          <p>
          Fields marked with * are required
          </p>
          <label for="FirstName">{{ 'customer.register.first_name' | t }}*</label><label for="FirstName" class="error"></label>
          <input title="Please enter your first name" type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus required>


          <label for="LastName">{{ 'customer.register.last_name' | t }}*</label><label for="LastName" class="error"></label>
          <input title="Please enter your last name" type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words" required>

          <label for="DateOfBirth">{{ 'customer.register.date_of_birth' | t }}*</label><label for="DateOfBirth" class="error"></label>
          <input title="Please enter your date of birth" type="date" name="customer[note][date_of_birth]" id="DateOfBirth" required>

          <label for="Email">{{ 'customer.register.email' | t }}*</label><label for="Email" class="error"></label>
          <input title="Please enter your email address" type="email" name="customer[email]" id="Email" placeholder="{{ 'customer.register.email' | t }}" {% if form.errors contains "email" %} class="error"{% elsif form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off" required>

          <label for="PostCode">{{ 'customer.addresses.zip' | t }}*</label><label for="PostCode" class="error"></label>
          <input type="text" title="Please provide your postcode" id="PostCode" placeholder="{{ 'customer.addresses.zip' | t }}" name="customer[note][zip]" autocapitalize="characters" required>
          <input type="hidden" name="customer[tags]" value="club_member">
          <input type="hidden" name="customer[accepts_marketing]" value="" />

          <label for="CreatePassword">{{ 'customer.register.password' | t }}*</label><label for="CreatePassword" class="error"></label>
          <input type="password" title="Please choose a password" name="customer[password]" id="CreatePassword" placeholder="{{ 'customer.register.password' | t }}" {% if form.errors contains "password" %} class="error"{% endif %} required>

          <label for="ConfirmPassword">Confirm {{ 'customer.register.password' | t }}*</label><label for="ConfirmPassword" class="error"></label>
          <input type="password" title="Please confirm your password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm {{ 'customer.register.password' | t }}" required>

					<br><input type="checkbox" name="terms" id="AgeConfirm" required><label for="AgeConfirm">I confirm that I am at least 18 years of age.</label><label for="AgeConfirm" class="error"></label>

          <br><input type="checkbox" name="terms" id="AgreeToTerms" required><label for="AgreeToTerms">I have read, understood and accept the <a href="/pages/terms-conditions">terms and conditions of the FWG Rewards Club</a></label><label for="AgreeToTerms" class="error"></label>

          <p>
            <input type="submit" id="submitRegistration" value="{{ 'customer.register.submit' | t }}" class="button rounded medium gray thin btn-block">
          </p>
          <a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

        {% endform %}
      </div>
    </div>
  </div>
</div>
