<div class="p-140-cont bg-gray-light">
  <div class="container p-140-cont">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        {% comment %}
          This form must use 'reset_customer_password'
        {% endcomment %}
        {% form 'reset_customer_password' %}

          <div class="section-header">
            <h1 class="section-header__title">{{ 'customer.reset_password.title' | t }}</h1>
          </div>

          <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

          {{ form.errors | default_errors }}

          <label for="ResetPassword">{{ 'customer.reset_password.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="ResetPassword" {% if form.errors contains "password" %} class="error"{% endif %}>

          <label for="PasswordConfirmation">{{ 'customer.reset_password.password_confirm' | t }}</label>
          <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" {% if form.errors contains "password_confirmation" %} class="error"{% endif %}>

          <p>
            <input type="submit" class="btn" value="{{ 'customer.reset_password.submit' | t }}">
          </p>

        {% endform %}
      </div>
    </div>
  </div>
</div>
