<!doctype html>
<!-- ==================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/

  Help @ Elkfox.com
  https://elkfox.com
  https://experts.shopify.com/elkfox

==================================================== -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if settings.favicon_enable %}
  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}
  <script>console.log('{{shop.name}}')</script>
  <!-- Title and description ================================================== -->
  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'google-fonts' %}

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  <!-- REVOLUTION STYLE SHEETS -->
  {{ 'settings-custom.css' | asset_url | stylesheet_tag }}

  <!-- REVOLUTION NAVIGATION STYLES -->
  {{ 'hermes-custom.css' | asset_url | stylesheet_tag }}

  <!--  BOOTSTRAP -->
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

  <!--  CSS THEME -->
  {{ 'style.css' | asset_url | stylesheet_tag }}

  <!-- ANIMATE -->
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}

  <!-- CUSTOM -->
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

</head>

<body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >

  {% if template contains "article.blog-single-facebook" %}
  <!-- FACEBOOK SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_EN/sdk.js#xfbml=1&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  {% endif %}
  <!-- LOADER -->
  <div id="loader-overflow">
    <div id="loader3" class="loader-cont">Please enable JS</div>
  </div>

  <div id="wrap" class="boxed">
    <div class="grey-bg">
      <header id="nav" class="header header-1">
        <div id="ajax-notification" style="display: none;"></div>
        {% section 'multi-site-tabs' %}
        {% section 'header' %}
      </header>
      {{ content_for_layout }}
      {% section 'footer' %}
    </div>
  </div>

  {% include 'popup-gallery' %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}

  {{ 'fastclick.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

  {% if template contains 'article' or template contains 'product' %}
    {% if settings.social_sharing_blog or settings.social_sharing_products %}
      {{ 'social-buttons.js' | asset_url | script_tag }}
    {% endif %}
  {% endif %}

  <!-- Ajax Cart -->
  {{ 'handlebars.min.js' | asset_url | script_tag }}
  {% include 'ajax-cart-template' %}
  {{ 'ajax-cart.js' | asset_url | script_tag }}
  <script>
    jQuery(function($) {
      ajaxCart.init({
        formSelector: '#AddToCartForm',
        cartContainer: '#CartContainer',
        addToCartSelector: '#AddToCart',
        cartCountSelector: '#CartCount',
        cartCostSelector: '#CartCost',
        moneyFormat: {{ shop.money_format | json }}
      });
    });
  </script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  {{ 'bootstrap.min.js' | asset_url | script_tag }}

  <!-- PORTFOLIO SCRIPTS -->
  {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
  {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
  {{ 'masonry.pkgd.min.js' | asset_url | script_tag }}

  <!-- VALIDATE -->
  {{ 'jquery.validate.min.js' | asset_url | script_tag }}

  <!-- APPEAR -->
  {{ 'jquery.appear.js' | asset_url | script_tag }}

  <!-- OWL CAROUSEL -->
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}

  <!-- PARALLAX -->
  {{ 'jquery.stellar.min.js' | asset_url | script_tag }}

  <!-- GOOLE MAP
!!! To setup Google Maps, please, see the documentation !!! -->
  {{ 'https://maps.google.com/maps/api/js?key=AIzaSyDzf6Gmc9u7rr2JHijOERAmC_j0gWYtR2c' | script_tag }}
  {{ 'gmap3.min.js' | asset_url | script_tag }}

  <!-- BACKGROUND VIDEO -->
  {{ 'jquery.backgroundvideo.min.js' | asset_url | script_tag }}

  <!-- NAV SIDEBAR -->
  {{ 'jquery.nav.js' | asset_url | script_tag }}

  <!-- HEADER BELOW -->
  {{ 'jquery.sticky.js' | asset_url | script_tag }}

  <!-- MAIN SCRIPT -->
  {{ 'main.js' | asset_url | script_tag }}

  <!-- REVOSLIDER SCRIPTS  -->
  {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}
  {{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}

    <script type="text/javascript">
  $( document ).ready(function() {
    // Default settings
    settings = {
      buttonParent         : '.shop-add-btn-cont',
      buttonSelector       : '#collectionAddToCart',
      notification         : '#ajax-notification'
    };

    $('button').each(function() {
      if ( $(this).is( settings.buttonSelector ) ) {
        if ( $(this).attr("data-sold-out") == 'true' ) {
          $(this).text('Sold Out');
          $(this).attr('disabled', true);
        }
        $( this ).show();
      }
    });

    $(".toolbar-wineries-trigger").on('click', function(event){
      $(".toolbar-wineries-collapse").toggleClass("active");
    });

    $(settings.buttonParent).on('click', settings.buttonSelector, function(event){
      event.preventDefault();
      var id = $(this).val();
      console.log('clicked ' + id)
      jQuery.post('/cart/add.js',
      {
        quantity: 1,
        id: id
      },
      function() { console.log("Post has been sent")}, 'json')
        .done(function(response) {
          var notification = '#ajax-notification'
          $(notification).html('<div class="alert-success"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+ response.product_title +' added to the cart.</div>')
          $(notification).fadeIn().delay(5000).fadeOut();
        	jQuery.getJSON('/cart.js', function(cart) {
            console.log('got cart')
        		$('.cart-count').html(cart.item_count);
        	});
        })
        .fail(function(response) {
          var notification = '#ajax-notification'
          $(notification).html('<div class="alert-danger"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>'+ response.responseJSON.description +'</div>')
          $(notification).fadeIn().delay(5000).fadeOut();
        })
      })
    })
  </script>
</body>
</html>
