{% assign include = section.settings.include %}

{% if article.image != blank %}
  {% assign image = article %}
{% elsif article.content contains '<img' %}
  {% assign img_src = article.content | split: 'src="' %}
  {% assign img_size = img_src.size | minus:1 %}
  {% for i in (1..img_size) %}
    {% assign image = img_src[1] | split: '"' | first | replace: '//cdn', 'http://cdn' | replace: 'http:http://', 'http://' | remove: 'https:' %}
  {% endfor %}
{% endif %}
{% assign content_table = true %}

{% include 'titles' %}

{% schema %}
  {
    "name": "Page Header",
    "settings": [
      {
        "type": "select",
        "id": "include",
        "label": "Header Style Layout",
        "options": [
          { "value": "page-title-revo", "label": "Style 1" },
          { "value": "page-title-large-img", "label": "Style 2" },
          { "value": "page-title-large-2", "label": "Style 3" },
          { "value": "page-title-small-grey", "label": "Style 4" }

        ]
      }
    ]
  }
{% endschema %}
