{% assign search = false %}
{% assign categories = false %}
{% assign recent_posts = false %}

{% assign sidebarBlocks = '' %}
{% for block in section.blocks %}
  {% if forloop.last %}{% assign widget = block.type %}{% else %}{% assign widget = block.type | append: ',' %}{% endif %}
  {% assign widgets = widgets | append: widget %}
{% endfor %}

{% assign sidebar = section.settings.sidebar %}
{% assign include = section.settings.include %}

{% include include %}

{% schema %}
  {
    "name": "Article Layout",
    "blocks": [
      {
        "type": "search",
        "name": "Sidebar Search",
        "limit": 1
      },
      {
        "type": "categories",
        "name": "Sidebar Categories",
        "limit": 1
      },
      {
        "type": "recent-posts",
        "name": "Sidebar Recent Posts",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "include",
        "label": "Article Layout",
        "options": [
          { "value": "article-full-width", "label": "Full Width" }
        ]
      },
      {
        "type": "checkbox",
        "id": "sidebar",
        "label": "Include Sidebar",
        "default": true
      }
    ]
  }
{% endschema %}
