<div class="page-section p-50-cont award">
  <div class="container">
    <div class="row">
      <div class="col-md-5 p-60-cont">
        {% assign article = articles[section.settings.featured_article] %}
        <h1>{{ article.title }}</h1>
        <p>"{{ article.content | strip_html | truncatewords: 20 }}"</p>
        <h3>{{ section.settings.points }}</h3>
        <h3>{{ section.settings.judge }}</h3>
        <h4>{{ section.settings.winner }}</h3>
        {% if section.settings.button_text != blank %}<a class="button medium rounded gray" href="{{ article.url }}" role="button">{{ section.settings.button_text }}</a>{% endif %}
      </div>
      <div class="col-md-7 text-right wow fadeInRight" data-wow-duration="1.5s">
        {% if section.settings.image != blank %}<img src="{{ section.settings.image | img_url: '1000x' }}">{% endif %}
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Featured Wine",
    "settings": [
      {
        "type": "article",
        "id": "featured_article",
        "label": "Featured Wine",
        "info": "Choose a blog article"
      },
      {
        "type": "text",
        "id": "points",
        "label": "Points",
        "default": "95 Points"
      },
      {
        "type": "text",
        "id": "judge",
        "label": "Judge",
        "default": "James Halliday"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "category": "Content",
        "name": "Featured Wine"
      }
    ]
  }
{% endschema %}
