{% assign paginate_amount = section.settings.paginate_amount %}
{% assign pagination_template = section.settings.pagination_template %}
{% assign pagination_center = section.settings.pagination_center %}
{% assign include = section.settings.include %}
{% assign sidebar = section.settings.sidebar %}
{% assign search = false %}
{% assign categories = false %}
{% assign recent_posts = false %}
{% assign excerpt_truncate = false %}

{% if section.settings.excerpt_truncate != blank %}{% assign excerpt_truncate = section.settings.excerpt_truncate %}{% endif %}

{% assign sidebarBlocks = '' %}
{% for block in section.blocks %}
  {% if forloop.last %}{% assign widget = block.type %}{% else %}{% assign widget = block.type | append: ',' %}{% endif %}
  {% assign widgets = widgets | append: widget %}
{% endfor %}

{% include include %}

{% schema %}
  {
    "name": "Blog Layout",
    "blocks": [
      {
        "type": "search",
        "name": "Sidebar Search",
        "limit": 1
      },
      {
        "type": "categories",
        "name": "Sidebar Categories",
        "limit": 1
      },
      {
        "type": "recent-posts",
        "name": "Sidebar Recent Posts",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "include",
        "label": "Blog Layout",
        "options": [
          { "value": "blog-grid-half-width", "label": "Two Columns" },
          { "value": "blog-grid-half-width-masonry", "label": "Two Masonry Columns" },
          { "value": "blog-grid-third-width", "label": "Three Columns" }
        ]
      },
      {
        "type": "checkbox",
        "id": "sidebar",
        "label": "Include Sidebar",
        "default": true
      },
      {
        "type": "text",
        "id": "paginate_amount",
        "label": "Number of posts per page",
        "default": "4",
        "placeholder": "4"
      },
      {
        "type": "select",
        "id": "pagination_template",
        "label": "Pagination Style",
        "options": [
          { "value": "pagination-numbers-linear", "label": "Numbers and Arrows" },
          { "value": "pagination-numbers", "label": "Numbers" }
        ]
      },
      {
        "type": "checkbox",
        "id": "pagination_center",
        "label": "Centre Pagination"
      },
      {
        "type": "text",
        "id": "excerpt_truncate",
        "label": "Truncate excerpt",
        "default": "25",
        "placeholder": "25",
        "info": "How many words would you like to display under the blog post? If left blank it will default to 50."
      }
    ]
  }
{% endschema %}
