{% include 'page-title-revo', image: section.settings.image %}
{% stylesheet 'scss' %}
  .page-title-large3-cont {
    background-size: cover;
    &:before {
      background-color: rgba(0, 0, 0, 0.3);
      z-index: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: '';
    }
  }
{% endstylesheet %}
{% schema %}
  {
    "name": "Page Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }

{% endschema %}
