<!-- SIDEBAR -->
<div class="col-sm-4 col-md-3 col-md-offset-1">
  {% for block in section.blocks %}
    <div class="widget" {{ block.shopify_attributes }}>
      <!-- {{ block.type }} -->
      {% case block.type %}
        {% when 'search' %}
          <form class="form-search widget-search-form" action="/search" method="get">
            <input type="text" name="q" class="input-search-widget" placeholder="Search">
            <button  type="submit" title="Start Search">
              <span aria-hidden="true" class="icon_search"></span>
            </button>
          </form>
        {% when 'categories' %}
          <h5 class="widget-title2">Categories</h5>
          <div class="widget-body">
            <ul class="clearlist widget-menu font-poppins">
              {% for tag in blog.all_tags %}
                {% if current_tags contains tag %}
                <li>{{ tag }}</li>
                {% else %}
                <li>{{ tag | link_to_tag: tag }}</li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% when 'recent-posts' %}
          <h5 class="widget-title2">Recent posts</h5>
          <div class="widget-body mt-25">
            <ul class="clearlist widget-posts">
              {% for article in blogs[blog.handle].articles limit:6 %}
                <li class="clearfix">
                  <a href="{{ article.title }}"><img src="{{ article.image | img_url }}" alt="" class="widget-posts-img"></a>
                  <div class="widget-posts-descr2">
                    <a href="#" class="font-poppins lh-18">{{ article.title | truncate_words: 5 }}</a>
                    <div class="lh-18">
                       <time pubdate datetime="{{ article.published_at | date: '%Y-%m-%d' }}">
                        <em class="text-light">{{ article.published_at | date: '%d-%b-%Y' }}</em>
                      </time>
                    </div>
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
      {% endcase %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Blog Sidebar",
    "blocks": [
      {
        "type": "search",
        "name": "Search"
      },
      {
        "type": "categories",
        "name": "Categories"
      },
      {
        "type": "recent-posts",
        "name": "Recent Posts"
      }
    ]
  }

{% endschema %}
