<!-- sections/bricks.liquid -->
<div class="page-section p-140-cont">
  <div class="container">
    <div class="row">

      {% for block in section.blocks %}
        {% assign title = block.settings.title %}
        {% assign subtitle = block.settings.subtitle %}
        {% assign image = block.settings.image %}
        {% assign link = block.settings.link %}

        <div class="col-md-6" {{ block.shopify_attributes }}>
          <div class="brick mb-40">
            <a href="{{ link }}"{% if block.settings.overlay_color != blank %} style="background-color: {{ block.settings.overlay_color }};"{% endif %}>
              <img src="{{ image | img_url: '560x300', crop: 'center' }}" alt="{{ title }} - {{ subtitle }}">
              <div class="shop-dep-text-cont2">
                <div>
                  <h5 class="underline" {% if block.settings.text_color %} style="color: {{ block.settings.text_color }};"{% endif %}>{{ title }}</h5>
                </div>
                <span {% if block.settings.text_color %} style="color:{{ block.settings.text_color }};"{% endif %}>{{ subtitle }}</span>
              </div>
            </a>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Bricks",
    "blocks": [
      {
        "type": "brick",
        "name": "Brick",
        "settings": [
          {
            "type": "header",
            "content": "Brick"
          },
          {
            "id": "text_color",
            "type": "color",
            "label": "Text colour",
            "default": "#ffffff"
          },
          {
            "id": "overlay_color",
            "type": "color",
            "label": "Overlay colour",
            "default": "#000000"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Content",
        "name": "Bricks"
      }
    ]
  }
{% endschema %}
