{% assign paginate_amount = section.settings.paginate_amount %}
{% assign pagination_template = section.settings.pagination_template %}
{% assign pagination_center = section.settings.pagination_center %}
{% assign include = section.settings.include %}
{% assign sidebar = section.settings.sidebar %}
{% assign search = false %}
{% assign categories = false %}
{% assign recent_posts = false %}
{% assign grid_item_width = 'col-xs-12 col-sm-6 col-md-4 col-lg-4' %}


{% assign sidebarBlocks = '' %}
{% for block in section.blocks %}
  {% if forloop.last %}{% assign widget = block.type %}{% else %}{% assign widget = block.type | append: ',' %}{% endif %}
  {% assign widgets = widgets | append: widget %}
{% endfor %}

{% include include %}

{% schema %}
  {
    "name": "Collection Layout",
    "blocks": [
      {
        "type": "live-filter-price",
        "name": "Price Filter",
        "limit": 1
      },
      {
        "type": "live-filter-wineries",
        "name": "Winery Filter",
        "limit": 1
      },
      {
        "type": "live-filter-varietal",
        "name": "Varietal Filter",
        "limit": 1
      },
      {
        "type": "live-filter-type",
        "name": "Type Filter",
        "limit": 1
      },
      {
        "type": "live-filter-label",
        "name": "Label Filter",
        "limit": 1
      }
    ],
    "settings": [
      {
        "type": "select",
        "id": "include",
        "label": "Collection Layout",
        "options": [
          { "value": "collection-grid", "label": "Collection Grid" }
        ]
      },
      {
        "type": "checkbox",
        "id": "sidebar",
        "label": "Include Sidebar",
        "default": true
      },
      {
        "type": "text",
        "id": "paginate_amount",
        "label": "Number of products per page",
        "default": "18",
        "placeholder": "18"
      },
      {
        "type": "select",
        "id": "pagination_template",
        "label": "Pagination Style",
        "options": [
          { "value": "pagination-numbers-linear", "label": "Numbers and Arrows" },
          { "value": "pagination-numbers", "label": "Numbers" }
        ]
      },
      {
        "type": "checkbox",
        "id": "pagination_center",
        "label": "Centre Pagination"
      }
    ]
  }
{% endschema %}
