<div id="contact-link" class="page-section pt-50 bg-{{ section.settings.bg-color }}">
  <div class="container">
    <div class="row-uniform">
      {% for block in section.blocks %}
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center mb-50" {{ block.shopify_attributes }}>
          <p>
            {% include 'icon' with block.settings.icon %}
          </p>
          <h6>{{ block.settings.title }}</h6>
          <p class="feature">
            {% if block.settings.sub_title contains '@' and block.settings.sub_title contains '.' %}
              <a href="mailto:{{ block.settings.sub_title | strip }}">{{ block.settings.sub_title | strip }}</a>
            {% else %}
              {{ block.settings.sub_title | newline_to_br }}
            {% endif %}
          </p>
        </div>
      {% endfor%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Information",
    "settings": [
      {
        "type": "select",
        "id": "bg-color",
        "options": [
        { "value": "dark-gray", "label": "Dark Grey"},
          { "value": "gray", "label": "Grey"},
          { "value": "white", "label": "White"}
        ],
        "label": "Background Colour"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "sub_title",
            "type": "textarea",
            "label": "Information"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              { "value": "none", "label": "None" },
              { "value": "globe", "label": "Globe" },
              { "value": "map", "label": "Map" },
              { "value": "phone", "label": "Phone" },
              { "value": "email", "label": "Email" },
              { "value": "sapling", "label": "Sapling" },
              { "value": "heart", "label": "Heart" },
              { "value": "wine", "label": "Wine" },
              { "value": "tree", "label": "Tree" },
              { "value": "house", "label": "House" },
              { "value": "support", "label": "Support" },
              { "value": "payment", "label": "Payment" },
              { "value": "return", "label": "Returns" },
              { "value": "clock-arrow", "label": "Clock with Arrow" }
            ],
            "label": "Choose icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Content",
        "name": "Contact Information"
      }
    ]
  }
{% endschema %}
