{% assign title = section.settings.title %}
{% assign success = section.settings.success %}
{% assign submit_text = section.settings.submit_text %}

  {% if title != blank %}
    <div class="mb-40">
      <h3>{{ title }}</h3>
    </div>
  {% endif %}

  <div class="formWrapper form-builder">
    {% form 'contact' %}
        {% if form.errors %}
          <div id="notification_container" class="form-error">
            {{ form.errors | default_errors | prepend: '<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' | append: '</div>' }}
          </div>
        {% endif %}
        {% if form.posted_successfully? %}
          <div id="notification_container" class="form-success">
            {{ success | prepend: '<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' | append: '</div>' }}
          </div>
        {% else %}
        {% assign count = 0 %}
        {% for block in section.blocks %}
          {% assign count = count | plus: 1 %}
          <div class="row" {{ block.shopify_attributes }}>
            {% assign label = block.settings.label %}

            {% if block.settings.id != blank %}
              {% assign handle = block.settings.id %}
            {% else %}
              {% assign handle = block.type | append: count %}
            {% endif %}

            {% assign placeholder = block.settings.placeholder %}
            {% assign required = block.settings.required %}
            {% assign required_message = block.settings.required_message %}
            {% assign max_length = block.settings.max_length %}

            {% case block.type %}
              {% when 'text' %}
                <div class="col-md-12 mb-30">
                  {% if label != blank %}<label for="{{ handle | handleize }}">{{ label }}{% if required %}*{% endif %}</label>{% endif %}
                  <input type="text" value="{% if form[label] %}{{ form[label] }}{% endif %}" autocorrect="off" autocapitalize="off" maxlength="{{ max_length }}" class="form-control" name="contact[{{ handle }}]" id="{{ handle | handleize }}" placeholder="{{ placeholder }}"{% if required %} data-msg-required="{{ required_message }}" required{% endif %}>
                </div>
              {% when 'email' %}
                <div class="col-md-12 mb-30">
                  {% if label != blank %}<label for="{{ handle | handleize }}">{{ label }}{% if required %}*{% endif %}</label>{% endif %}
                  <input type="email" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}" autocorrect="off" autocapitalize="off" data-msg-email="Please enter a valid email address." maxlength="{{ max_length }}" class="form-control" name="contact[email]" placeholder="{{ placeholder }}"{% if required %} data-msg-required="{{ required_message }}" required{% endif %}>
                </div>
              {% when 'textarea' %}
                <div class="col-md-12 mb-40">
                  {% if label != blank %}<label for="{{ handle | handleize }}">{{ label }}{% if required %}*{% endif %}</label>{% endif %}
                  <textarea maxlength="{{ max_length }}" rows="10" autocorrect="on" autocapitalize="off" class="form-control" name="contact[{{ handle }}]" id="{{ handle | handleize }}" placeholder="{{ placeholder }}"{% if required %} data-msg-required="{{ required_message }}" required{% endif %}></textarea>
                </div>
            {% endcase %}
          </div>
        {% endfor %}
      {% endif %}
      <div class="col-md-12 ">
        <input type="submit" value="{{ submit_text }}" class="button medium thin rounded gray" data-loading-text="Loading...">
      </div>
    {% endform %}
  </div>

{% javascript %}
(function($){
  $(document).on('submit','.formWrapper form',function(e){
    e.preventDefault()
    var form = 'form#'+$(this).attr('id')
    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize(),
      cache: false,
      beforeSend: function() {
        $(form+' :input').prop('disabled', true);
      },
      error: function() {
        $(form+' :input').prop('disabled', false);
        $('#notification_container').html('<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert" ><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Could not connect to the server, please try again.</div>')
      },
      success: function(response) {
        var successResponse = $(response).find('.form-success')
        var errorResponse = $(response).find('.form-error')
        if ($(successResponse).length) {
          $(form).before(successResponse)
          $(form).hide()
        } else if ($(errorResponse).length) {
          $(form).before(errorResponse)
        } else {
          $('<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>Unable to submit for. Please refresh and try again.</div>').prependTo(form)
        }
      }
    })
  })
})(jQuery);
{% endjavascript %}

{% schema %}
  {
    "name": "Contact Form",
    "settings": [
      {
        "type": "header",
        "content": "Contact Form",
        "info": "The contact form will send the message to the 'Customer Email' in your shopify settings."
      },
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "submit_text",
        "type": "text",
        "label": "Submit Text",
        "placeholder": "Submit Form"
      },
      {
        "id": "success",
        "type": "textarea",
        "label": "Success Message",
        "default": "<strong>Thank you for contacting us.</strong> Someone will respond soon."
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text and Numbers Field",
        "settings": [
          {
            "type": "header",
            "content": "Text and Numbers",
            "info": "Perfect for capturing, names, business names, addresses, and even phone numbers."
          },
          {
            "type": "text",
            "label": "Name",
            "info": "Give this a unique and decriptive name such as 'First Name' or 'Post Code' so that it is easy to understand the data you recieve.",
            "id": "id"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Label",
            "placeholder": "Name"
          },
          {
            "id": "placeholder",
            "type": "text",
            "label": "Placeholder Text",
            "placeholder": "Name"
          },
          {
            "id": "required",
            "type": "checkbox",
            "label": "Required Field"
          },
          {
            "id": "required_message",
            "type": "text",
            "label": "Required Message",
            "placeholder": "Please enter your name.",
            "info": "Displayed if the field is required but not filled."
          },
          {
            "id": "max_length",
            "type": "text",
            "label": "Max Length",
            "placeholder": "100",
            "default": "100",
            "info": "Maximum number of characters"
          }
        ]
      },
      {
        "type": "email",
        "name": "Email Field",
        "settings": [
          {
            "type": "text",
            "label": "Name",
            "info": "Give this a unique and decriptive name such as 'Email' or 'Secondary Email' so that it is easy to understand the data you recieve.",
            "id": "id"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Label",
            "placeholder": "Email"
          },
          {
            "id": "placeholder",
            "type": "text",
            "label": "Placeholder Text",
            "placeholder": "Email"
          },
          {
            "id": "required",
            "type": "checkbox",
            "label": "Required Field"
          },
          {
            "id": "required_message",
            "type": "text",
            "label": "Required Message",
            "placeholder": "Please enter your email address.",
            "info": "Displayed if the field is required but not filled."
          },
          {
            "id": "max_length",
            "type": "text",
            "label": "Max Length",
            "placeholder": "100",
            "default": "100",
            "info": "Maximum number of characters"
          }
        ]
      },
      {
        "type": "textarea",
        "name": "Text Area",
        "settings": [
          {
            "type": "text",
            "label": "Name",
            "info": "Give this a unique and decriptive name such as 'Message' or 'Feedback' so that it is easy to understand the data you recieve.",
            "id": "id"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Label",
            "placeholder": "Message"
          },
          {
            "id": "placeholder",
            "type": "text",
            "label": "Placeholder Text",
            "placeholder": "Message"
          },
          {
            "id": "required",
            "type": "checkbox",
            "label": "Required Field"
          },
          {
            "id": "required_message",
            "type": "text",
            "label": "Required Message",
            "placeholder": "Please enter a message.",
            "info": "Displayed if the field is required but not filled."
          },
          {
            "id": "max_length",
            "type": "text",
            "label": "Max Length",
            "placeholder": "5000",
            "default": "5000",
            "info": "Maximum number of characters"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Contact Form",
        "category": "Communication"
      }
    ]
  }
{% endschema %}
