<!-- CONTACT INFO SECTION 1  -->
<div id="contact-link" class="page-section p-100-cont bg-yellow">
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-map"></div>
          </div>
          <div class="cis-text">
            <h3>Address</h3>
            <p class="fes14-tab-text">790 Folsom Ave, San Francisco</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-mail"></div>
          </div>
          <div class="cis-text">
            <h3>Email</h3>
            <p><a href="mailto:info@elementy.com">info@elementy.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="cis-cont">
          <div class="cis-icon">
            <div class="icon icon-basic-smartphone"></div>
          </div>
          <div class="cis-text">
            <h3>Call Us</h3>
            <p class="fes14-tab-text">1-800-312-212, 1-800-311-101</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact Bar",
    "blocks": [
      {
        "type": "details",
        "name": "details",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Information"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              { "value": "globe", "label": "Globe"},
              { "value": "support", "label": "Support"},
              { "value": "payment", "label": "Payment"},
              { "value": "return", "label": "Returns"},
              { "value": "wine", "label": "Wine"},
              { "value": "sapling", "label": "Sapling"},
              { "value": "clock-arrow", "label": "Clock with Arrow"},
              { "value": "clock", "label": "Clock"}
            ],
            "label": "Choose icon"
          }
        ]
      }
    ]
  }
{% endschema %}
