{% assign include = section.settings.include %}
{% assign image = section.settings.image %}
{% assign no_title = section.settings.no_title %}
{% assign title = section.settings.title %}

{% include 'titles' %}

{% schema %}
  {
    "name": "Page Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "FWG Rewards Club"
      },
      {
        "type": "checkbox",
        "id": "no_title",
        "label": "Hide title",
        "default": true
      },
      {
        "type": "select",
        "id": "include",
        "label": "Header Style Layout",
        "options": [
          { "value": "page-title-revo", "label": "Style 1" },
          { "value": "page-title-large-img", "label": "Style 2" },
          { "value": "page-title-large-2", "label": "Style 3" }
        ]
      }
    ]
  }
{% endschema %}
