<div class="container">
{% comment %}
  <p><a href="/">{{ 'customer.login.cancel' | t }}</a></p>
  <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>
{% endcomment %}
{% for block in section.blocks %}
  {% assign sub_title = block.settings.sub_title %}
  {% assign title = block.settings.title %}
  {% assign include = block.type %}
  {% assign image = block.settings.image %}
  {% assign button_link = block.settings.button_link %}
  {% assign button_text = block.settings.button_text %}
  <div class="row">
    <div class="col-xs-12">
      {% case include %}
        {% when 'register' %}
          {% unless customer %}
            <div class="text-center">
              {% if title != blank %}<h5>{{ title }}</h5>{% endif %}
              {% if sub_title != blank %}<p><a class="button thin gray medium rounded" href="register">{{ sub_title }}</a></p>{% endif %}
            </div>
            <hr>
          {% endunless %}
        {% when 'login' %}
          {% unless customer %}
            <div class="text-center">
              {% if title != blank %}<h3>{{ title }}</h3>{% endif %}
              {% if sub_title != blank %}<p>{{ sub_title }}</p>{% endif %}

              <div class="note form-success" id="ResetSuccess" style="display:none;">
                {{ 'customer.recover_password.success' | t }}
              </div>

              <div id="CustomerLoginForm" class="form-vertical">
                {% form 'customer_login' %}

                  {{ form.errors | default_errors }}

                  <label for="CustomerEmail" class="label--hidden">{{ 'customer.login.email' | t }}</label>
                  <input type="email" name="customer[email]" id="CustomerEmail"{% if form.errors contains 'email' %} class="error"{% endif %} placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

                  {% if form.password_needed %}

                    <label for="CustomerPassword" class="label--hidden">{{ 'customer.login.password' | t }}</label>
                    <input type="password" value="" name="customer[password]" id="CustomerPassword"{% if form.errors contains 'password' %} class="error"{% endif %} placeholder="{{ 'customer.login.password' | t }}">

                    <p>{% include 'icon' with 'help' %} <a href="/account/login?view=reset">{{ 'customer.login.forgot_password' | t }}</a></p>

                  {% endif %}

                  <p>
                    <input type="submit" class="button rounded medium gray thin btn-block" value="{{ 'customer.login.sign_in' | t }}">
                  </p>

                {% endform %}
              </div>
            </div>
            <hr>
          {% endunless %}
        {% when 'text' %}
          <div class="text-center">
            <h3>{{ block.settings.title }}</h3>
            <p class="feature">{{ block.settings.paragraph }}</p>
          </div>
        {% when 'image' %}
          <div class="text-center">
            <img src="{{ image | img_url: '250x'}}">
          </div>
        {% when 'faq' %}
          <div class="text-center">
            <h1>{{ title }}</h1>
            <h4>{{ sub_title }}</h4>
            <a href="{{ button_link }}" class="button rounded medium gray">{{ button_text }}</a>
          </div>
      {% endcase %}
    </div>
  </div>
{% endfor %}
</div>
{% schema %}
  {
    "name": "Right Column",
    "blocks": [
      {
        "type": "register",
        "name": "Register",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Not a member yet?",
            "placeholder": "Not a member yet?"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Subtitle",
            "default": "Sign up today!",
            "placeholder": "Sign up today!"
          }
        ]
      },
      {
        "type": "faq",
        "name": "FAQ",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "FAQ's",
            "placeholder": "FAQ's"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Subtitle",
            "default": "Frequently Asked Questions",
            "placeholder": "Frequently Asked Questions"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Read",
            "placeholder": "Read"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "login",
        "name": "Login",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Already have an account?",
            "placeholder": "Already have an account?"
          },
          {
            "type": "text",
            "id": "sub_title",
            "label": "Subtitle",
            "default": "Login",
            "placeholder": "Login"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "paragraph",
            "label": "Paragraph"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }

{% endschema %}
