<div class="container">
  {% for block in section.blocks %}
  {% assign button_text = blank %}
  {% assign button_link = blank %}
  {% assign image = blank %}
  {% assign title = block.settings.title %}
  {% assign content = block.settings.content | newline_to_br %}
  {% assign button_text = block.settings.button_text %}
  {% assign button_link = block.settings.button_link %}
  {% assign include = block.type %}
  {% assign reverse = block.settings.reverse %}
  {% assign image = block.settings.image %}
  {% assign image_width = '2000x' %}
  {% assign heading = block.settings.heading %}
  {% assign align = block.settings.align %}

  <div class="clearfix" {{ block.shopify_attributes }}>
    {% include 'content' %}
  </div>
{% endfor %}
<h3>Club FAQ</h3>
{% for article in blogs['rewards-club-faq'].articles %}
  <h6 class="accordion-title">{{ article.title }}</h6>
  <div class="accordion-content">{{ article.content }}</div>
{% endfor %}

<script>
$(function(){
  $('.accordion-title').click(function() {
    // remove classes from all siblings
    $(this).siblings().removeClass('active');
    $(this).siblings().removeClass('show');

    if ($(this).hasClass('active')) {
      $(this).removeClass('active');
      $(this).next().removeClass('show');
    } else {
      $(this).addClass('active');
      $(this).next().addClass('show');
    }
  });
});
</script>

{% for article in blogs['rewards-club-faq'].articles %}
  <h6 class="accordion-title">{{ article.title }}</h6>
  <div class="accordion-content">{{ article.content }}</div>
{% endfor %}
</div>
<script>
$(function(){
  $('.accordion-title').click(function() {
    // remove classes from all siblings
    $(this).siblings().removeClass('active');
    $(this).siblings().removeClass('show');

    if ($(this).hasClass('active')) {
      $(this).removeClass('active');
      $(this).next().removeClass('show');
    } else {
      $(this).addClass('active');
      $(this).next().addClass('show');
    }
  });
});
</script>

{% schema %}
  {
    "name": "Left Column",
    "blocks": [
      {
        "type": "content-title",
        "name": "Title",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Align"
          },
          {
            "type": "select",
            "id": "heading",
            "options": [
              { "value": "h1", "label": "Heading One" },
              { "value": "h2", "label": "Heading Two" },
              { "value": "h3", "label": "Heading Three" },
              { "value": "h4", "label": "Heading Four" },
              { "value": "h5", "label": "Heading Five" },
              { "value": "h6", "label": "Heading Six" }
            ],
            "label": "Title size",
            "default": "h1"
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "content-text-block",
        "name": "Text Block",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Align"
          },
          {
            "type": "select",
            "id": "heading",
            "options": [
              { "value": "h1", "label": "Heading One" },
              { "value": "h2", "label": "Heading Two" },
              { "value": "h3", "label": "Heading Three" },
              { "value": "h4", "label": "Heading Four" },
              { "value": "h5", "label": "Heading Five" },
              { "value": "h6", "label": "Heading Six" }
            ],
            "label": "Title size",
            "default": "h3"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ]
  }
{% endschema %}
