<div class="page-section bg-gray-light clearfix">
  <div class="container">
    <div class="row pb-60">
      {% for block in section.blocks %}
        {% if block.type == 'distribution-country' %}
          {% assign title = block.settings.title %}
          {% assign handle = title | handleize %}
          {% assign image = block.settings.image %}
          <div {{ block.shopify_attributes }}>
            {% comment  %} Country modal {% endcomment %}
            <div class="col-xs-6 col-sm-3 col-md-2">
              <h6 class="mb-30 text-center country">{{ title }}</h6>

              <div class="country-table">
                <a href="#" data-toggle="modal" data-target=".{{ handle }}"><img src="{{ image | img_url: '300x150' }}" alt="{{ title }} flag"></a>
              </div>

            </div>

            <!-- Modal -->
            <div class="modal fade {{ handle }} bootstrap-modal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-md">
                <div class="modal-body">
                  <div class="modal-content border-none border-rad-0">
                    <button type="button" class="close modal-close" data-dismiss="modal" aria-hidden="true">{% include 'icon' with 'close' %}</button>
                    <div class="pt-20 p-40">
                      <h3 class="mb-0 text-center">{{ title }}</h3>
                    </div>
                    <div class="row pt-20 p-40">
                      {% comment %}Distributor{% endcomment %}
                      {% for block in section.blocks %}
                        {% if block.type == 'distributor' and block.settings.country == title %}
                          {% assign distributor = block.settings.title %}
                          {% assign address = block.settings.address | newline_to_br %}
                          {% assign contact_name = block.settings.contact_name %}
                          {% assign contact_phone = block.settings.contact_phone %}
                          {% assign contact_email = block.settings.contact_email %}
                          {% assign website = block.settings.website %}
                          <div class="col-xs-12 col-sm-4">
                            <h6>{{ distributor }}</h6>
                            <ul class="no-bullet">
                              <li><strong>Contact Name:</strong></li>
                              <li>{{ contact_name }}</li>
                              <li></li>
                              <li><strong>Address:</strong></li>
                              <li>{{ address }}</li>
                              <li><strong>Phone:</strong> {{ contact_phone }}</li>
                              <li><strong>Email:</strong> {{ contact_email }}</li>
                              <li><strong>Website:</strong> <a href="{{ website }}">{{ website }}</a></li>
                            </ul>
                          </div>
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}


      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Distributors",
    "blocks": [
      {
        "type": "distributor",
        "name": "Distributor",
        "settings": [
          {
            "id": "country",
            "type": "text",
            "label": "Country"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Distributor"
          },
          {
            "id": "contact_name",
            "type": "text",
            "label": "Contact"
          },
          {
            "id": "address",
            "type": "textarea",
            "label": "Address"
          },
          {
            "id": "contact_phone",
            "type": "text",
            "label": "Contact Phone"
          },
          {
            "id": "contact_email",
            "type": "text",
            "label": "Contact Email"
          },
          {
            "id": "website",
            "type": "text",
            "label": "Website"
          }
        ]
      },
      {
        "type": "distribution-country",
        "name": "Country",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Country"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Flag"
          }
        ]
      }
    ]
  }
{% endschema %}
