<div class="page-section bg-gray-light">
  <div class="container p-50-cont">
    <div class="row">
      <p class="text-center feature">{{ section.settings.title }} <a href="mailto:{{ section.settings.email }}">{{ section.settings.email }}</a></p>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Distribution Contact",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Text",
        "default": "If you would like to discuss distribution opportunities for Deep Woods Estate - please contact"
      },
      {
        "type": "text",
        "id": "email",
        "label": "Email address",
        "default": "stephenb@fogartywines.com.au"
      }
    ]
  }

{% endschema %}
