  {% assign count = 0 %}
  {% for block in section.blocks %}
    {% unless block.settings.title == page.title %}
      {% assign count = count | plus: 1 %}
    {% endunless %}
  {% endfor %}

<ul class="port-grid port-grid-{{ count }} clearfix" id="items-grid">

  {% for block in section.blocks %}
    <!-- Item -->
    {% unless block.settings.title == page.title %}
      <li class="port-item greyscale mix design" {{ block.shopify_attributes }}>
        <a href="{{ block.settings.link }}">
          <div class="port-img-overlay footer-images">
            <img class="port-main-img" src="{{ block.settings.image | img_url: '500x350', crop: 'bottom' }}">
          </div>
          <div class="port-overlay-cont">
            <div class="port-title-cont2">
              <div>
                <h3>{{ block.settings.title }}</h3>
              <div>
              <span>{{ block.settings.subtitle }}</span>
            </div>
          </div>
        </a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>

{% schema %}
  {
    "name": "Footer Images",
    "max_blocks": 4,
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle",
            "type": "text",
            "label": "Subtitle"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          }
        ]
      }
    ]
  }

{% endschema %}
