<footer class="site-footer text-sm-center" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-sm-6 text-left text-xs-center">
            <ul class="footer-nav" id="AccessibleNav">
              {% for link in linklists.footer.links %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-sm-6 text-md-left text-sm-right text-xs-center">
            <ul class="footer-nav" id="AccessibleNav">
              {% for link in linklists.footer-1.links %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <a href="http://fogarty.wine" title="Fogarty Wine Group" class="fwg_logo">
          {{ section.settings.image | img_url: 'x200' | img_tag: 'Fogarty Wine Group' }}
        </a>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-6 text-right text-sm-center">
            <ul class="footer-nav" id="AccessibleNav">
              {% for link in linklists.footer-2.links %}
                <li {% if link.active %}class="site-nav--active"{% endif %}>
                  <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="col-md-6 text-center">
            {% if settings.footer_social_enable %}
              <ul class="social-icons">
                {% if settings.twittercard_handle != blank or settings.twittercard_handle == '@'  %}
                  <li>
                    <a class="icon-fallback-text" href="http://twitter.com/{{ settings.twittercard_handle | remove: '@' }}" title="{{ shop.name }} on Twitter">
                      {% include 'icon' with 'twitter' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_facebook_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                      {% include 'icon' with 'facebook' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_instagram_id != blank %}
                  <li>
                    <a class="icon-fallback-text" href="https://instagram.com/{{ settings.social_instagram_id | remove: '@' }}" title="{{ shop.name }} on Instagram">
                      {% include 'icon' with 'instagram' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_pinterest_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest">
                      {% include 'icon' with 'pinterest' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_fancy_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_fancy_link }}" title="{{ shop.name }} on Fancy">
                      {% include 'icon' with 'fancy' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_google_plus_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_google_plus_link }}" title="{{ shop.name }} on Google+">
                      {% include 'icon' with 'google_plus' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_youtube_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on YouTube">
                      {% include 'icon' with 'youtube' %}
                    </a>
                  </li>
                {% endif %}
                {% if settings.social_vimeo_link != blank %}
                  <li>
                    <a class="icon-fallback-text" href="{{ settings.social_vimeo_link }}" title="{{ shop.name }} on Vimeo">
                      {% include 'icon' with 'vimeo' %}
                    </a>
                  </li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="row">
      <div class="col-xs-12 text-center credit">
        <small>&copy; <a href="/">{{ shop.name }}</a> | <a href="https://fogarty.wine">Fogarty Wine Group</a></small>
        <small class="smaller">Digital commerce by <a href="https://elkfox.com?ref={{ shop.name | handleize }}" title="Digital Commerce by Elkfox.com">Elkfox</a> & <a href="https://shopify.com?ref=elkfox" title="Shopify.com">Shopify</a></small>
      </div>
    </div>
  </div>
{% comment %}
  {% unless pages.legal-disclaimer.content == '' %}
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center disclaimer">
          <p>{{ pages.legal-disclaimer.content | strip_html }}</p>
        </div>
      </div>
    </div>
  {% endunless %}
{% endcomment %}
</footer>

<p id="back-top">
  <a href="#top" title="Back to Top">{% include 'icon' with 'up' %}</a>
</p>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Footer Logo"
      }
    ]
  }
{% endschema %}
