<div class="header-wrapper">
  <div class="container-m-30 clearfix">
    <div class="logo-row">
      <div class="logo-container-2">
        <div class="logo-2">
          <a href="{{ shop.url }}" class="clearfix">
            <img src="{{ 'logo.png' | asset_img_url: '500x' }}" class="logo-img" alt="Logo">
          </a>
        </div>
      </div>
      <div class="menu-btn-respons-container">
        <button id="menu-btn" type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
          <span class="icon_menu hamb-mob-icon">{% include 'icon' with 'menu' %}</div>
        </button>
      </div>

    <ul class="cd-header-buttons">
      <li><a class="cd-search-trigger" href="#cd-search">{% include 'icon' with 'search' %}</a></li>
    </ul>
  </div>


  <!-- MAIN MENU CONTAINER -->
  <div class="main-menu-container">

    <div class="container-m-30 clearfix">

      <!-- MAIN MENU -->
      <div id="main-menu">
        <div class="navbar navbar-default" role="navigation">

          <!-- MAIN MENU LIST -->
          <nav class="collapse collapsing navbar-collapse right-1024">
            <ul class="nav navbar-nav">
              {% for item in linklists[section.settings.menu].links %}
              	{% assign nav_tmpl = 'nav-item' %}
              {% include nav_tmpl link: item %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
      <!-- END main-menu -->
    </div>
    <!-- END container-m-30 -->
  </div>
  <!-- END main-menu-container -->

  <div id="cd-search" class="cd-search">
    <form class="form-search" id="searchForm" action="/search" method="get">
      <input type="text" value="" name="q" id="q" placeholder="Search...">
    </form>
  </div>

</div>

{% schema %}
  {
    "name": "Site Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Main Menu"
      }
    ]
  }

{% endschema %}
