<div class="page-section p-50-cont information-bar" style="background-color: {{ section.settings.background_color }};">
  <div class="container">
    <div class="row">
      {% assign count = 0 %}
      {% for block in section.blocks %}
        {% assign count = count | plus: 1 %}
      {% endfor %}

      {% if count < 1 %}
        {% assign col = 12 %}
      {% else %}
        {% assign col = 12 | divided_by: count %}
      {% endif %}

      {% for block in section.blocks %}
        <div class="col-xs-12 col-sm-{{ col }} col-md-{{ col }} col-lg-{{ col }} client2-item" {{ block.shopify_attributes }}>
          {% include 'icon' with block.settings.icon %}
          <p>{{ block.settings.title }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .information-bar p {
    color: {{ section.settings.icon_color }};
  }
  .information-bar svg {
    width: 35px;
    height: 35px;
    fill: none;
    stroke: none;
  }
  .information-bar svg .fill {
    fill: {{ section.settings.icon_color }};
  }
  .information-bar svg .stroke {
    stroke: {{ section.settings.icon_color }};
  }
</style>

{% schema %}
  {
    "name": "Information Bar",
    "max_blocks": 4,
    "settings": [
      {
        "id": "background_color",
        "label": "Background Colour",
        "type": "color",
        "default": "#FBF18E"
      },
      {
        "id": "icon_color",
        "label": "Icon Colour",
        "type": "color",
        "default": "#000"
      }
    ],
    "blocks": [
      {
        "type": "icon",
        "name": "Icon",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Free Shipping over $250"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              { "value": "none", "label": "None" },
              { "value": "globe", "label": "Globe" },
              { "value": "map", "label": "Map" },
              { "value": "phone", "label": "Phone" },
              { "value": "email", "label": "Email" },
              { "value": "sapling", "label": "Sapling" },
              { "value": "heart", "label": "Heart" },
              { "value": "wine", "label": "Wine" },
              { "value": "tree", "label": "Tree" },
              { "value": "house", "label": "House" },
              { "value": "support", "label": "Support" },
              { "value": "payment", "label": "Payment" },
              { "value": "return", "label": "Returns" },
              { "value": "dollar", "label": "Dollar" },
              { "value": "change", "label": "Change" },
              { "value": "money", "label": "Money" },
              { "value": "handshake", "label": "Hand Shake" },
              { "value": "lorry", "label": "Lorry" },
              { "value": "clock-arrow", "label": "Clock with Arrow" }
            ],
            "label": "Choose icon"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Content",
        "name": "Information Bar"
      }
    ]
  }

{% endschema %}
