<div id="portfolio-link" class="image-grid page-section">
  <div class="relative bg-light-gray">
    {% if section.settings.title != blank %}
      <div class="container">
        <div class="p-60-cont">

          <div>
            <h2 class="section-title2">{{ section.settings.title }}</h2>
          </div>

        </div>
      </div>
    {% endif %}

    <ul class="port-grid port-grid-3 clearfix" id="items-grid">

      {% for block in section.blocks %}

        <li class="port-item mix design" {{ block.shopify_attributes }}>
          <a href="{{ block.settings.link}}">
            <div class="port-img-overlay">
              <div class="port-main-img" style="background-image:url({{ block.settings.image | img_url: 'x700' }});background-size:cover;background-position:center center;"></div>
            </div>
            <div class="port-overlay-cont">
              <div class="port-title-cont2">
                <div>
                  <h3>{{ block.settings.title }}</h3>
                <div>
                <span>{{ block.settings.sub_title }}</span>
              </div>
            </div>
          </a>
        </li>
      {% endfor %}
    </ul>

  </div>
</div>

{% schema %}
  {
    "name": "Image Grid",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Explore"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Wines"
          },
          {
            "id": "link",
            "type": "url",
            "label": "Link"
          },
          {
            "id": "sub_title",
            "type": "text",
            "label": "Sub-title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Layout",
        "name": "Image Grid"
      }
    ]
  }
{% endschema %}
