<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted{% if loop %} loop{% endif %}>
<source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
</video>

{% schema %}
  {
    "name": "Hero Video",
    "presets": [
      {
        "category": "Content",
        "name": "Hero Video"
      }
    ]
  }

{% endschema %}
