{% if section.settings.stop_on_hover %}{% assign stop_on_hover = 'on' %}{% else %}{% assign stop_on_hover = 'off' %}{% endif %}
{% assign count = 0 %}
{% for block in section.blocks %}
  {% assign count = count | plus: 1 %}
  {% if block.type == 'video' %}
    {% assign video_hero = true %}
    {% assign vimeo = false %}
  {% endif %}
{% endfor %}

{% assign size = section.settings.size %}
{% assign shadow = section.settings.shadow %}
{% assign scroll_down_arrow = section.settings.scroll_down_arrow %}
<div class="relative indent-header-top-bar">
  <div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_{{ section.id }}_wrapper" style="margin:0px auto;background-color:#101010;padding:0px;margin-top:0px;margin-bottom:0px;">
    <div class="rev_slider fullwidthabanner" id="rev_slider_{{ section.id }}" style="display:none;">
      <ul>
        {% for block in section.blocks %}

          {% comment %}{% if block.settings.parallax %}{% assign parallax = '3D' %}{% else %}{% assign parallax= 'none'%}{% endif %}{% endcomment %}
          {% assign include = block.type %}
          {% assign transition = block.settings.transition %}
          {% assign title_color = block.settings.title_color %}

          {% assign sub_title_color = block.settings.sub_title_color %}

          {% assign button_one_text = block.settings.button_one_text %}
          {% assign button_one_link = block.settings.link_one %}
          {% assign button_one_style = block.settings.button_one_style %}
          {% if button_one_style == '1' %}{% capture button_one_css %}medium rounded thin gray{% endcapture %}{% elsif button_one_style == '2' %}{% capture button_one_css %}medium rounded hover-dark gray{% endcapture %}{% endif %}

          {% assign button_two_text = block.settings.button_two_text %}
          {% assign button_two_link = block.settings.link_two %}
          {% assign button_two_style = block.settings.button_two_style %}
          {% if button_two_style == '1' %}{% capture button_two_css %}medium rounded thin gray{% endcapture %}{% elsif button_two_style == '2' %}{% capture button_two_css %}medium rounded hover-dark gray{% endcapture %}{% endif %}

          {% assign x = block.settings.x %}
          {% assign hoffset = 40 %}
          {% if x == 'center' %}{% assign hoffset = 0 %}{% endif %}

          {% assign heading = blank %}
          {% assign image_2 = blank %}

          {% assign image = block.settings.image %}
          {% assign image_2 = block.settings.image_2 %}
          {% assign video_url = block.settings.video_url %}
          {% assign heading = block.settings.title %}
          {% assign sub_title = block.settings.sub_title %}
          {% if button_one_text != blank and button_one_link != blank %}{% assign button_one = true %}{% else %}{% assign button_one = false %}{% endif %}
          {% if button_two_text != blank and button_two_link != blank %}{% assign button_two = true %}{% else %}{% assign button_two = false %}{% endif %}
          {% capture tmp %}{% raw %}<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div>	<div class="tp-arr-titleholder h1">{{title}}</div></div>{% endraw %}{% endcapture %}
          {% if video_hero %}
            {% if block.type == 'video' %}
              <li data-index="rs-673" data-transition="{{ transition }}" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ image | img_url: 'x2000' }}" data-rotate="0" data-saveperformance="off" data-title="{{ heading }}" data-description="{{ description }}" {{ block.shopify_attributes }}>
                <!-- MAIN IMAGE -->
                <img src="{{ image | img_url: 'x500' }}" data-lazyload="{{ image | img_url: 'x2000' }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                <!-- LAYERS -->

                {% if video_url contains 'vimeo.com/' %}
                  {% assign video_url_split = video_url | split: 'vimeo.com/' %}
                  {% assign vimeo_id = video_url_split[1] %}
                  {% assign vimeo = true %}
                {% endif %}

                <!-- BACKGROUND VIDEO LAYER -->
                <div class="rs-background-video-layer" data-forcerewind="on" data-volume="mute" data-videowidth="100%" data-videoheight="100%" {% if vimeo %}data-vimeoid="{{ vimeo_id }}?autoplay=1&loop=1&title=0&byline=0&portrait=0"{% else %}data-videomp4="{{ video_url }}?autoplay=1&loop=1&title=0&byline=0&portrait=0"{% endif %} data-videopreload="preload" data-videoloop="loop" data-autoplay="true" data-autoplayonlyfirsttime="false" data-nextslideatend="true"></div>

                <!-- LAYER NR. 1 -->
                {% if image_2 != blank %}
                  <div class="tp-caption tp-resizeme rs-parallaxlevel-9" id="slide-696-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeOut;" data-transform_out="rZ:0deg;sX:0.7;sY:0.7;opacity:0;s:500;e:Back.easeIn;s:500;e:Back.easeIn;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1850" data-responsive_offset="on" style="z-index: 7;">
                    <div class="rs-looped{% if block.settings.pulse %} rs-pulse{% endif %}" data-easing="Power1.easeInOut" data-speed="3" data-zoomstart="0.98" data-zoomend="1"><img src="{{ image_2 | img_url: '700x600' }}" alt="{{ heading }}" width="1400" height="1200" data-ww="['700px','700px','700px','350']" data-hh="['600px','600px','600px','300']" data-lazyload="{{ image_2 | img_url: '700x600' }}" data-no-retina>
                    </div>
                  </div>
                {% endif %}
              </li>
            {% endif %}
          {% else %}
            {% case include %}
              {% when 'slide' %}
                <li data-index="rs-{{ block.id }}" data-transition="{{ transition }}" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ image | img_url: 'medium' }}" data-rotate="0" data-saveperformance="off" data-title="{{ heading }}" data-description="{{ sub_title }}" {{ block.shopify_attributes }}>
                  <img src="{{ image | img_url: 'x2000' }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                  <div class="tp-caption tp-resizeme rs-parallaxlevel-6"
                       id="slide-{{ block.id }}-layer-1"
                       style="z-index: 8; color: {{ title_color }};"
                       data-fontsize="['55','50','50','25']"
                       data-fontweight="600"
                       data-height="none"
                       data-lineheight="['102','82','74','64']"
                       data-responsive_offset="on"
                       data-splitin="none"
                       data-splitout="none"
                       data-start="500"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="y:[100%];s:1000;s:1000;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                       data-whitespace="nowrap"
                       data-width="none"
                       data-x="['{{ x }}','{{ x }}','{{ x }}','{{ x }}']"
                       data-hoffset="['{{ hoffset }}','{{ hoffset }}','0','0']"
                       data-y="['center','center','center','center']"
                       data-voffset="['-50','-50','-35','-33']">
                   <span class="h1">
                    - {{ heading }} -
                   </span>
                   </div>

                  <div class="h4 tp-caption tp-resizeme rs-parallaxlevel-6"
                       id="slide-{{ block.id }}-layer-2"
                       style="z-index: 8; color: {{ sub_title_color }}; text-transform: uppercase;"
                       data-fontsize="['20','20','20','20']"
                       data-fontweight="700"
                       data-height="none"
                       data-lineheight="['24','24','24','24']"
                       data-responsive_offset="on"
                       data-splitin="none"
                       data-splitout="none"
                       data-start="900"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="y:[100%];s:1000;s:1000;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                       data-whitespace="nowrap"
                       data-width="none"
                       data-x="['{{ x }}','{{ x }}','{{ x }}','{{ x }}']"
                       data-hoffset="['{{ hoffset }}','{{ hoffset }}','0','0']"
                       data-y="['center','center','center','center']"
                       data-visibility="['on','on','off','off']"
                       data-voffset="['15','20','0','-0']">
                    <span class="text-sm-center">
                      {{ sub_title }}
                    </span>
                  </div>

                  <div class="tp-caption rs-parallaxlevel-6"
                       id="slide-{{ block.id }}-layer-3"
                       data-x="['{{ x }}','{{ x }}','{{ x }}','{{ x }}']"
                       data-hoffset="['{{ hoffset }}','{{ hoffset }}','0','0']"
                       data-y="['center','center','center','center']"
                       data-voffset="['90','115','40',40']"
                       data-width="none"
                       data-height="none"
                       data-whitespace="nowrap"
                       data-transform_idle="o:1;"
                       data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;s:1500;e:Power3.easeInOut;"
                       data-transform_out="y:[100%];s:1000;s:1000;"
                       data-mask_in="x:0px;y:0px;"
                       data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
                       data-start="1500"
                       data-splitin="none"
                       data-splitout="none"
                       data-responsive_offset="on"
                       data-responsive="off"
                       style="z-index: 8; white-space: nowrap;outline:none;">
                       {% if button_one %}
                         <a class="tp-button1 button {{ button_one_css}}" href="{{ button_one_link }}">
                           {{ button_one_text }}
                         </a>
                       {% endif %}
                       {% if button_two %}
                         <a class="tp-button1 button {{ button_two_css }}{% if button_one %} ml-20{% endif %}" href="{{ button_two_link }}">
                           {{ button_two_text }}
                         </a>
                       {% endif %}
                  </div>
                </li>
              {% when 'two-image-slide' %}
                <li data-index="rs-673" data-transition="{{ transition }}" data-slotamount="default" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="{{ image | img_url: 'x2000' }}" data-rotate="0" data-saveperformance="off" data-title="{{ heading }}" data-description="{{ description }}" {{ block.shopify_attributes }}>
                  <!-- MAIN IMAGE -->
                  <img src="{{ image | img_url: 'x500' }}" data-lazyload="{{ image | img_url: 'x2000' }}" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
                  <!-- LAYERS -->

                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption tp-resizeme rs-parallaxlevel-9" id="slide-696-layer-1" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-width="none" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="z:0;rX:0;rY:0;rZ:0;sX:0.8;sY:0.8;skX:0;skY:0;opacity:0;s:1500;e:Power4.easeOut;" data-transform_out="rZ:0deg;sX:0.7;sY:0.7;opacity:0;s:500;e:Back.easeIn;s:500;e:Back.easeIn;" data-mask_out="x:0;y:0;s:inherit;e:inherit;" data-start="1850" data-responsive_offset="on" style="z-index: 7;">
                    <div class="rs-looped{% if block.settings.pulse %} rs-pulse{% endif %}" data-easing="Power1.easeInOut" data-speed="3" data-zoomstart="0.98" data-zoomend="1"><img src="{{ image_2 | img_url: '700x600' }}" alt="" width="1400" height="1200" data-ww="['700px','700px','700px','350']" data-hh="['600px','600px','600px','300']" data-lazyload="{{ image_2 | img_url: '700x600' }}" data-no-retina>
                    </div>
                  </div>

                </li>
            {% endcase %}
          {% endif %}
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
    </div>
  </div>
  {% if scroll_down_arrow %}
    <div class="local-scroll-cont icon-white">
      <a href="#scrollto" class="scroll-down smooth-scroll">
        {% include 'icon' with 'down' %}
      </a>
    </div>
  {% endif %}
</div>
{% if scroll_down_arrow %}<div id="scrollto"></div>{% endif %}
<script type="text/javascript">
  jQuery(document).ready(function() {
    jQuery("#rev_slider_{{ section.id }}").show().revolution({
      sliderType: "{% if video_hero or count == 1 %}hero{% else %}standard{% endif %}",
      jsFileLocation: "",
      extensions: "",
      sliderLayout: "{{ size }}",
      dottedOverlay: "none",
      delay: 9000,
      navigation: {
        keyboardNavigation: "off",
        keyboard_direction: "horizontal",
        mouseScrollNavigation: "off",
        onHoverStop: "{{ stop_on_hover }}",
        touch: {
          touchenabled: "on",
          swipe_threshold: 75,
          swipe_min_touches: 50,
          swipe_direction: "horizontal",
          drag_block_vertical: false
        },
        arrows: {
          style: "hermes",
          enable: true,
          hide_onmobile: true,
          hide_onleave: true,
          tmp: '{{ tmp }}',
          left: {
            h_align: "left",
            v_align: "center",
            h_offset: 0,
            v_offset: 0
          },
          right: {
            h_align: "right",
            v_align: "center",
            h_offset: 0,
            v_offset: 0
          }
        },
      },
      responsiveLevels: [1240, 1024, 778, 480],
      visibilityLevels: [1240, 1024, 778, 480],
      gridwidth: [1240, 1024, 778, 480],
      gridheight: [500, 450, 400, 400],
      lazyType: "none",
      parallax: {
        type: "{{ parallax }}",
        origo: "slidercenter",
        speed: 1000,
        levels: [0],
        type: "scroll",
        disable_onmobile: "on"
      },
      shadow: {{ shadow }},
      spinner: "spinner2",
      autoHeight: "off",
      fullScreenAutoWidth: "off",
      fullScreenAlignForce: "off",
      fullScreenOffsetContainer: "",
      fullScreenOffset: "",
      disableProgressBar: "on",
      hideThumbsOnMobile: "on",
      hideSliderAtLimit: 480,
      hideCaptionAtLimit: 0,
      hideAllCaptionAtLimit: 0,
      debugMode: false,
      fallbacks: {
        simplifyAll: "off",
        nextSlideOnWindowFocus: "off",
        disableFocusListener: false,
      }
    });
  }); /*ready*/
</script>

{% schema %}
  {
    "name": "Slideshow",
    "settings": [
      {
        "type": "checkbox",
        "id": "stop_on_hover",
        "label": "Pause slideshow on mouse over",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "scroll_down_arrow",
        "label": "Display a scroll down arrow",
        "default": false
      },
      {
        "type": "select",
        "id": "size",
        "options": [
          { "value": "fullwidth", "label": "Full Width" },
          { "value": "fullscreen", "label": "Full Screen" }
        ],
        "label": "Slideshow Size"
      },
      {
        "type": "select",
        "id": "shadow",
        "options": [
          { "value": "0", "label": "None" },
          { "value": "1", "label": "Style One" },
          { "value": "2", "label": "Style Two" },
          { "value": "3", "label": "Style Three" },
          { "value": "4", "label": "Style Four" },
          { "value": "5", "label": "Style Five" }
        ],
        "label": "Shadow Style"
      }
    ],
    "blocks": [
      {
        "type": "two-image-slide",
        "name": "Two Image Slide",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "This text will not be visible but give the content a descriptive name for SEO purposes"
          },
          {
            "id": "sub_title",
            "type": "text",
            "label": "Subtitle",
            "info": "This text will not be visible but give the content a descriptive name for SEO purposes"
          },
          {
            "type": "select",
            "id": "transition",
            "options": [
              { "value": "zoomout", "label": "Zoom Out"},
              { "value": "slidingoverlayhorizontal", "label": "Horizontal Overlay Slide"}
            ],
            "label": "Transition"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Background Image"
          },
          {
            "type": "checkbox",
            "id": "pulse",
            "label": "Pulse animation image",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Foreground Graphic",
            "info": "700x600px"
          }
        ]
      },
      {
        "type": "slide",
        "name": "Slide",
        "settings": [
          {
            "type": "select",
            "id": "transition",
            "options": [
              { "value": "zoomout", "label": "Zoom Out" },
              { "value": "slidingoverlayhorizontal", "label": "Horizontal Overlay Slide" }
            ],
            "label": "Transition"
          },
          {
            "type": "select",
            "id": "x",
            "options": [
              { "value": "left", "label": "Left"},
              { "value": "center", "label": "Centre"},
              { "value": "right", "label": "Right"}
            ],
            "label": "Align"
          },
          {
            "type": "header",
            "content": "Title"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "CONTEMPORARY WINEMAKING, EXQUISITE STYLE"
          },
          {
            "type": "color",
            "id": "title_color",
            "label": "Font Colour",
            "default": "#ffffff"
          },
          {
            "type": "header",
            "content": "Subtitle"
          },
          {
            "id": "sub_title",
            "type": "text",
            "label": "Sub-title",
            "default": "Outstanding, vibrant and expressive wines from Margaret River"
          },
          {
            "type": "color",
            "id": "sub_title_color",
            "label": "Font Colour",
            "default": "#ffffff"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Button One"
          },
          {
            "id": "button_one_text",
            "type": "text",
            "label": "Button One Text",
            "default": "Read"
          },
          {
            "id": "link_one",
            "type": "url",
            "label": "Button One Link"
          },
          {
            "type": "select",
            "id": "button_one_style",
            "options": [
              { "value": "1", "label": "Style One"},
              { "value": "2", "label": "Style Two"},
              { "value": "3", "label": "Style Three"}
            ],
            "label": "Button One Style"
          },
          {
            "type": "header",
            "content": "Button Two"
          },
          {
            "id": "button_two_text",
            "type": "text",
            "label": "Button Two Text",
            "default": "Read"
          },
          {
            "id": "link_two",
            "type": "url",
            "label": "Button Two Link"
          },
          {
            "type": "select",
            "id": "button_two_style",
            "options": [
              { "value": "1", "label": "Style One"},
              { "value": "2", "label": "Style Two"},
              { "value": "3", "label": "Style Three"}
            ],
            "label": "Button Two Style"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video Slide",
        "settings": [
          {
            "type": "header",
            "content": "Video Slide",
            "info": "Enabling the video slide will disable all other slides."
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "info": "This text will not be visible but give the content a descriptive name for SEO purposes"
          },
          {
            "id": "sub_title",
            "type": "text",
            "label": "Subtitle",
            "info": "This text will not be visible but give the content a descriptive name for SEO purposes"
          },
          {
            "type": "select",
            "id": "transition",
            "options": [
              { "value": "zoomout", "label": "Zoom Out"},
              { "value": "slidingoverlayhorizontal", "label": "Horizontal Overlay Slide"}
            ],
            "label": "Transition"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Poster Image",
            "info": "Should be a frame of the video, this will be visible before the video has loaded"
          },
          {
            "id": "video_url",
            "type": "text",
            "label": "Video Url",
            "info": "Enter MP4 link or Vimeo Url"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Foreground Graphic",
            "info": "700x600px"
          },
          {
            "type": "checkbox",
            "id": "pulse",
            "label": "Pulse animation image",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Slideshow",
        "name": "Slideshow"
      }
    ]
  }

{% endschema %}
