<div class="page-section mb-50">
  <div class="container">
    <!-- TITLE -->
    <div class="mb-10">
      <h2 class="section-title2 text-center pr-0">{{ section.settings.title }}</h2>
    </div>
    <div class="port-filter text-center">
      <a href="#" class="unfilter mlr-10 active" data-filter="*">All</a>
      <a href="#" class="filter mlr-10" data-filter="millbrook">Millbrook Winery</a>
      <a href="#" class="filter mlr-10" data-filter="deep-woods">Deep Woods Estate</a>
      <a href="#" class="filter mlr-10" data-filter="smithbrook">Smithbrook</a>
      <a href="#" class="filter mlr-10" data-filter="lakes-folly">Lake's Folly</a>
    </div>

      <ul class="clearfix filtering" id="slick-{{ section.id }}">
        {% for product in collections.most-recent.products limit: 30 %}
          <li class="mix {{ product.vendor | handleize }}">
            {% assign grid_item_width = 'col-xs-12' %}
            {% include 'product-grid-item' %}
          </li>
        {% endfor %}
      </ul>

  </div>
</div>
{% schema %}
  {
    "name": "Recent Products",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "New Releases"
      },
      {
        "id": "slideshow_arrows",
        "type": "checkbox",
        "label": "Show navigation arrows",
        "default": true
      },
      {
        "id": "slideshow_autoplay",
        "type": "checkbox",
        "label": "Autoplay slideshow",
        "default": true
      },
      {
        "id": "slideshow_speed",
        "type": "select",
        "label": "Slideshow Speed",
        "options": [
          { "value": "3000", "label": "3 seconds" },
          { "value": "5000", "label": "5 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "10000", "label": "10 seconds" },
          { "value": "15000", "label": "15 seconds" }
        ],
        "default": "5000"
      },
      {
        "id": "slideshow_pause_on_hover",
        "type": "checkbox",
        "label": "Pause slideshow on mouseover"
      }
    ],
    "presets": [
      {
        "category": "Products",
        "name": "Recent Products"
      }
    ]
  }

{% endschema %}

<script type="text/javascript">

$(document).ready(function() {

  // Filtering
  var filtered = false;
  var t = '';
  $('.port-filter').on('click', '.filter', function(e){
    e.preventDefault();
    $('.filter').removeClass('active');
    $('.unfilter').removeClass('active');
    $(this).addClass('active');
    if (filtered === false) {
      filtered = true;
      t = $(this).attr('data-filter');
      t = ' .' + t
      $('.filtering').slick('slickFilter', t );
    } else {
      $('.filtering').slick('slickUnfilter', t );
      t = $(this).attr('data-filter');
      t = ' .' + t
      $('.filtering').slick('slickFilter', t );
    }
  })

  $('.port-filter').on('click', '.unfilter', function(e){
    e.preventDefault();
    filtered = false;
    $('.filter').removeClass('active');
    $(this).addClass('active');
    $('.filtering').slick('slickUnfilter');
  })

  // Slider
  $("#slick-{{ section.id }}").slick({
    slidesToShow: 3,
    slidesToScroll: 3,
    infinite: true,
    swipeToSlide: true,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          swipeToSlide: true,
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          swipeToSlide: true,
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          swipeToSlide: true,
          arrows: false,
        }
      }
    ],
    autoplay: {% if section.settings.slideshow_autoplay %}true{% else %}false{% endif %},
    dots: false,
    arrows: {% if section.settings.slideshow_arrows %}true{% else %}false{% endif %},
    pauseOnHover: {% if section.settings.slideshow_pause_on_hover %}true{% else %}false{% endif %},
    autoplaySpeed: {{ section.settings.slideshow_speed }},
    prevArrow: '<span class="icon slick-prev"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 32 32"><polygon class="fill invert" points="21,0.586 5.586,16 21,31.414 26.414,26 16.414,16 26.414,6 "/></svg></span>',
    nextArrow: '<span class="icon slick-next"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 32 32"><polygon class="fill invert" points="5.586,6 15.586,16 5.586,26 11,31.414 26.414,16 11,0.586 "/></svg></span>',
    adaptiveHeight: false
  });
});
</script>

{% stylesheet 'scss' %}
// Position arrows
.slick-arrow {
    display: block;
    position: absolute;
    top: 50%;
}
.slick-prev {
  left: -24px;
}
.slick-next {
  right: -24px;
}
// Slick

.slider { display: none; }  // Slick Loading Fix
.slider.slick-initialized { display: block; }  // Slick Loading Fix

.slick-slider {
    outline: none;
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}
{% endstylesheet %}
