{% assign featuredBlogs = '' %}
{% for block in section.blocks %}
  {% if forloop.last %}{% assign blog = block.settings.blog %}{% else %}{% assign blog = block.settings.blog | append: ',' %}{% endif %}
  {% assign featuredBlogs = featuredBlogs | append: blog %}
{% endfor %}

{% assign featuredArticles = false %}

{% assign featuredBlogs = featuredBlogs | split: ',' %}
{% for featuredBlog in featuredBlogs %}
	{% if blogs[featuredBlog].articles %}
		{% if featuredArticles %}
			{% assign featuredArticles = featuredArticles | concat:blogs[featuredBlog].articles %}
		{% else %}
			{% assign featuredArticles = blogs[featuredBlog].articles %}
		{% endif %}
	{% endif %}
{% endfor %}

<div id="blog-link" class="page-section p-60-cont">
  <div class="container">

    <div class="mb-50 row">
      <div class="col-xs-12 col-md-12 underline">
        <h2 class="section-title2 text-center">{{ section.settings.title }}</h2>
      </div>
      <!-- {% if section.settings.view_more %}
        <div class="col-xs-12 col-md-6">
          <a href="{{ section.settings.view_more_link }}" class="section-more right">View All</a>
        </div>
      {% endif %} -->
    </div>

    <div class="row-uniform">
      {% if featuredArticles %}
    	  {% assign featuredArticles = featuredArticles | sort:'published_at' | reverse %}
        {% for article in featuredArticles limit: 6 %}

          <div class="cf clearfix col-sm-6 col-md-4 col-lg-4 wow fadeIn">

            <div class="post-prev-img">
              <a href="{{ article.url }}"><div class="article-img" style="background-image:url({{ article | img_url: '800x800' }});background-size:cover;background-position:center center;"></div></a>
            </div>

            <div class="post-prev-title">
              <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
            </div>

            <div class="post-prev-info">
              {{ article.published_at | date: '%d-%b-%Y' }}
            </div>

            <div class="mb-30 min-h-75">
              {{ article.content | strip_html |  truncatewords: 18 }}
            </div>

            <p class="mb-30">
              <a href="{{ article.url }}" class="button thin grey medium rounded">Read More</a>
            </p>

          </div>
        {% endfor %}
      {% endif %}
    </div>
    {% if section.settings.view_more %}
      <div class="row text-center mt-50">
        <a href="{{ section.settings.view_more_link }}" class="button thin rounded gray medium">View All News</a>
      </div>
    {% endif %}
  </div>
</div>



{% schema %}
  {
    "name": "Latest News",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Latest News"
      },
      {
        "type": "checkbox",
        "id": "view_more",
        "label": "Enable View more link",
        "default": true
      },
      {
        "type": "url",
        "id": "view_more_link",
        "label": "View more url"
      },
      {
        "type": "header",
        "content": "Blogs",
        "info": "Choose which blogs you would like to display articles from. If you wish to display articles from all blogs, do not add any."
      }
    ],
    "blocks": [
      {
        "type": "blog",
        "name": "Blog",
        "settings": [
          {
            "type": "blog",
            "id": "blog",
            "label": "Blog",
            "info": "Display articles from this blog."
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Articles",
        "name": "Latest News"
      }
    ]
  }

{% endschema %}
