{% if customer.has_account %}
{% if customer.tags contains section.settings.vip_tag %}
<script>
  (function() {
    jQuery(document).ready(function() {
      {% if template contains 'cart' %}
      	$("form").prepend("<input type='hidden' id='discount_value' name='discount' value=''/>");
      {% endif %}
      if ($("#discount_value").length > -1) {
       if (localStorage['elkfox_loyalty_rewards']) {
        $("#discount_value").attr('value', localStorage['elkfox_loyalty_rewards']);
         var id=localStorage['elkfox_loyalty_rewards']

       }
      }
      jQuery.get('https://loyalty-rewards.herokuapp.com/get/discounts/{{ customer.id }}?shop={{ shop.permanent_domain }}').success(function(response) {
        response.forEach(function(discount) {
             if (discount.discount_code === id) {
               var discountHtml = '<div style="margin-top: 10px;" id="' + discount.discount_code + '" data-points-required="' + discount.discount_points + '" class="discount btn--secondary update-cart button medium rounded gray-light active">';
               var discount_type = discount.discount_type === "percentage" ? discount.discount_amount + "%" : "$" + discount.discount_amount
               $(".cart__subtotal").after("<div class='atCheckout'> -" + discount_type + " discount applied at checkout</div>")
             } else {
                  var discountHtml = '<div style="margin-top: 10px;" id="' + discount.discount_code + '" data-points-required="' + discount.discount_points + '" class="discount btn--secondary update-cart button medium rounded gray-light">';
             }
              discountHtml += '<div>';
              discountHtml +=  (discount.discount_type === 'percentage' ? discount.discount_amount + '%' : '$' + discount_amount) + ' off';
              discountHtml += '</div> <div class="points">' +discount.discount_points + ' points</div>';
              discountHtml += '</div>';
          $(".remove_discount").before(discountHtml)
          jQuery("#" + discount.discount_code ).on("click", function() {
	        console.log($(this))
    	    discount_code = $(this).attr('id');
          console.log(discount_code)
            localStorage.setItem('elkfox_loyalty_rewards', discount_code+"");
        	jQuery("#discount_value").attr('value', discount_code);
            jQuery(".discount").removeClass("active")
        	jQuery(this).addClass('active')
            var discountType = discount.discount_type === "percentage" ? discount.discount_amount + "%" : "$" + discount.discount_amount
            $(".atCheckout").remove()
            $(".cart__subtotal").after("<div class='atCheckout'> -" + discountType + " discount applied at checkout</div>")
      	  });
        })
		$("#discounts_list").show();
      });
      jQuery.get("https://loyalty-rewards.herokuapp.com/get/customer/{{ customer.id }}?shop={{ shop.permanent_domain }}").success(function(response) {
        console.log(response);
      })
      jQuery(".remove_discount").on("click", function() {
        window.localStorage['elkfox_loyalty_rewards'] = '';
        jQuery("#discount_value").attr('value', '');
        jQuery(".atCheckout").remove()
        jQuery(".discount").removeClass("active")
      })
    })
  })()
</script>

<div id="discounts_section">
  <h3>Redeem Rewards</h3>
  <h4>(Applied at checkout)</h4>
  <span class="points">You have {{ customer.metafields.elkfox_discounts['points'] }} points available.</span>
  <div id="discounts_list">
  <div class="btn--secondary update-cart button medium rounded gray-light remove_discount">Remove Discount</div>
  </div>
</div>
  {% endif %}
{% endif %}


{% schema %}
  {
    "name": "Loyalty Rewards",
    "settings": [{
		"type": "text",
		"id": "vip_tag",
		"label": "Tag for rewards program",
		"default": "club_member"
	}]
  }
{% endschema %}

{% stylesheet 'scss' %}

#discounts_section {
    position: relative;
    text-align: center;
}

#discounts_list {
	display: none;
}

.discount, .remove_discount {
    margin: 20px;
    padding: 10px;
    display: inline-block;
}

.points {
	display: block;
}

{% endstylesheet %}
