<div class="top-bar top-bar-black">
  <nav class="toolbar-nav" role="navigation" style="background-color:{{ section.settings.bg_color }};{% unless section.settings.bg_image == blank %}background-image:url({{ section.settings.bg_image | img_url: 'master' }});background-size: 100% 100%;{% endunless %}">
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-8">
        {% unless section.settings.linklist_partners == blank %}
          <a class="toolbar-wineries-trigger toolbar-nav__link">
            {% include 'icon' with 'leaf' %}
            <span class="hidden-xxs">{{ section.settings.linklist_partners_title }}</span>
          </a>
        {% endunless %}
        <ul id="AccessibleNav" class="toolbar-wineries">
          {% for link in linklists[section.settings.linklist_partners].links %}
            <li {% if link.url == '/' %}class="toolbar-nav--active"{% endif %}>
              <a href="{{ link.url }}" class="toolbar-nav__link logo">
              {% if link.title contains 'Deep' %}
                {% include 'icon' with 'deepwoodslogo' %}
              {% elsif link.title contains 'Lake' %}
                {% include 'icon' with 'lakesfollylogo' %}
              {% elsif link.title contains 'Millbrook' %}
                {% include 'icon' with 'millbrooklogo' %}
              {% elsif link.title contains 'Smithbrook' %}
                {% include 'icon' with 'smithbrooklogo' %}
              {% else %}{{ link.title }}{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-xs-8 col-sm-8 col-md-4">
        <ul class="toolbar-account" id="AccessibleNav">
          {% if shop.name contains 'Fogarty' %}
            {% for link in linklists[section.settings.linklist_store].links %}
              <li>
                {% if link.title contains 'Shop' %}
                  <a href="{{ link.url }}" title="{{ link.title }}" class="toolbar-nav__link{% if link.active or collection %} active{% endif %}">
                    {% include 'icon' with 'bottle' %}
                    <span class="hidden-xxs">{{ link.title }}</span>
                  </a>
                {% elsif link.title contains 'Club' %}
                  <a href="{{ link.url }}" title="{{ link.title }}" class="toolbar-nav__link{% if layout contains 'club' %} active{% endif %}">
                    {% include 'icon' with 'user' %}
                    <span class="hidden-xxs">{% if customer %}{% unless customer.first_name %}{{ link.title }}{% else %}{{ customer.first_name }}{% endunless %}{% else %}Login{% endif %}</span>
                  </a>
                {% elsif link.title contains 'Cart' %}
                  <a href="{{ link.url }}" title="{{ link.title }}" class="toolbar-nav__link site-header__cart-toggle js-drawer-open-right{% if link.active %} active{% endif %}" aria-controls="CartDrawer" aria-expanded="false">
                    {% include 'icon' with 'cart' %}
                    <span class="hidden-xxs">{{ link.title }}{% if cart.item_count > 0 %} - <span class="cart-count">{{ cart.item_count }}</span>{% endif %}</span>
                  </a>
                {% else %}
                  <a href="{{ link.url }}" title="{{ link.title }}" class="toolbar-nav__link{% if link.active %} active{% endif %}">
                    <span class="hidden-xxs">{{ link.title }}</span>
                  </a>
                {% endif %}
              </li>
            {% endfor %}
          {% else %}
            {% for link in linklists[section.settings.linklist_store].links %}
              <li>
                <a href="{{ link.url }}" title="{{ link.title }}" class="toolbar-nav__link{% if link.active %} active{% endif %}">
                  {% if link.title contains 'Shop' %}
                    {% include 'icon' with 'bottle' %}
                    <span class="hidden-xxs">{% if shop.name == 'Lake&#39;s Folly' %}BUY WINES{% else %}{{ link.title }}{% endif %}</span>
                  {% elsif link.title contains 'Club' %}
                    {% include 'icon' with 'user' %}
                    <span class="hidden-xxs">{{ link.title }}</span>
                  {% elsif link.title contains 'Cart' %}
                    {% include 'icon' with 'cart' %}
                    <span class="hidden-xxs">
                      {{ link.title }} {% if cart.item_count > 0 %} - <span class="cart-count">{{ cart.item_count }}</span>{% endif %}
                    </span>
                  {% else %}{{ link.title }}{% endif %}
                 </a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="toolbar-wineries-collapse navbar-collapse">
    <ul>
      {% for link in linklists[section.settings.linklist_partners].links %}
        <li {% if link.url == '/' %}class="toolbar-nav--active"{% endif %}>
          <a href="{{ link.url }}" class="toolbar-nav__link logo">
          {% if link.title contains 'Deep' %}
            {% include 'icon' with 'deepwoodslogo' %}
          {% elsif link.title contains 'Lake' %}
            {% include 'icon' with 'lakesfollylogo' %}
          {% elsif link.title contains 'Millbrook' %}
            {% include 'icon' with 'millbrooklogo' %}
          {% elsif link.title contains 'Smithbrook' %}
            {% include 'icon' with 'smithbrooklogo' %}
          {% else %}{{ link.title }}{% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% schema %}
  {
    "name": "Site Tabs",
    "settings": [
      {
        "type": "link_list",
        "id": "linklist_partners",
        "label": "Partner Sites Menu"
      },
      {
        "type": "text",
        "id": "linklist_partners_title",
        "label": "Partner Sites Title",
        "default": "Wineries"
      },
      {
        "type": "link_list",
        "id": "linklist_store",
        "label": "Account Menu"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background colour",
        "default": "#4a4340"
      },
      {
        "type": "image_picker",
        "id": "bg_image",
        "label": "Background image"
      }
    ]
  }

{% endschema %}
