{% assign title = section.settings.title %}
{% assign subtitle = section.settings.subtitle %}
{% assign button_text = section.settings.button_text %}
{% assign success = section.settings.success %}
{% assign show_button = section.settings.show_button %}

<div class="page-section bg-light-gray p-50-cont">
  <div class="container">
    <div class="row">

      <div class="col-sm-12 text-center">
        <h3 class="no-margin-top">{{ title }}</h2>
        <p class="text-center">{{ subtitle }}<p>
      </div>

      <div class="col-sm-12">

          <div id="mc_embed_signup" class="nl-form-container clearfix form-horizontal text-center formWrapper">
            {% form 'customer' %}
              {% if form.errors %}
                <div id="notification_container" class="form-error">
                  {{ form.errors | default_errors | prepend: '<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' | append: '</div>' }}
                </div>
              {% endif %}
              {% if form.posted_successfully? %}
                <div id="notification_container" class="form-success">
                  {{ success | prepend: '<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>' | append: '</div>' }}
                </div>
              {% else %}
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="Your Email Address" name="contact[email]" id="Email" aria-label="{{ email_placeholder }}" autocorrect="off" autocapitalize="off" novalidate>
                <input type="hidden" name="contact[tags]" value="newsletter">
                <input type="submit" name="subscribe" id="subscribe" {% unless show_button %}style="display:none;"{% endunless %} value="{{ button_text }}">
              {% endif %}
            {% endform %}
          </div>

      </div>

    </div>
  </div>
</div>

{% javascript %}
(function($){
  $(document).on('submit','.formWrapper form',function(e){
    e.preventDefault()
    var form = 'form#'+$(this).attr('id')
    $.ajax({
      type: $(this).attr('method'),
      url: $(this).attr('action'),
      data: $(this).serialize(),
      cache: false,
      beforeSend: function() {
        $(form+' :input').prop('disabled', true);
      },
      error: function() {
        $(form+' :input').prop('disabled', false);
        $('#notification_container').html('<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert" ><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>Could not connect to the server, please try again.</div>')
      },
      success: function(response) {
        var successResponse = $(response).find('.form-success')
        var errorResponse = $(response).find('.form-error')
        if ($(successResponse).length) {
          $(form).before(successResponse)
          $(form).hide()
        } else if ($(errorResponse).length) {
          $(form).before(errorResponse)
        } else {
          $('<div id="nl-alert-container" class="alert alert-info alert-dismissible fade in bounceIn" role="alert"><button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>Unable to submit for. Please refresh and try again.</div>').prependTo(form)
        }
      }
    })
  })
})(jQuery);
{% endjavascript %}

{% schema %}
{
  "name": "Newsletter",
  "settings": [
    {
      "id": "title",
      "type": "text",
      "default": "Newsletter",
      "label": "Title"
    },
    {
      "id": "subtitle",
      "type": "text",
      "default": "Keep up-to-date with our regular newsletters, updates and special offers",
      "label": "Subtitle"
    },
    {
      "id": "show_button",
      "type": "checkbox",
      "default": false,
      "label": "Show button"
    },
    {
      "id": "success",
      "type": "text",
      "default": "Thank you for subscribing",
      "placeholder": "Thank you for subscribing",
      "label": "Confirmation message"
    },
    {
      "id": "button_text",
      "type": "text",
      "default": "Subscribe",
      "label": "Button Text"
    }
  ],
  "presets": [
    {
      "category": "Communication",
      "name": "Newsletter"
    }
  ]
}
{% endschema %}
