<div class="{% if section.settings.increased_spacing %}increased-spacing {% endif %}bg-light-gray">
  {% for block in section.blocks %}
    <div class="page-section clearfix" {{ block.shopify_attributes }}>
      {% case block.type %}

        {% when 'content-with-image' %}
          <div class="{% cycle 'bg-light-gray', 'bg-white' %} p-60-cont">
            <div class="fes7-img-cont col-md-5{% if block.settings.reverse %} col-md-push-7{% endif %}">
              <div class="fes7-img" {% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: '1000x' }});background-size:{{ block.settings.image_size }}"{% endif %}></div>
            </div>

            <div class="container">
              <div class="row">
                <div class="col-md-6 fes7-text-cont{% unless block.settings.reverse %} col-md-offset-6{% endunless %}{% if block.settings.body_align != blank %} text-{{ block.settings.body_align }}{% endif %}">
                  <h3><span>{{ block.settings.title }}</span></h3>
                  <p class="mb-60">
                    {{ block.settings.content | newline_to_br }}
                  </p>
                  <p>
                    {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                      <a class="button medium thin rounded gray" href="{{ block.settings.button_link }}" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}</a>
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        {% when 'full-width-text' %}

            <div class="container">
              <div class="row">
                <div class="col-md-12 fes7-text-cont p-80-cont">
                  <p class="mb-60 {% if block.settings.center_text %}text-center{% endif %}">
                    {% if block.settings.default_content %}{{ page.content }}{% else %}{{ block.settings.content | newline_to_br }}{% endif %}
                  </p>
                </div>
              </div>
            </div>

        {% when 'seperator' %}
          <div class="page-section p-60-cont">
            <div class="container">
              {% if block.settings.title != blank %}
                <div  class="row text-center">
                  <div class="col-xs-12 border-none">
                    <h3>{{ block.settings.title }}<h3>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>

        {% when 'button' %}
          <div class="page-section p-60-cont bg-dark-gray">
            <div class="container">
              <div class="col-lg-12 fes7-text-cont">
                {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                  <p class="{% if block.settings.body_align != blank %} text-{{ block.settings.body_align }}{% endif %}">
                    <a class="button medium rounded white-fill" href="{{ block.settings.button_link }}" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}</a>
                  </p>
                {% endif %}
              </div>
            </div>
          </div>
      {% endcase %}
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Page Content",
    "class": "bg-gray-light",
    "settings": [
      {
        "type": "checkbox",
        "id": "increased_spacing",
        "label": "Increased spacing",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "content-with-image",
        "name": "Text and Image",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "reverse",
            "type": "checkbox",
            "label": "Image right",
            "default": false
          },
          {
            "type": "select",
            "id": "body_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Content align"
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Create World Class Wine"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          },
          {
            "type": "select",
            "id": "image_size",
            "options": [
              { "value": "cover", "label": "Cover"},
              { "value": "contain", "label": "Contain"}
            ],
            "label": "Image size",
            "default": "cover"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "select",
            "id": "body_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Button Align"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "seperator",
        "name": "Bar",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "full-width-text",
        "name": "Full-width text",
        "settings": [
          {
            "type": "header",
            "content": "Full Width Text"
          },
          {
            "id": "default_content",
            "type": "checkbox",
            "label": "Use Page Content"
          },
          {
            "id": "center_text",
            "type": "checkbox",
            "label": "Center Text"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ]
  }

{% endschema %}
