{% assign include = section.settings.include %}
{% assign image = section.settings.image %}

{% include 'titles' %}

{% schema %}
  {
    "name": "Page Header",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "select",
        "id": "include",
        "label": "Header Style Layout",
        "options": [
          { "value": "page-title-revo", "label": "Style 1" },
          { "value": "page-title-large-img", "label": "Style 2" },
          { "value": "page-title-large-2", "label": "Style 3" },
          { "value": "page-title-medium-img", "label": "Style 4" }
        ]
      }
    ]
  }
{% endschema %}
