<div class="container bs-docs-container p-140-cont">
  <div class="row">
    <section id="cd-timeline" class="cd-container mb-100">
      <div class="cd-timeline-start">
        <div class="cd-timeline-start-caption">{{ section.settings.start_text }}</div>
        <div class="cd-timeline-start-date">{{ section.setting.start_date }}</div>
      </div>

      {% for block in section.blocks %}
        <div class="cd-timeline-block" {{ block.shopify_attributes }}>
          <div class="cd-timeline-img cd-picture">
            {% unless block.settings.icon == 'none' %}{% include 'icon' with block.settings.icon %}{% endunless %}
          </div>

          <div class="cd-timeline-content">
            <h2>{{ block.settings.title }}</h2>
            {% if forloop.first %}<div>{{ block.settings.text | newline_to_br }}</div>{% else %}<p>{{ block.settings.text | newline_to_br }}</p>{% endif %}
            <span class="cd-date"><span class="cd-date-year">{{ block.settings.year }}</span><span class="cd-date-month">{{ block.settings.date }}</span></span>
          </div>
        </div>
      {% endfor %}

      <div class="cd-timeline-start cd-final">
        <div class="cd-timeline-start-caption">{{ section.settings.end_text }}</div>
      </div>
    </section>
  </div>
</div>

{% stylesheet 'scss' %}
  $color: #fff;
  $size: 30px;
  $weight: 1px;

  #cd-timeline {
    svg {
      width: $size;
      height: $size;
      fill: none;
      stroke: none;
      .fill {
        fill: $color;
      }
      .stroke {
        stroke: $color;
        stroke-width: $weight;
      }
    }
  }
{% endstylesheet %}

{% schema %}
  {
    "name": "Page Content",
    "settings": [
      {
        "type": "text",
        "id": "start_text",
        "label": "Start Text"
      },
      {
        "type": "text",
        "id": "start_date",
        "label": "Start Date"
      },
      {
        "type": "text",
        "id": "end_text",
        "label": "End Text"
      }
    ],
    "blocks": [
      {
        "type": "event",
        "name": "Event",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "text",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              { "value": "none", "label": "None" },
              { "value": "star", "label": "Award" },
              { "value": "wine-bottle", "label": "Bottle" },
              { "value": "change", "label": "Change" },
              { "value": "clock-arrow", "label": "Clock with Arrow" },
              { "value": "dollar", "label": "Dollar" },
              { "value": "food", "label": "Food" },
              { "value": "glass", "label": "Glass" },
              { "value": "globe", "label": "Globe" },
              { "value": "group", "label": "Group" },
              { "value": "handshake", "label": "Handshake" },
              { "value": "heart", "label": "Heart" },
              { "value": "house", "label": "House" },
              { "value": "lorry", "label": "Lorry" },
              { "value": "map", "label": "Map" },
              { "value": "money", "label": "Money" },
              { "value": "payment", "label": "Payment" },
              { "value": "person", "label": "Person" },
              { "value": "phone", "label": "Phone" },
              { "value": "plate", "label": "Plate of Food" },
              { "value": "return", "label": "Returns" },
              { "value": "road", "label": "Road" },
              { "value": "sapling", "label": "Sapling" },
              { "value": "signpost", "label": "Sign" },
              { "value": "support", "label": "Support" },
              { "value": "tractor", "label": "Tractor" },
              { "value": "tree", "label": "Tree" },
              { "value": "leaf", "label": "Vine" },
              { "value": "wine", "label": "Wine" }
            ],
            "label": "Choose icon"
          },
          {
            "type": "text",
            "id": "year",
            "label": "Year",
            "placeholder": "2016"
          },
          {
            "type": "text",
            "id": "date",
            "label": "date",
            "placeholder": "MAY 10"
          }
        ]
      }
    ]
  }
{% endschema %}
