<div class="p-140-cont bg-gray-light">
  {% for block in section.blocks %}
    {% assign button_text = blank %}
    {% assign button_link = blank %}
    {% assign image = blank %}
    {% assign title = block.settings.title %}
    {% if default_content %}
      {% assign content = page.content %}
    {% else %}
      {% assign content = block.settings.content | newline_to_br %}
    {% endif %}
    {% assign button_text = block.settings.button_text %}
    {% assign button_link = block.settings.button_link %}
    {% assign include = block.type %}
    {% assign reverse = block.settings.reverse %}
    {% assign image = block.settings.image %}

    <div class="page-section bg-gray-light clearfix" {{ block.shopify_attributes }}>
      {% case include %}
        {% when 'content-with-image' %}
          {% include include %}
        {% when 'full-width-text' %}
          {% include include %}
        {% when 'seperator' %}
          {% include include %}
        {% when 'quote' %}
          {% include include %}
      {% endcase %}
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Page Content",
    "blocks": [
      {
        "type": "content-with-image",
        "name": "Text and Image",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "reverse",
            "type": "checkbox",
            "label": "Image right",
            "default": false
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Create World Class Wine"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "seperator",
        "name": "Bar",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "full-width-text",
        "name": "Full-width text",
        "settings": [
          {
            "type": "header",
            "content": "Full Width Text"
          },
          {
            "id": "default_content",
            "type": "checkbox",
            "label": "Use Page Content"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ]
  }

{% endschema %}
