
{% for block in section.blocks %}
  <div class="page-section bg-gray-light clearfix" {{ block.shopify_attributes }}>
    {% case block.type %}

      {% when 'content-with-image' %}
          <div class="fes7-img-cont col-md-5{% if block.settings.reverse %} col-md-push-7{% endif %}">
            <div class="fes7-img" {% if block.settings.image != blank %}style="background-image: url({{ block.settings.image | img_url: '1000x' }})"{% endif %}></div>
          </div>

          <div class="container">
            <div class="row">
              <div class="col-md-6 fes7-text-cont p-80-cont{% unless block.settings.reverse %} col-md-offset-6{% endunless %}">
                <h1><span>{{ block.settings.title }}</span></h1>
                <p class="mb-60">
                  {{ block.settings.content | newline_to_br }}
                </p>
                <p class="mb-60">
                  {% if block.settings.button_text != blank and block.settings.button_link != blank %}
                    <a class="button medium rounded gray" href="{{ block.settings.button_link }}" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}</a>
                  {% endif %}
                </p>
              </div>
            </div>
          </div>

      {% when 'full-width-text' %}
          <div class="container">
            <div class="row">
              <div class="col-md-12 fes7-text-cont p-80-cont">
                <p class="mb-60">
                  {% if block.settings.default_content %}{{ page.content }}{% else %}{{ block.settings.content | newline_to_br }}{% endif %}
                </p>
              </div>
            </div>
          </div>

      {% when 'seperator' %}
        <div class="page-section p-60-cont">
          <div class="container">
            {% if block.settings.title != blank %}
              <div  class="row text-center">
                <div class="col-xs-12 border-none">
                  <h3>{{ block.settings.title }}<h3>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
    {% endcase %}
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Page Content",
    "blocks": [
      {
        "type": "content-with-image",
        "name": "Text and Image",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "reverse",
            "type": "checkbox",
            "label": "Image right",
            "default": false
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Create World Class Wine"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "seperator",
        "name": "Bar",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "full-width-text",
        "name": "Full-width text",
        "settings": [
          {
            "type": "header",
            "content": "Full Width Text"
          },
          {
            "id": "default_content",
            "type": "checkbox",
            "label": "Use Page Content"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ]
  }

{% endschema %}
