<div class="p-60-cont">
  <div class="container">
    {% for block in section.blocks %}
      {% assign button_text = blank %}
      {% assign button_link = blank %}
      {% assign image = blank %}
      {% assign image_1 = blank %}
      {% assign image_2 = blank %}
      {% assign image_3 = blank %}
      {% assign image_4 = blank %}
      {% assign image_size = blank %}

      {% assign title = block.settings.title %}
      {% assign content = block.settings.content | newline_to_br %}
      {% assign button_text = block.settings.button_text %}
      {% assign button_link = block.settings.button_link %}
      {% assign include = block.type %}
      {% assign reverse = block.settings.reverse %}
      {% assign image = block.settings.image %}
      {% assign image_1 = block.settings.image_1 %}
      {% assign image_2 = block.settings.image_2 %}
      {% assign image_3 = block.settings.image_3 %}
      {% assign image_4 = block.settings.image_4 %}
      {% assign image_size = block.settings.image_size %}
      {% assign title_1 = block.settings.title_1 %}
      {% assign title_2 = block.settings.title_2 %}
      {% assign subtitle_1 = block.settings.subtitle_1 %}
      {% assign subtitle_2 = block.settings.subtitle_2 %}
      {% assign link_1 = block.settings.link_1 %}
      {% assign link_2 = block.settings.link_2 %}
      {% assign heading = block.settings.heading %}
      {% assign heading_align = block.settings.heading_align %}
      {% assign body_align = block.settings.body_align %}
      {% assign default_content = block.settings.default_content %}

      <div class="page-section clearfix" {{ block.shopify_attributes }}>
        {% include 'content' %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "Page Content",
    "blocks": [
      {
        "type": "content-with-image",
        "name": "Text and Image",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "reverse",
            "type": "checkbox",
            "label": "Image right",
            "default": false
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "select",
            "id": "heading_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Heading Align"
          },
          {
            "type": "select",
            "id": "body_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Paragraph Align"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Create World Class Wine"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          },
          {
            "type": "select",
            "id": "image_size",
            "options": [
              { "value": "cover", "label": "Cover"},
              { "value": "contain", "label": "Contain"}
            ],
            "label": "Image size"
          }
        ]
      },
      {
        "type": "button",
        "name": "Button",
        "settings": [
          {
            "type": "select",
            "id": "body_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Button Align"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "image-blocks",
        "name": "Image Blocks",
        "settings": [
          {
            "type": "header",
            "content": "Block 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "id": "title_1",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle_1",
            "type": "text",
            "label": "Subtitle"
          },
          {
            "id": "link_1",
            "type": "url",
            "label": "Link"
          },
          {
            "type": "header",
            "content": "Block 2"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "id": "title_2",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "subtitle_2",
            "type": "text",
            "label": "Subtitle"
          },
          {
            "id": "link_2",
            "type": "url",
            "label": "Link"
          }
        ]
      },
      {
        "type": "seperator",
        "name": "Bar",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "full-width-text",
        "name": "Full-width text",
        "settings": [
          {
            "type": "header",
            "content": "Full Width Text"
          },
          {
            "id": "default_content",
            "type": "checkbox",
            "label": "Use Page Content"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      },
      {
        "type": "content-text-block",
        "name": "Text Block",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "heading_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Heading Align"
          },
          {
            "type": "select",
            "id": "body_align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Paragraph Align"
          },
          {
            "type": "select",
            "id": "heading",
            "options": [
              { "value": "h1", "label": "Heading One" },
              { "value": "h2", "label": "Heading Two" },
              { "value": "h3", "label": "Heading Three" },
              { "value": "h4", "label": "Heading Four" },
              { "value": "h5", "label": "Heading Five" },
              { "value": "h6", "label": "Heading Six" }
            ],
            "label": "Title size",
            "default": "h3"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      },
      {
        "type": "logo-bar",
        "name": "Logo Bar",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_4",
            "label": "Image"
          }
        ]
      }
    ]
  }

{% endschema %}
