
<div class="page-section p-60-cont bg-light-gray">
  <div class="container">
    <div class="row">
      {% for block in section.blocks %}
        {% if block.type == 'feature' %}
          <div class="feature-block col-xs-12" {{ block.shopify_attributes }}>
            <div class="mb-70 wow fadeIn">
              <div class="text-center">
                <h3>{{ block.settings.title }}</h3>
                <div>
                  {% include 'icon' with block.settings.icon %}
                </div>
              </div>
              <p class="feature text-center">
                {{ block.settings.text | newline_to_br }}
              </p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page Content",
    "blocks": [
      {
        "type": "feature",
        "name": "Feature",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Text"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              { "value": "globe", "label": "Globe"},
              { "value": "support", "label": "Support"},
              { "value": "payment", "label": "Payment"},
              { "value": "return", "label": "Returns"},
              { "value": "wine", "label": "Wine"},
              { "value": "sapling", "label": "Sapling"},
              { "value": "clock-arrow", "label": "Clock with Arrow"},
              { "value": "clock", "label": "Clock"}
            ],
            "label": "Choose icon"
          }
        ]
      }
    ]
  }

{% endschema %}
