{% for block in section.blocks %}
  {% assign button_text = blank %}
  {% assign button_link = blank %}
  {% assign title = blank %}
  {% assign image = blank %}
  {% assign address = blank %}
  {% assign zoom = blank %}

  {% assign title = block.settings.title %}
  {% assign sub_title = block.settings.sub_title %}
  {% assign content = block.settings.content | newline_to_br %}
  {% assign button_text = block.settings.button_text %}
  {% assign button_link = block.settings.button_link %}
  {% assign include = block.type %}
  {% assign reverse = block.settings.reverse %}
  {% assign heading = block.settings.heading %}
  {% assign heading_align = block.settings.align %}
  {% assign body_align = block.settings.align %}
  {% assign icon = block.settings.icon %}
  {% assign image = block.settings.image %}
  {% assign image_2 = block.settings.image_2 %}
  {% assign image_small = block.settings.image_small %}
  {% assign image_2_small = block.settings.image_2_small %}
  {% assign default_content = block.settings.default_content %}
  {% assign address = block.settings.address %}
  {% assign zoom = block.settings.zoom %}

    {% case include %}
      {% when 'full-width-image' %}
        <div class="page-section bg-white clearfix" {{ block.shopify_attributes }}>
          <div class="container p-60-cont">
            <div class="row">
              <div class="col-sm-6 col-sm-offset-3">
                {% include include %}
              </div>
            </div>
          </div>
        </div>
      {% when 'two-images' %}
        <div class="page-section bg-white clearfix" {{ block.shopify_attributes }}>
          <div class="container p-60-cont">
            <div class="row">
              {% include include %}
            </div>
          </div>
        </div>
      {% when 'full-width-map' %}
        <div class="page-section bg-white clearfix" {{ block.shopify_attributes }}>
          {% include include %}
        </div>
      {% when 'content-text-block' %}
        <div class="page-section bg-light-gray clearfix" {{ block.shopify_attributes }}>
          <div class="container p-50-cont">
            {% include include %}
          </div>
        </div>
    {% endcase %}
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Page Content",
    "blocks": [
      {
        "type": "full-width-image",
        "name": "Full width image",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      },
      {
        "type": "two-images",
        "name": "Two Images",
        "settings": [
          {
            "type": "header",
            "content": "Image one"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "image_small",
            "label": "Small size",
            "default": true
          },
          {
            "type": "header",
            "content": "Image two"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image"
          },
          {
            "type": "checkbox",
            "id": "image_2_small",
            "label": "Small size",
            "default": false
          }
        ]
      },
      {
        "type": "full-width-map",
        "name": "Full width map",
        "settings": [
          {
            "type": "header",
            "content": "Map"
          },
          {
            "id": "address",
            "type": "text",
            "label": "Address"
          },
          {
            "id": "zoom",
            "type": "text",
            "label": "Zoom",
            "default": "15",
            "placeholder": "15"
          }
        ]
      },
      {
        "type": "content-text-block",
        "name": "Text Block",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "type": "select",
            "id": "align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ],
            "label": "Align"
          },
          {
            "type": "select",
            "id": "heading",
            "options": [
              { "value": "h1", "label": "Heading One" },
              { "value": "h2", "label": "Heading Two" },
              { "value": "h3", "label": "Heading Three" },
              { "value": "h4", "label": "Heading Four" },
              { "value": "h5", "label": "Heading Five" },
              { "value": "h6", "label": "Heading Six" }
            ],
            "label": "Title size",
            "default": "h3"
          },
          {
            "type": "select",
            "id": "icon",
            "options": [
              { "value": "none", "label": "None" },
              { "value": "globe", "label": "Globe" },
              { "value": "map", "label": "Map" },
              { "value": "phone", "label": "Phone" },
              { "value": "email", "label": "Email" },
              { "value": "sapling", "label": "Sapling" },
              { "value": "heart", "label": "Heart" },
              { "value": "wine", "label": "Wine" },
              { "value": "tree", "label": "Tree" },
              { "value": "house", "label": "House" },
              { "value": "support", "label": "Support" },
              { "value": "payment", "label": "Payment" },
              { "value": "return", "label": "Returns" },
              { "value": "clock-arrow", "label": "Clock with Arrow" }
            ],
            "label": "Choose icon"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ]
  }

{% endschema %}
