<div class="gallery-template page-section">
  <div class="relative bg-light-gray">
    <div class="container">

      <ul class="filters">
        {% assign filters = "" %}
        <li><a class="button small rounded thin gray filter active" data-filter="">All</a></li>
        {% for block in section.blocks %}
          {% assign category = block.settings.category %}
          {% assign category_handle = category | handleize %}
          {% unless filters contains category_handle %}
            {% assign filters = filters | append: category_handle | append: "," %}
            <li><a class="button small rounded thin gray filter" data-filter="{{ category_handle }}">{{ category }}</a></li>
          {% endunless %}
        {% endfor %}
      </ul>

      <ul class="port-grid port-grid-3 p-60 clearfix">
        {% for block in section.blocks %}
          <li class="port-item mix design{% if section.settings.popup_enable %} popup-link{% endif %} active" data-popup="#PopupGallery" data-high-res="{{ block.settings.image | img_url: '1400x' }}" data-filter="{{ block.settings.category | handleize }}" {{ block.shopify_attributes }}>
            <div class="port-img-overlay">
              <div class="port-main-img" style="background-image:url({{ block.settings.image | img_url: '700x700', crop: 'center' }});background-size:{{ section.settings.image_size }};background-position:center center;background-repeat:no-repeat;"></div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.filters .filter').on('click', function(e) {
      var filter = $(this).data('filter');
      $('.filter.active').removeClass("active");
      $(this).addClass("active");
      if(filter == "") {
        $(".port-item").show().addClass('active');
      }
      else {
        $(".port-item").hide().removeClass('active');
        $(".port-item[data-filter*='" + filter + "']").show().addClass('active');
      }
    });
  });
</script>

{% schema %}
  {
    "name": "Gallery",
    "settings": [
      {
        "type": "checkbox",
        "id": "popup_enable",
        "label": "Show popups",
        "default": true
      },
      {
        "type": "select",
        "id": "image_size",
        "options": [
          { "value": "cover", "label": "Cover"},
          { "value": "contain", "label": "Contain"}
        ],
        "label": "Image size",
        "default": "cover"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "category",
            "label": "Category",
            "placeholder": "Weddings"
          }
        ]
      }
    ]
  }
{% endschema %}
