{% assign title = section.settings.title %}
    {% if title != blank %}<h4 class="mb-30">{{ title }}</h4>{% endif %}
    <div>
      {% for block in section.blocks %}
        {% case block.type %}
        {% when 'department' %}
          <h3>{{ block.settings.title }}</h3>
        {% when 'contact' %}
          {% assign job_title = blank %}
          {% assign address = blank %}
          {% assign name = blank %}
          {% assign phone_number = blank %}
          {% assign fax_number = blank %}
          {% assign email_address = blank %}

          {% assign job_title = block.settings.job_title %}
          {% assign address = block.settings.address | newline_to_br %}
          {% assign name = block.settings.name %}
          {% assign phone_number = block.settings.phone_number %}
          {% assign fax_number = block.settings.fax_number %}
          {% assign email_address = block.settings.email_address %}
          <p>
          {% if job_title != blank %}<span class="italic bold">{{ job_title }}</span><br>{% endif %}
          {% if address != blank %}<span>{{ address }}</span><br>{% endif %}
          {% if name != blank %}<span>{{ name }}</span><br>{% endif %}
          {% if phone_number != blank %}<span class="italic">P: {{ phone_number }}</span><br>{% endif %}
          {% if fax_number != blank %}<span class="italic">F: {{ fax_number }}</span><br>{% endif %}
          {% if email_address != blank %}<span class="italic">E: <a href="mailto:{{ email_address }}">{{ email_address }}</a></span><br>{% endif %}
          <br>
          </p>
        {% endcase %}
      {% endfor %}
    </div>
{% schema %}
  {
    "name": "Contacts",
    "blocks": [
      {
        "type": "department",
        "name": "Department",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          }
        ]
      },
      {
        "type": "contact",
        "name": "Contact",
        "settings": [
          {
            "id": "job_title",
            "type": "text",
            "label": "Job title"
          },
          {
            "id": "address",
            "type": "textarea",
            "label": "Address"
          },
          {
            "id": "name",
            "type": "text",
            "label": "Contact name"
          },
          {
            "id": "phone_number",
            "type": "text",
            "label": "Phone Number"
          },
          {
            "id": "fax_number",
            "type": "text",
            "label": "Fax Number"
          },
          {
            "id": "email_address",
            "type": "text",
            "label": "Email Address"
          }
        ]
      }
    ],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      }
    ]
  }
{% endschema %}
