{% assign title = section.settings.title %}

{% case section.settings.template %}
  {% when 'tabs-3' %}
    {% if title != blank %}<h4 class="mb-30">{{ title }}</h4>{% endif %}
    <div class="tabs-3">

      <ul class="nav nav-tabs bootstrap-tabs">
        {% for block in section.blocks %}
          {% assign tab = block.settings.title %}
          {% assign handle = tab | handleize %}
          <li{% if forloop.first %} class="active"{% endif %}><a href="#{{ handle }}-tab" data-toggle="tab">{{ tab }}</a></li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for block in section.blocks %}
          {% assign tab = block.settings.title %}
          {% assign text = block.settings.content %}
          {% assign handle = tab | handleize %}

          <div class="tab-pane fade in{% if forloop.first %} active{% endif %}" id="{{ handle }}-tab" {{ block.shopify_attributes }}>
            <p>{{ text | newline_to_br }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
{% endcase %}
{% schema %}
  {
    "name": "Tabs",
    "blocks": [
      {
        "type": "tab",
        "name": "Tab",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "label": "Title"
      },
      {
        "type": "select",
        "id": "template",
        "label": "Tab Style",
        "options": [
          { "value": "tabs-3", "label": "Style 3" }
        ]
      }
    ]
  }
{% endschema %}
