<div class="p-50-cont bg-gray-light">
  <div class="container">
    <div class="row mb-50">
      <p class="feature text-center">{{ section.settings.content }}</p>
    </div>
    <div class="row-uniform">
      {% assign count = 0 %}
      {% for block in section.blocks %}
        {% assign count = count | plus: 1 %}
      {% endfor %}
      {% if count == 1 %}
        {% assign columns = 'col-lg-8 col-md-8 col-sm-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2' %}
      {% else %}
        {% assign columns = count | modulo: 2 %}
        {% if columns == 1 %}
          {% assign columns = 'col-lg-4 col-md-4 col-sm-4' %}
        {% else %}
          {% assign columns = 'col-lg-6 col-md-6 col-sm-6' %}
        {% endif %}
      {% endif %}
      {% for block in section.blocks %}
        {% if block.type == 'person' %}
          <div class="member {{ columns }} wow fadeInUp text-center" {{ block.shopify_attributes }}>
            <div class="member-image" style="background-image:url({{ block.settings.image | img_url: '800x' }});background-size:cover;backgorund-position:center;"></div>
            <h3>{{ block.settings.title }}</h3>
            <p class="post-prev-info">{{ block.settings.role }}</p>
            {% if block.settings.bio != blank %}<p>{{ block.settings.bio }}</p>{% endif %}
            {% if block.settings.button_text != blank and block.settings.button_link != blank %}
              <p>
                <a class="button medium thin rounded gray" href="{{ block.settings.button_link }}" title="{{ block.settings.button_text }}">{{ block.settings.button_text }}</a>
              </p>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page Content",
    "settings": [
      {
        "type": "header",
        "content": "Full Width Text"
      },
      {
        "id": "content",
        "type": "textarea",
        "label": "Content"
      }
    ],
    "blocks": [
      {
        "type": "person",
        "name": "Person",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Name"
          },
          {
            "id": "role",
            "type": "text",
            "label": "Role"
          },
          {
            "id": "bio",
            "type": "textarea",
            "label": "Bio",
            "info": "Leave blank to ommit"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "info": "Leave blank to ommit"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      }
    ]
  }
{% endschema %}
