{% for block in section.blocks %}
  {% assign button_text = blank %}
  {% assign button_link = blank %}
  {% assign title = blank %}
  {% assign image = blank %}
  {% assign address = blank %}

  {% assign title = block.settings.title %}
  {% assign sub_title = block.settings.sub_title %}
  {% assign content = block.settings.content | newline_to_br %}
  {% assign button_text = block.settings.button_text %}
  {% assign button_link = block.settings.button_link %}
  {% assign include = block.type %}
  {% assign reverse = block.settings.reverse %}
  {% assign image = block.settings.image %}
  {% assign align = block.settings.align %}
  {% assign image_2 = block.settings.image_2 %}
  {% assign default_content = block.settings.default_content %}
  {% assign address = block.settings.address %}
  {% assign text_style = block.settings.text_style %}

  <div class="page-section bg-gray-light clearfix" {{ block.shopify_attributes }}>
    {% case include %}
      {% when 'content-with-image' %}
        {% include include %}
      {% when 'content-with-map' %}
        {% include include %}
      {% when 'full-width-text' %}
        <div class="container p-50-cont">
          <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            {% include include %}
          </div>
        </div>
      {% when 'seperator' %}
        {% include include %}
      {% when 'distributor' %}
        {% include include %}
      {% when 'quote' %}
        {% include include %}
      {% when 'quote-with-author' %}
        {% include include %}
    {% endcase %}
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Page Content",
    "blocks": [
      {
        "type": "content-with-image",
        "name": "Text and Image",
        "settings": [
          {
            "type": "header",
            "content": "Image"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "id": "reverse",
            "type": "checkbox",
            "label": "Image right",
            "default": false
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title",
            "default": "Create World Class Wine"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "content-with-map",
        "name": "Text and Map",
        "settings": [
          {
            "type": "header",
            "content": "Map"
          },
          {
            "id": "address",
            "type": "text",
            "label": "Address"
          },
          {
            "id": "reverse",
            "type": "checkbox",
            "label": "Map right",
            "default": false
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "id": "title",
            "type": "text",
            "label": "Title"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          },
          {
            "id": "button_text",
            "type": "text",
            "label": "Button Text",
            "default": "Read More"
          },
          {
            "id": "button_link",
            "type": "url",
            "label": "Button Link"
          }
        ]
      },
      {
        "type": "seperator",
        "name": "Bar",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Text"
          }
        ]
      },
      {
        "type": "quote-with-author",
        "name": "Quote with Author",
        "settings": [
          {
            "id": "title",
            "type": "text",
            "label": "Author"
          },
          {
            "id": "sub_title",
            "type": "text",
            "label": "Sub-title"
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Quote"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Author image"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Accompanying image"
          }
        ]
      },
      {
        "type": "full-width-text",
        "name": "Full-width text",
        "settings": [
          {
            "type": "header",
            "content": "Full Width Text"
          },
          {
            "id": "default_content",
            "type": "checkbox",
            "label": "Use Page Content"
          },
          {
            "type": "select",
            "id": "align",
            "label": "Text align",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          },
          {
            "type": "select",
            "id": "text_style",
            "label": "Text Size",
            "options": [
              { "value": "h1", "label": "Heading 1" },
              { "value": "h2", "label": "Heading 2" },
              { "value": "h3", "label": "Heading 3" },
              { "value": "h4", "label": "Heading 4" },
              { "value": "h5", "label": "Heading 5" },
              { "value": "h6", "label": "Heading 6" },
              { "value": "p", "label": "Paragraph" }
            ]
          },
          {
            "id": "content",
            "type": "textarea",
            "label": "Content"
          }
        ]
      }
    ]
  }

{% endschema %}
