{% assign title = section.settings.title %}
{% assign sub_title = section.settings.sub_title %}

{% include 'password' %}

{% schema %}
  {
    "name": "Password Page",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "We're Coming Soon",
        "placeholder": "We're Coming Soon"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Subtitle",
        "default": "We are working on our website and will be online again. Stay tuned.",
        "placeholder": "We are working on our website and will be online again. Stay tuned."
      }
    ]
  }
{% endschema %}
