{% include 'loyalty-logic' %}

{% assign tab_style = section.settings.tab_style%}
{% assign include = section.settings.include %}

{% include include %}

{% schema %}
  {
    "name": "Product Layout",
    "settings": [
      {
        "type": "select",
        "id": "include",
        "label": "Page Layout",
        "options": [
          { "value": "product-full-width", "label": "Full Width" },
          { "value": "product-two-columns", "label": "Two Columns" }
        ]
      },
      {
        "type": "select",
        "id": "tab_style",
        "label": "Tab Style",
        "options": [
          { "value": "1", "label": "Style One" },
          { "value": "2", "label": "Style Two" },
          { "value": "3", "label": "Style Three" },
          { "value": "4", "label": "Style Four" },
          { "value": "5", "label": "Style Five" },
          { "value": "6", "label": "Style Six" }
        ],
        "default": "3"
      }
    ]
  }
{% endschema %}
