{% assign paginate_amount = section.settings.paginate_amount %}
{% assign pagination_template = section.settings.pagination_template %}
{% assign pagination_center = section.settings.pagination_center %}
{% assign only_products = section.settings.only_products %}
{% assign grid_results = section.settings.grid_results %}

<div class="page-section p-110-cont">
  <div class="container">
    {% assign respond_js_secret_key = shop.domain | md5 %}
    {% unless search.terms == respond_js_secret_key %}
      {% if search.performed %}
        {% comment %} Search has been performed {% endcomment %}
        {% paginate search.results by paginate_amount %}
          {% if search.results_count == 0 %}
            {% comment %} No Results {% endcomment %}
            <div class="section-header section-header--large">
              <h1 class="section-header__title h2">{{ 'general.search.no_results_html' | t: terms: search.terms }}</h1>
            </div>
            {% include 'search-bar' %}
          {% else %}
            {% comment %} Results found {% endcomment %}
            <div class="section-header section-header--large">
              <h1 class="section-header__title h2">{{ 'general.search.results_for_html' | t: terms: search.terms }}</h1>
            </div>
            {% include 'search-bar' %}
            {% if grid_results == false %}
              {% comment %} Display results as a list {% endcomment %}
              {% for item in search.results %}
                {% include 'search-result' %}
              {% endfor %}
            {% else %}
              {% comment %} Display results as a grid {% endcomment %}
              <div class="grid-uniform">
                {% for item in search.results %}
                {% assign grid_item_width = 'col-sm-6 col-md-4 col-lg-3' %}
                {% include 'search-result-grid' %}
                {% endfor %}
              </div>
            {% endif %}
          {% endif %}
          {% include pagination_template %}
        {% endpaginate %}
      {% else %}
        {% comment %} Search has not been performed {% endcomment %}
        <div class="section-header section-header--large">
          <h1 class="section-header__title h2">{{ 'general.search.title' | t }}</h1>
        </div>
        {% include 'search-bar' %}
      {% endif %}
    {% else %}
      {% include 'respond' %}
      {% layout none %}
    {% endunless %}
  </div>
</div>

{% schema %}
  {
    "name": "Search Layout",
    "settings": [
      {
        "type": "checkbox",
        "id": "grid_results",
        "label": "Display results in a grid",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "only_products",
        "label": "Only display products in search results",
        "default": false
      },
      {
        "type": "text",
        "id": "paginate_amount",
        "label": "Number of posts per page",
        "default": "10",
        "placeholder": "10"
      },
      {
        "type": "select",
        "id": "pagination_template",
        "label": "Pagination Style",
        "default": "pagination-linear",
        "options": [
          { "value": "pagination-numbers-linear", "label": "Numbers and Arrows" },
          { "value": "pagination-linear", "label": "Arrows" },
          { "value": "pagination-numbers", "label": "Numbers" }
        ]
      },
      {
        "type": "checkbox",
        "id": "pagination_center",
        "label": "Centre Pagination"
      }
    ]
  }
{% endschema %}
