
/* Variables =================================================================*/

$colorTundora: #4A4340;
$colorPorcelain: #E1DEDD;
$colorStormDust: #636361;
$colorSoot: #757573;
$colorNobel: #B1B1B1;
$colorFriarGray: #827C7B;
$colorGallery: #F0EEEE;
$colorMercury: #D6D2D2;

/*================ Global | Sass Mixins ================*/
@mixin clearfix() {
  &:after {
    content: "";
    display: table;
    clear: both; }
  *zoom: 1;
}

/* Mixins ====================================================================*/

@mixin prefixer($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      -webkit-#{$property}: $value;
    } @else if $prefix == moz {
      -moz-#{$property}: $value;
    } @else if $prefix == ms {
      -ms-#{$property}: $value;
    } @else if $prefix == o {
      -o-#{$property}: $value;
    } @else if $prefix == spec {
      #{$property}: $value;
    } @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}
@mixin user-select($value: none) {
  @include prefixer(user-select, $value, webkit moz ms spec);
}

@mixin transform($transform) {
  @include prefixer(transform, $transform, ms webkit spec);
}

@mixin transition($value: all .25s ease-out) {
  @include prefixer(transition, $value, webkit moz ms spec);
}

@mixin backface($visibility: hidden) {
  @include prefixer(backface-visibility, $visibility, webkit moz ms spec);
}

@mixin animation($animation) {
  -webkit-animation: $animation;
  -moz-animation:    $animation;
  -o-animation:      $animation;
  animation:         $animation;
}

@mixin gradient($from, $to, $fallback) {
  background: $fallback;
  background: -moz-linear-gradient(top, $from 0%, $to 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$from), color-stop(100%,$to));
  background: -webkit-linear-gradient(top, $from 0%, $to 100%);
  background: -o-linear-gradient(top, $from 0%, $to 100%);
  background: -ms-linear-gradient(top, $from 0%, $to 100%);
  background: linear-gradient(top bottom, $from 0%, $to 100%);
}

@mixin visuallyHidden {
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

@mixin desaturate {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

@mixin box-sizing($box-sizing: border-box) {
  -webkit-box-sizing: #{$box-sizing};
  -moz-box-sizing: #{$box-sizing};
  box-sizing: #{$box-sizing};
}

@function em($target, $context: $baseFontSize) {
  @if $target == 0 {
    @return 0;
  }
  @return $target / $context + 0em;
}

@function color-control($color) {
  @if (lightness( $color ) > 50) {
    @return #000;
  }
  @else {
    @return #fff;
  }
}

/*============================================================================
  Dependency-free breakpoint mixin
    - http://blog.grayghostvisuals.com/sass/sass-media-query-mixin/
==============================================================================*/
$min: min-width;
$max: max-width;
@mixin at-query ($constraint, $viewport1, $viewport2:null) {
  @if $constraint == $min {
    @media screen and ($min: $viewport1) {
      @content;
    }
  } @else if $constraint == $max {
    @media screen and ($max: $viewport1) {
      @content;
    }
  } @else {
    @media screen and ($min: $viewport1) and ($max: $viewport2) {
      @content;
    }
  }
}

/*============================================================================
  Accent text
==============================================================================*/

@mixin accentFontStack {
  font-size: em($accentFontSize);
  font-family: $accentFontStack;
  font-weight: $accentFontWeight;
  font-style: normal;
}
$siteWidth: 1030px;

$gutter: 30px;
$gridGutter: 30px;
$radius: 2px;

$small: 480px;
$medium: 768px;
$large: 769px;

$viewportIncrement: 1px;
$postSmall: $small + $viewportIncrement;
$preMedium: $medium - $viewportIncrement;
$preLarge: $large - $viewportIncrement;

/*================ The following are dependencies of csswizardry grid ================*/
$breakpoints: (
  'small' '(max-width: #{$small})',
  'medium' '(min-width: #{$postSmall}) and (max-width: #{$medium})',
  'medium-down' '(max-width: #{$medium})',
  'large' '(min-width: #{$large})'
);
$breakpoint-has-widths: ('small', 'medium', 'medium-down', 'large');
$breakpoint-has-push:  ('medium', 'medium-down', 'large');
$breakpoint-has-pull:  ('medium', 'medium-down', 'large');

/*================ Color variables ================*/
$colorPrimary: {{ settings.color_primary }};
$colorSecondary: {{ settings.color_secondary }};

// Button colors
$colorBtnPrimary: $colorPrimary;
$colorBtnPrimaryHover: lighten($colorBtnPrimary, 10%);
$colorBtnPrimaryActive: darken($colorBtnPrimaryHover, 10%);
$colorBtnPrimaryText: {{ settings.color_button_primary_text }};

$colorBtnSecondary: $colorSecondary;
$colorBtnSecondaryHover: lighten($colorBtnSecondary, 10%);
$colorBtnSecondaryActive: darken($colorBtnSecondaryHover, 10%);
$colorBtnSecondaryText: {{ settings.color_button_secondary_text }};

$colorBtnTertiary: {{ settings.color_body_bg }};
$colorBtnTertiaryHover: $colorPrimary;
$colorBtnTertiaryActive: darken($colorPrimary, 10%);
$colorBtnTertiaryText: $colorPrimary;

// Text link colors
$colorLink: $colorPrimary;
$colorLinkHover: lighten($colorPrimary, 15%);

// Text colors
$colorTextBody: {{ settings.color_body_text }};
$colorTopBarText: $colorTextBody;

// Backgrounds
$colorBody: {{ settings.color_body_bg }};
$colorHeader: $colorBody;
$colorTopBar: $colorBody;

// Border colors
$colorBorder: {{ settings.color_borders }};

// Nav and dropdown link background
$colorNavText: $colorTextBody;

// Site Footer
$colorFooterBg: $colorBody;
$colorFooterText: $colorTextBody;

// Helper colors
$disabledGrey: #f6f6f6;
$disabledBorder: darken($disabledGrey, 25%);
$errorRed: #d02e2e;
$errorRedBg: #fff6f6;
$successGreen: #56ad6a;
$successGreenBg: #ecfef0;

// Password page
$passwordPageUseBgImage: true;

/*================ Typography variables ================*/

// Body Font
$bodyFontStack: 'Amiri', serif;
$baseFontSize: 16px;

// Header Font
$headerFontStack: 'Montserrat', sans-serif;
$headerFontWeight: 700;
$headerBaseFontSize: 54px;

// Navigation and buttons
$accentFontStack: $headerFontStack;
$accentFontWeight: 200;
$accentFontSize: {{ settings.type_accent_size }};

/*================ Row Uniform =========================*/

.row-uniform {
  margin-right: -15px;
  margin-left: -15px;
  &:after {
    clear:both;

  }
  &:before {
    display: table;
    content: '';
  }
  @media (max-width:768px) {
    // 2
    .col-xs-6:nth-child(2n+1) {
      clear: left;
    }
    // 3
    .col-xs-4:nth-child(3n+1) {
      clear: left;
    }
    // 4
    .col-xs-3:nth-child(4n+1) {
      clear: left;
    }
    // 6
    .col-xs-2:nth-child(6n+1) {
      clear: left;
    }
  }
  // sm
  @media (min-width:768px) and (max-width:992px) {
    // 2
    .col-sm-6:nth-child(2n+1) {
      clear: left;
    }
    // 3
    .col-sm-4:nth-child(3n+1) {
      clear: left;
    }
    // 4
    .col-sm-3:nth-child(4n+1) {
      clear: left;
    }
    // 6
    .col-sm-2:nth-child(6n+1) {
      clear: left;
    }
  }
  // md
  @media (min-width:992px) and (max-width:1200px) {
    // 2
    .col-md-6:nth-child(2n+1) {
      clear: left;
    }
    // 3
    .col-md-4:nth-child(3n+1) {
      clear: left;
    }
    // 4
    .col-md-3:nth-child(4n+1) {
      clear: left;
    }
    // 6
    .col-md-2:nth-child(6n+1) {
      clear: left;
    }
  }
  // lg
  @media (min-width:1200px) {
    // 2
    .col-lg-6:nth-child(2n+1) {
      clear: left;
    }
    // 3
    .col-lg-4:nth-child(3n+1) {
      clear: left;
    }
    // 4
    .col-lg-3:nth-child(4n+1) {
      clear: left;
    }
    // 6
    .col-lg-2:nth-child(6n+1) {
      clear: left;
    }
  }
}
/*================ Theme-specific partials ================*/
h1, .h1 {
  font-family: $headerFontStack;
  font-size: em($headerBaseFontSize);
  line-height: 1.2;
  font-weight: $headerFontWeight;
  text-transform: uppercase;
  text-shadow: none !important;
}

h2 {
  font-size: em(floor($headerBaseFontSize * 0.88)); //28px
  line-height: 1.3;
  font-family: $headerFontStack;
  font-weight: $headerFontWeight;
}

h3 {
  font-size: em(floor($headerBaseFontSize * 0.5)); //22px
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 3px;
  font-family: $headerFontStack;
  text-transform: uppercase;
}

h4,
.tags {
  font-size: em(floor($headerBaseFontSize * 0.5)); //16px
  line-height: 1.6;
  text-shadow: none !important;
}

h4 {
  font-size: em(floor($headerBaseFontSize * 0.5)); //16px
  font-weight: $headerFontWeight;
  font-family: $headerFontStack;
}

h5 {
  font-size: em(floor($headerBaseFontSize * 0.5)); //16px
  font-weight: $headerFontWeight;
  line-height: 1.6;
  font-family: $headerFontStack;
}

h6 {
  font-size: em(floor($headerBaseFontSize * 0.45)); //14px
  font-weight: $headerFontWeight;
  line-height: 1.7;
  font-family: $headerFontStack;
}



.h1 { @extend h1; }
.h2 { @extend h2; }
.h3 { @extend h3; }
.h4 { @extend h4; }
.h5 { @extend h5; }
.h6 { @extend h6; }

body {
  outline: 0;
  vertical-align: baseline;
  font-size: 18px;
  line-height: 25px;
  font-family: $bodyFontStack;
  font-weight: 400;
  color: $colorFriarGray;
  background-color: $colorPrimary;
  -webkit-font-smoothing: antialiased !important;
  -webkit-text-size-adjust: 100% !important;
}

p.feature {
  font-size: 18px;
  line-height: 30px;
}

a {
  color: $colorFriarGray;
  text-decoration: none;
  transition: all .3s ease 0s;
  &:hover, &:focus {
    color: darken($colorFriarGray, 5%);
    text-decoration: none;
    cursor: pointer;
  }
}

b, strong {
  color: darken($colorFriarGray, 25%);
}

/*================ Header ================*/

// fixed header
.affix .header-wrapper {
    top: 0;
    left: 0;
    z-index: 100;
    background: $colorPrimary;
    @include transform(translateZ(0));
}
/*================ Search ================*/

.affix {
  .cd-search {
    height: 60px;
    top: 100px;
  }
}

.cd-search {
  height: 100px;
  position: absolute;
  @include transform(translateZ(0));
  width: 100%;
  left: 0;
  top: 136px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s, height .4s ease 0s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s, height .4s ease 0s;
  transition: opacity .3s 0s, visibility 0s .3s, height .4s ease 0s;
  &.is-visible {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity .3s 0s, visibility 0s 0s, height .4s ease 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s, height .4s ease 0s;
    transition: opacity .3s 0s, visibility 0s 0s, height .4s ease 0s;
    @include transform(translateZ(0));
  }
  @media (max-width:1024px) {
    height: 76px;
    top: 118px;
    input {
      padding: 0 20px;
    }
  }
  form {
      height: 100%;
      width: 100%;
  }
  input {
    border-radius: 0;
    border: none;
    background: #fff;
    height: 100%;
    width: 100%;
    padding: 0 40px;
    box-shadow: inset 0 1px 0 #e2e3df, 0 3px 6px rgba(0, 0, 0, .05);
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    &:focus {
      outline: 0
    }
  }
}

.no-bullet {
  list-style: none;
  padding: 0;
}
/*================ Search Button ================*/


.affix .cd-header-buttons {
  transition: top .4s ease 0s;
  @include transform(translateZ(0));
}
.cd-header-buttons {
  position: absolute;
  bottom: 12px;
  right: 50px;
  margin: 0;
  padding: 0;
  transition: top .4s, ease 0s;
  @include transform(translateZ(0));
  z-index: 30;
  @media (max-width:1024px) {
    top: 38px;
  }
}
/*================ Navigation ================*/
nav {
  .navbar-nav {
    font-family: $headerFontStack;
    font-weight: 400;
    font-size: 0.8em;
    .parent {
      .arrow {
        transition: ease transform 0.4s;
        display: none;
        svg {
          .stroke {
            stroke: #fff;
          }
        }
        @media (max-width:1024px) {
          display: inline-block;
          float: right;
        }
      }
      &.active {
        .arrow {
          transform: rotate(90deg);
        }
      }
    }
  }
}
/*================ Footer ================*/
.site-footer {
  p,
  li,
  .rte,
  input {
    font-size: 0.85em;
  }
}

.main-content {
  margin-top: $gutter / 2;

  .template-index & {
     margin-top: 0;
  }
}
/*================ Default Icons ================*/

.icon {
  svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: none;
    g {
      transform: translate(0.5px, 0.5px);
    }
    .fill {
      fill: $colorFriarGray;
    }
    .stroke {
      stroke: $colorFriarGray;
    }
  }
}

.icon-white {
  .icon {
    svg {
      width: 24px;
      height: 24px;
      fill: none;
      stroke: none;
      g {
        transform: translate(0.5px, 0.5px);
      }
      .fill {
        fill: #fff;
      }
      .stroke {
        stroke: #fff;
      }
    }
  }
}

/*================ Module-specific styles ================*/
.header-bar {
  @include clearfix();
  font-family: $accentFontStack;
  font-size: em(14px);
  background-color: $colorTopBar;
  color: $colorTopBarText;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;

  @include at-query($min, $large) {
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  a,
  button {
    color: $colorTopBarText;

    &:hover,
    &:active,
    &:focus {
      outline-color: $colorTopBarText;
    }
  }

  .inline-list {
    margin-bottom: 0;

    li {
      margin-bottom: 0;
    }
  }
}

@include at-query($min, $large) {
  .header-bar__left {
    text-align: left;
    width: 33.33%;
  }

  .header-bar__right {
    width: 66.66%;
  }
}

.header-bar__module {
  margin-bottom: $gutter/2;

  .header-bar__right &:last-child {
    margin-bottom: 0;
  }

  @include at-query($min, $large) {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 0;
  }
}

.header-bar__module--list {
  list-style: none;
  margin: 0;

  li {
    display: inline-block;
    margin: 0;

    & + li {
      margin-left: 6px;
    }
  }
}

.cart-page-link {
  display: inline-block;
  position: relative;
}

.header-bar__cart-icon {
  font-size: 1.4em;
  margin-right: 4px;
}

.hidden-count {
  display: none;
}

.header-bar__sep {
  display: none;

  @include at-query($min, $large) {
    color: $colorTopBarText;
    opacity: 0.4;
    display: inline-block;
    padding: 0 10px;
  }
}

.header-bar__search {
  @include clearfix();
  position: relative;
  background-color: #fff;
  border: 0 none;
  border-radius: $radius;
  min-width: 100px;

  @include at-query($min, $large) {
    margin-left: 20px;

    &:first-of-type {
      margin-left: 0;
    }
  }

  @include at-query($max, $medium) {
    margin: 12px 30px;
  }

  @include at-query($max, $small) {
    margin: 12px 15px;
  }

  form,
  input,
  button {
    margin-bottom: 0;
  }
}

.header-bar__search-input[type="search"] {
  display: block;
  width: 60%;
  float: right;
  background: transparent;
  border-color: transparent;
  padding: 5px 0;

  &:focus {
    background: transparent;
    border-color: transparent;
  }
}

.header-bar__search-submit {
  position: absolute;
  display: block;
  float: left;
  width: 40%;
  font-size: 16px;
  padding: 4px 0;
}

.supports-fontface {
  .header-bar__search-submit {
    width: 30px;
  }

  .header-bar__search-input[type="search"] {
    width: 120px;
    padding-left: 30px;
  }

  @include at-query($max, $medium) {
    .header-bar__search-form {
      position: relative;
    }

    .header-bar__search-submit {
      width: 35px;
      position: absolute;
      top: 0;
      left: 0;
    }

    .header-bar__search-input[type="search"] {
      width: 100%;
      padding-left: 35px;
    }
  }
}

.header-bar__search {
  .btn,
  .btn:hover,
  .btn:focus {
    background: transparent;
    color: #555;
  }
}

.header-bar__left .header-bar__search-input {
  transition: all 0.3s ease-in-out;

  &:focus {
    background: rgba(0,0,0,0.05);
    width: 220px;
  }
}

.no-js .header-bar__search-submit .fallback-text {
  @include visuallyHidden;
}
/*================ Module | Award ================*/
.award {
  background-color: #fff;
  .wow {
    padding-right: 0;
    img {
      position: absolute;
      right: -50%;
      margin-top: 33%;
    }
  }
}
/*================ Module | Grid Link ================*/
.grid-link__container {
  margin-bottom: -$gutter;
}

.grid-link,
.grid-link--focus {
  position: relative;
  display: block;
  padding-bottom: $gutter;
  line-height: 1.3;

  &:hover,
  &:active {
    .grid-link__image {
      opacity: 0.8;
    }
  }
}

.grid-link--focus {
  padding: $gutter / 1.5;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin-bottom: $gutter;

  &:before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $colorFooterBg;
    @include transition(all 0.08s ease-in);
  }

  &:hover,
  &:active {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.grid-link__image {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 0 auto ( $gutter / 3 );
  @include transition(all 0.08s ease-in);

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;

    {% if settings.collections_show_sold_out_circle %}
    .sold-out & {
      opacity: 0.4;
      filter: alpha(opacity=40);
    }
    {% endif %}
  }

  .list-view__product & {
    min-width: 130px;
  }
}

.grid-link__image-centered {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
}

.grid-link__title,
.grid-link__meta {
  position: relative;
  margin-bottom: 5px;
}

.grid-link__title {
  font-family: $headerFontStack;
  color: $colorTextBody;
  font-size: 1em;
  line-height: 1.4;
  font-weight: $headerFontWeight;
}

.grid-link__vendor {
  font-size: .85em;
}

.grid-link__meta {
  font-size: .85em;
  line-height: 1.5;
  color: lighten($colorTextBody, 10%);
}

.grid-link__sale_price {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.list-view__product {
  border-bottom: 1px solid $colorBorder;
  margin-bottom: $gutter / 3;
  padding-bottom: $gutter / 3;
}

$badgeSize: 60px;
.badge {
  display: table;
  position: absolute;
  width: $badgeSize;
  height: $badgeSize;
  background-color: $colorPrimary;
  color: $colorBtnPrimaryText;
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-size: em(12px);
  line-height: 1.1;
  z-index: 10;
}

.badge--sold-out {
  top: 50%;
  left: 50%;
  margin-top: -($badgeSize / 2);
  margin-left: -($badgeSize / 2);
  background-color: $colorBtnSecondary;
  color: $colorBtnSecondaryText;
}

.badge--sale {
  top: -($badgeSize / 5);
  right: -($badgeSize / 5);
}

.badge__text {
  display: table-cell;
  vertical-align: middle;
  padding: 2px 8px 0;
}

.badge__text--small {
  font-size: 8px;
  padding-top: 0;
}

.mobile-nav-trigger,
.mobile-cart-page-link {
  font-weight: bold;

  .icon {
    position: relative;
    top: -1px;
    vertical-align: middle;
    padding-right: 4px;
  }
}

.mobile-nav-trigger {
  display: block;
  float: left;
  background: none;
  border: 0 none;
  padding: 0;
  margin: 0;

  .icon {
    font-size: 1.4em;
  }
}

.mobile-cart-page-link {
  display: block;
  float: right;

  .header-bar__cart-icon {
    font-size: 1.4em;
  }

  .cart-count {
    &:before {
      display: inline;
      content: "(";
    }
    &:after {
      display: inline;
      content: ")";
    }
  }
}

.mobile-nav {
  display: none;
  list-style: none;
  text-align: left;
  margin: 0;

  li {
    margin: 0;
  }
}

.mobile-nav__link {
  display: block;
  border-top: 1px solid $colorTopBarText;
  border-color: rgba($colorTopBarText, 0.2);

  /*================ Can't always control anchor markup to add a class ================*/
  > a {
    display: block;
    padding: ($gutter / 2.5) ($gutter / 2);
    font-size: em(15px);
    font-family: $headerFontStack;
    font-weight: $headerFontWeight;
    text-transform: uppercase;

    @include at-query ($min, $small) {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}

.mobile-nav__sublist-expand,
.mobile-nav__sublist-contract {
  display: inline-block;
  font-size: 0.6em;
  vertical-align: middle;
  margin: -2px 0 0 4px;
}

.mobile-nav__sublist-contract {
  display: none;
}

.mobile-nav__sublist-trigger.is-active {
  .mobile-nav__sublist-contract {
    display: inline-block;
  }

  .mobile-nav__sublist-expand {
    display: none;
  }
}

.mobile-nav__sublist {
  list-style: none;
  margin: 0;
  display: none;
  background-color: $colorBody;

  .mobile-nav__sublist {
    margin-left: $gutter / 2;

    .mobile-nav__sublist-link a {
      border-top: none;
    }
  }
}

.mobile-nav__sublist-link {
  a {
    display: block;
    padding: ($gutter / 2.5) ($gutter / 2);
    color: $colorNavText;
    font-size: em(15px);
    font-family: $headerFontStack;
    border-top: 1px solid $colorBorder;

    @include at-query ($min, $small) {
      padding-left: $gutter;
      padding-right: $gutter;
    }

    &:hover {
      opacity: 1;
      color: $colorPrimary;
    }
  }
}


/*============= Templates | Password page =============*/

.template-password {
  height: 100vh;
  text-align: center;
}

.password-page__wrapper {
  display: table;
  height: 100%;
  width: 100%;

  @if $passwordPageUseBgImage {
    background-image: url({{ 'password-page-background.jpg' | asset_url }});
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
  } @else {
    color: $colorTextBody;
  }

  a {
    color: inherit;
  }

  hr {
    padding: ($gutter / 2) 0;
    margin: 0 auto;
    max-width: ($gutter * 2);

    @if $passwordPageUseBgImage {
      border-color: inherit;
    } @else {
      border-color: $colorBorder;
    }
  }

  .social-sharing {
    a {
      color: #fff;
    }

    &.is-clean a {
      color: #333;
      background: #fff;

      &:hover{
        background: #ececec;
      }
    }
  }
}

.password-page__header {
  display: table-row;
  height: 1px;
}

.password-page__header__inner {
  display: table-cell;
  padding: ($gutter / 2) $gutter;
}

.password-page__logo {
  margin-top: 3 * $gutter;

  @if $passwordPageUseBgImage {
    color: inherit;
  } @else {
    color: $colorNavText;
  }

  .logo {
    width: {{ settings.logo_max_width }}px;
    max-width: 100%;
  }
}

.password-page__main {
  display: table-row;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.password-page__main__inner {
  display: table-cell;
  vertical-align: middle;
  padding: ( $gutter / 2 ) $gutter;
}

.password-page__hero {
  font-family: $headerFontStack;
  font-weight: $headerFontWeight;
  font-size: em(42px);
  line-height: 1.25;
  text-transform: none;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;

  @include at-query($min, $postSmall) {
    font-size: em(60px);
  }

  @include at-query($min, $large) {
    font-size: em(64px);
  }
}

.password-page__message {
  font-style: italic;
  font-size: 120%;

  img {
    max-width: 100%;
  }
}

.password-page__message,
.password-page__login-form,
.password-page__signup-form {
  max-width: 500px;
  margin: 0 auto;
}

.password-page__message,
.password-page__login-form {
  text-align: center;
  padding: $gutter;
}

.password-page__login-form,
.password-page__signup-form {
  @include at-query($min, $small) {
    padding: 0 $gutter;
  }

  .input-group {
    width: 100%;
  }

  .errors ul {
    list-style-type: none;
    margin-left: 0;
  }
}

.lt-ie9 .template-password {
  .newsletter__submit-text--small,
  .password-page__login-form__submit-text--small {
    display: none !important;
  }
}

input[type="submit"].password-page__login-form__submit,
input[type="submit"].password-page__signup-form__submit {
  font-size: 0.9em;
}

.password-page__social-sharing {
  margin-top: $gutter;
}

.password-login,
.admin-login  {
  margin-top: $gutter / 2;
  a:hover {
    color: inherit;
  }
}

.password-login {
  font-family: $headerFontStack;
  font-size: em(14px);
  line-height: 14px;
}

.lock-icon-svg {
  width: 14px;
  height: 14px;
  display: inline-block;
  vertical-align: baseline;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8 */
  .lt-ie9 & {
    display: none;
  }
}

.admin-login {
  font-size: 95%;
}

.password-page__footer {
  display: table-row;
  height: 1px;

  @if $passwordPageUseBgImage{
    color: inherit;
  } @else {
    color: $colorFooterText;
  }
}

.password-page__footer_inner {
  display: table-cell;
  vertical-align: bottom;
  padding: $gutter;
  line-height: 1.5 * $baseFontSize;
  font-size: 95%;
}

.shopify-link {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

.shopify-logo-svg {
  width: 1.5 * $baseFontSize * 120 / 35;
  height: 1.5 * $baseFontSize;
  display: inline-block;
  line-height: 0;
  vertical-align: top;

  path {
    fill: currentColor;
  }

  /* Hiding the SVG logo in IE8, we show the word 'Shopify' instead */
  .lt-ie9 & {
    display: none;
  }
}

/* =========
   Hiding the word 'Shopify' but not from screen readers.
   IE8 does not support SVG, so in it we hide the logo and show the word.
   To target all browsers except IE8, we use the class 'modern',
   which needs to be added to the html element.
   ========= */

.shopify-name {
  .modern & {
    @include visuallyHidden;
  }
}

/*================ Back to Top ================*/

#back-top {
  position: fixed;
  bottom: 16px;
  right: 19px;
  padding: 0;
  margin: 0;
  z-index: 20;
  a {
    display: block;
    color: #2a2b2f;
    font-size: 26px;
    z-index: 999;
    padding: 5px;
    height: 37px;
    width: 37px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
  }
}

/*================ Module | Section Headers ================*/
.section-header {
  text-align: left;
  margin-bottom: $gutter / 2;
}

.section-header--small {
  margin-bottom: 0;
}

.section-header--medium {
  margin-bottom: $gutter / 4;
}

.section-header--large {
  margin-bottom: $gutter;
}

.section-header--breadcrumb {
  margin-bottom: $gutter / 2;
}

.section-header__title {
  color: $colorNavText;
}

.section-header__title--left,
.section-header__link--right {
  padding-bottom: $gutter / 2.5;
  margin-bottom: 0;
}

.section-header__link--right {
  margin-top: $gutter / 2;
}

@include at-query ($min, $large) {
  .section-header {
    display: table;
    width: 100%;
    text-align: left;
  }

  .section-header__title--left {
    display: table-cell;
    vertical-align: middle;

    h1, h2, h3, h4,
    .h1, .h2, .h3, .h4 {
      margin-bottom: 0;
    }
  }

  .section-header__link--right {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 550px;
    margin-top: 0;

    @include at-query ($max, $medium) {
      margin-bottom: $gutter;
    }
  }
}

.section-header__link--right {

  .form-horizontal {
    display: inline-block;
  }

  .form-horizontal,
  .collection-view {
    vertical-align: middle;
  }

  select,
  option {
    color: $colorTextBody;
    font-size: 0.9em;
  }

  @include at-query ($min, $postSmall) {
    label + select,
    .collection-view {
      margin-left: $gutter / 2;
    }

    label:not(.label--hidden) + select {
      margin-left: $gutter / 6;
    }
  }

  @include at-query ($min, $large) {
    select {
      max-width: 200px;
    }
  }
}

@include at-query ($max, $medium) {
  .template-collection {
    .section-header__link--right {
      display: block;
      width: 100%;
      margin-top: 0;

      .form-horizontal {
        width: 100%;

        select {
          width: 100%;
          margin-left: 0;
        }
      }
    }
  }
}

.view-more {
  clear: both;
  display: block;
  font-size: 0.85em;
  text-align: center;
  margin-top: $gutter / 2;

  @include at-query($min, $large) {
    display: none;
  }
}

/*================ Module | Notifications ================*/

#notification_container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  ul {
    list-style: none;
  }
  .alert {
    padding-top: 11px;
    padding-bottom: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  }
  a {
    color: #245269;
    font-weight: 700;
    &:hover {
      text-decoration: underline;
    }
  }
}

/*================ Module | Site Tabs ================*/

nav.toolbar-nav {
  height: 41px;
  overflow: hidden;
  ul {
    list-style: none;
    margin: auto;
    display: block;
    text-align: center;
    li {
      display: inline-block;
      margin-bottom: 0;
      a.toolbar-nav__link {
        display: block;
        height: 41px;
        width: auto;
        overflow: hidden;
        margin-right: 2px;
        padding: ($gutter / 3) ($gutter / 4);
        background: $colorStormDust;
        color: $colorNobel;
        line-height: 1;
        font-size: 0.9em;
        text-transform: uppercase;
        text-align: center;
        svg {
          max-width: 100%;
          height: auto;
          fill: $colorNobel;
          display: block;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover {
          background-color: $colorStormDust;
          color: lighten($colorNobel, 5%);
        }
      }
      &.toolbar-nav--active a {
        background-color: $colorNobel;
        color: $colorStormDust;
        &:hover {
          background-color: rgba($colorStormDust, 0.95);
        }
      }
    }
  }
  ul#AccessibleNav.toolbar-wineries {
    li {
      a.toolbar-nav__link {
        padding: 4px 30px;
        img {
          max-height: 28px !important;
          width: auto;
        }
        svg {
          max-width: 150px;
          width: 100%;
          fill: $colorNobel;
        }
        &:hover {
          svg {
            fill: lighten($colorNobel, 5%);
          }
        }
      }
      &.toolbar-nav--active a.toolbar-nav__link {
        background-color: $colorPorcelain;
        svg {
          max-width: 150px;
          width: 100%;
          fill: $colorStormDust;
        }
        &:hover {
          background-color: lighten($colorPorcelain, 5%)
        }
      }
    }
  }
  ul.toolbar-account {
    li {
      position: relative;
      a.toolbar-nav__link {
        max-width: 135px;
        svg {
          display: inline-block;
          height: 1em;
          width: auto;
          margin: 0 5px -1px 0;
          stroke: $colorNobel;
          stroke-width: 2px;
        }
        &:hover {
          svg {
            stroke: lighten($colorNobel, 5%);
          }
        }
      }
    }
  }
}

.top-bar {
  background: #F5F5F5;
  font-size: 1em;
  letter-spacing: 1px;
  &.top-bar-black {
    background: $colorTundora;
    a {
      color: rgba(255, 255, 255, .7);
      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }
  }
}

.top-bar-section {
  list-style: none;
  li {
    float: left;
    border-left: #E2E6E7;
    display: block;
    line-height: 43px;
    padding: 0 13px;

    &:last-child {
      border-right: #E2E6E7
    }

    a {
      display: block;
      text-align: center;
      color: #999;
      &:hover {
        color: #2a2b2f
      }
    }

    .fa {
      font-size: 14px;
      position: relative;
      top: 1px
    }
  }
}

.affix {
  .top-bar-section {
    li {
      display: block;
      line-height: 32px;
      padding: 0 13px;
    }
  }
}

#main-menu {
  z-index: 1;
  .navbar {
    background: 0 0;
    border: 0;
    margin: 0;
    .navbar-collapse {
      padding: 0;
      position: static;
      border: none;
      box-shadow: none;
    }
    .nav {
      margin: 0;
      position: static;
      > li {
        position: relative;
        z-index: 3;
        > a {
          padding: 38px 3px 5px;
          margin: 21px 12px 17px;
          color: $colorSoot;
          font-weight: 500;
          letter-spacing: 1px;
          z-index: 1;
          text-shadow: none;
          transition: padding .4s ease 0s, border-color .6s ease 0s;
          transform: translateZ(0);
          background-color: transparent;
        }
      }
      li a {
        font-size: 0.9em;
        text-transform: uppercase;
      }
    }
  }
}

/*================ Module | Site Header ================*/

.site-header {
  padding: 40px 0;
  background-color: $colorHeader;

  @include at-query ($min, $large) {
    padding: $gutter 0;

    .large--display-table {
      min-height: 86px;
    }
  }

  @include at-query ($min, $large) {
    .grid {
      display: table;
      table-layout: fixed;
      width: 100%;

      > .grid__item {
        float: none;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }
}

.logo-row {
  position: relative;
  z-index: 1;
  h1 {
    display: inline;
    vertical-align: middle;
    padding-left: 20px;
  }
  .logo-img {
      height: 100px;
      max-width: none;
      width:auto;
  }
}


{% if settings.nav_below_logo %}
  @include at-query($min, $large) {
    .h1.site-header__logo,
    h1.site-header__logo {
      font-size: 1.6 * $headerBaseFontSize;
    }
  }
{% endif %}

.site-header--text-links {
  margin-bottom: 0;
}

/*================ Partials | Forms ================*/

input,
textarea,
button,
select {
  font-size: 1em;
}

button,
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
input[type="submit"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input,
textarea,
select,
fieldset {
  border-radius: $radius;
  max-width: 100%;

  &.input-full {
    width: 100%;
  }
}

input,
select,
textarea {
  padding: 8px 10px;
  line-height: 1.42;
}

fieldset {
  border: 1px solid $colorBorder;
  padding: $gutter / 2;
}

legend {
  border: 0;
  padding: 0;
}

optgroup {
  font-weight: bold;
}

input {
  display: inline-block;
  width: auto;
}

button,
input[type="submit"] {
  cursor: pointer;
}

input[type="submit"] {
  @extend .btn;
}

/*================ Input width and border ================*/

input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea,
select {
  border: 1px solid $colorNobel;
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  max-width: 100%;
  display: block;
  margin: 0 0 1em;
  color: #333 !important;
  &:focus {
    border: 1px solid darken($colorBorder, 5%);
  }
  &::placeholder {
    font-family: $headerFontStack;
    color: $colorNobel;
  }
  &[disabled],
  &.disabled {
    cursor: default;
    background-color: $disabledGrey;
    border-color: $disabledBorder;
  }
}

textarea {
  min-height: 100px;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin: 0;
  padding: 0;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-position: right center;
  background: {
  image: url('{{ "ico-select.svg" | asset_url }}');
  repeat: no-repeat;
  position: right 10px center;
  color: #fff !important;
  }
  padding-right: 28px;
  text-indent: 0.01px;
  text-overflow: '';
  cursor: pointer;

  /*================ Hide the svg arrow in IE9 and below ================*/
  .ie9 &,
  .lt-ie9 & {
    padding-right: 10px;
    background-image: none;
  }
}

select.form-control {
  width: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  font: inherit;
  text-transform: uppercase;
  color: $colorFriarGray !important;
  padding: 5px 10px;
  padding-right: 25px;
  -webkit-appearance: none;
    -moz-appearance: none;
  background: transparent url('arrow-down.svg') no-repeat;
  background-size: 10px;
  background-position: right 10px center;
  &:focus {
    border-color: #ccc;
  }
}

// Force option color (affects IE only)
option {
  color: #000;
  background-color: #fff;
}

select::-ms-expand {
  display: none;
}

/*================ Form labels ================*/
.hidden-label {
  @include visuallyHidden;
}

label,
legend {
  display: block;
  margin-bottom: 2px;

  &.inline {
    display: inline;
  }

  .form-horizontal &.label--hidden,
  &.label--hidden {
    height: 0;
    width: 0;
    margin-bottom: 0;
    overflow: hidden;

    .ie9 &,
    .lt-ie9 & {
      height: auto;
      width: auto;
      margin-bottom: 2px;
      overflow: visible;
    }
  }

  .form-horizontal &:not(.label--hidden) {
    font-size: 0.9em;
  }
}

/*================ We don't want the same label treatment for checkboxes/radios ================*/
input[type="checkbox"] + label,
input[type="radio"] + label {
  font-weight: normal;
}
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin: 0 8px 0 0;
  padding: 0;
  width: auto;
}
label[for] {
  cursor: pointer;
}

.label-hint {
  color: #999;
}

/*================ Horizontal Form ================*/
form.form-horizontal,
.form-horizontal {
  margin-bottom: 0;

  input[type="text"],
  input[type="search"],
  input[type="password"],
  input[type="email"],
  input[type="file"],
  input[type="number"],
  input[type="tel"],
  textarea,
  select,
  label {
    display: inline-block;
    margin-bottom: 0;
    width: 300px;
  }

  &.text-center {
    input[type="text"],
    input[type="search"],
    input[type="password"],
    input[type="email"] {
      text-align: center;
      &::placeholder {
        text-align: center;
      }
    }
  }
}

@include at-query($min, $large) {
  .form-horizontal ~ .form-horizontal {
    padding-left: $gutter / 2;
  }
}

@include at-query($max, $medium) {
  .form-horizontal ~ .form-horizontal {
    margin-top: $gutter / 4;
  }
}

/*================ Error styles ================*/
input[type="text"],
input[type="search"],
input[type="password"],
input[type="email"],
input[type="file"],
input[type="number"],
input[type="tel"],
textarea {
  &.error {
    border-color: $errorRed;
    background-color: $errorRedBg;
    color: $errorRed;
  }
}

label.error {
  color: $errorRed;
}

/*================ Input Group ================*/
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  .input-group-field:first-child,
  .input-group-btn:first-child,
  .input-group-btn:first-child > .btn,
  input[type="hidden"]:first-child + .input-group-field,
  input[type="hidden"]:first-child + .input-group-btn > .btn {
    border-radius: $radius 0 0 $radius;
  }

  .input-group-field:last-child,
  .input-group-btn:last-child > .btn {
   border-radius: 0 $radius $radius 0;
  }

  input {
    // Nasty Firefox hack for inputs http://davidwalsh.name/firefox-buttons
    &::-moz-focus-inner {
      border: 0;
      padding: 0;
      margin-top: -1px;
      margin-bottom: -1px;
    }
  }
}

.input-group-field,
.input-group-btn {
  display: table-cell;
  vertical-align: middle;
  margin: 0;
}

.input-group .btn,
.input-group .input-group-field {
  height: 37px;
}

.input-group .input-group-field {
  width: 100%;
  margin-bottom: 0;
}

.input-group-btn {
  position: relative;
  white-space: nowrap;
  width: 1%;
  padding: 0;
}
/*================ Search bar ================*/
.search-bar {
  max-width: 50%;

  @include at-query ($max, $medium) {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
/*================ Product Page ================*/
.template-product {

  h1 {
    margin-bottom: $gutter / 3;
  }
  h2 {
    font-size: 1.75em;
  }

  .product-single__variants {
    display: none;

    .no-js & {
      display: block;
    }
  }

  .product-single__photos {
    margin-bottom: $gutter;
  }

  .product-single__photos,
  .product-single__thumbnails {
    a, img {
      display: block;
      margin: 0 auto;
      max-height: 850px;
    }
    li {
      margin-bottom: $gutter;
    }
  }

  #AddToCartForm {
    .price_1, .price_2 {
      display: inline-block;
      margin-right: $gutter / 2;
    }
    #ProductPrice {
      &.h2.discounted {
        text-decoration: line-through;
      }
    }
    #club_price {
      color: lighten($colorTextBody, 50%);
    }
    #AddToCart {
      font-size: 1.4em;
      font-weight: $headerFontWeight;
    }
  }
  svg.pdf.fill {
    width: 1em;
    height: 1em;
    margin-right: 1em;
  }
  a.file_link {
    font-weight: bold;
    display: inline-block;
  }
}
/*================ Quantity Selectors ================*/
.js-qty {
  position: relative;
  margin-bottom: 1em;
  max-width: 100px;
  min-width: 75px;
  overflow: visible;

  input {
    display: block;
    background: none;
    text-align: center;
    width: 100%;
    padding: 5px 25px;
    margin: 0;
  }
}

.js-qty__adjust {
  cursor: pointer;
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  border: 0 none;
  padding: 0 8px;
  background: none;
  text-align: center;
  overflow: hidden;
  @include user-select(none);

  &:hover,
  &:focus {
    color: $colorPrimary;
  }
}

.js-qty__adjust--plus {
  right: 0;
  border-left: 1px solid $colorBorder;
}

.js-qty__adjust--minus {
  left: 0;
  border-right: 1px solid $colorBorder;
}
/* ============= Awards ==================*/

$colorRating: #683698;
$colorBadgeGold: #CFC193;
$colorBadgeBronze: #BC7148;
$colorBadgeSilver: #BBBBBB;
$colorBadgeTrophy: #EEEEEE;

.points_badge {
  opacity: 0.75;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  .icon {
    svg {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
      .star {
        fill: darken($colorRating, 5%);
        stroke: darken($colorRating, 15%);
        stroke-width: 1px;
      }
      .circle {
        fill: lighten($colorRating, 10%);
        stroke: darken($colorBadgeGold, 10%);
        stroke-width: 2px;
      }
    }
  }
  .points {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-weight: 700;
    font-size: 1.8em;
    letter-spacing: -1px;
    color: lighten($colorRating, 60%);
    text-shadow: 0px 0px 2px darken($colorRating, 30%);
  }
}

.award_badge {
  opacity: 0.85;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  .trophy {
    display: block;
  }
  .icon {
    width: 60px;
    height: 60px;
    svg {
      width: 60px;
      height: 60px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  &.gold {
    .icon {
      svg {
        .star {
          fill: darken($colorBadgeGold, 15%);
          stroke-width: 1px;
          stroke: darken($colorBadgeGold, 40%);
        }
        .circle {
          stroke: darken($colorBadgeGold, 40%);
          stroke-width: 1px;
          fill: $colorBadgeGold;
        }
      }
    }
    .trophy {
      .fill {
        fill: lighten($colorBadgeGold, 20%);
      }

    }
  }
  &.silver {
    .icon {
      svg {
        .star {
          fill: darken($colorBadgeSilver, 15%);
          stroke-width: 1px;
          stroke: darken($colorBadgeSilver, 40%);
        }
        .circle {
          stroke: darken($colorBadgeSilver, 40%);
          stroke-width: 1px;
          fill: $colorBadgeSilver;
        }
      }
    }
    .trophy {
      .fill {
        fill: lighten($colorBadgeSilver, 15%);
      }
    }
  }
  &.bronze {
    .icon {
      svg {
        .star {
          fill: darken($colorBadgeBronze, 15%);
          stroke-width: 1px;
          stroke: darken($colorBadgeBronze, 40%);
        }
        .circle {
          stroke: darken($colorBadgeBronze, 40%);
          stroke-width: 1px;
          fill: $colorBadgeBronze;
        }
      }
    }
    .trophy {
      .fill {
        fill: lighten($colorBadgeBronze, 20%);
      }
    }
  }
  &.trophy {
    .icon {
      svg {
        .star {
          fill: darken($colorBadgeTrophy, 15%);
          stroke-width: 1px;
          stroke: darken($colorBadgeTrophy, 40%);
        }
        .circle {
          stroke: darken($colorBadgeTrophy, 40%);
        }
      }
    }
    .trophy {
      .fill {
        fill: lighten($colorBadgeTrophy, 20%);
      }
    }
  }
}
/* ===== Title Logo icon =====*/
h1 {
  .icon {
    svg {
      max-width: 300px;
      height: auto;
      width: 100%;
      fill: #333;
    }
  }
}
/* ===== Vertical Center =====*/
.v-center {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

/*================ Templates | Cart Page ================*/
.cart__row {
  position: relative;
  padding-top: $gutter;

  & + & {
    margin-top: $gutter;
    border-top: 1px solid $colorBorder;
  }

  &:first-child {
    margin-top: 0;
  }

  &:first-child {
    padding-top: 0;
    border-top: 0 none;
  }

  .js-qty {
    margin: 0;
  }
}

@include at-query ($min, $large) {
  .cart__row--table-large {
    display: table;
    table-layout: fixed;
    width: 100%;

    .grid__item {
      display: table-cell;
      vertical-align: middle;
      float: none;
    }
  }
}

.cart__image {
  display: block;

  img {
    display: block;
  }
}

.cart__subtotal,
.cart-additional-savings__price {
  margin: 0 0 0 ($gutter / 3);
  display: inline;
}

.cart__mini-labels {
  display: block;
  margin: ($gutter / 3) 0;
  font-size: em(12px);
}

input.cart__quantity-selector {
  width: 100px;
  margin: 0 auto;
}

.cart__remove {
  display: block;
}

.cart__note-add.is-hidden {
  display: none;
}

.cart__note {
  display: none;

  &.is-active {
    display: block;
  }
}

.cart-item__discount,
.cart-additional-savings__savings,
.cart-subtotal__savings {
  display: block;
}

.update-cart,
.checkout {
  margin-bottom: $gutter / 3 !important;
}

.cart__additional_checkout {
  margin: ($gutter / 2) 0 0;

  input {
    padding: 0;
  }

  & > *:not(script) {
    padding: 5px 0 0 5px;
    vertical-align: top;
    line-height: 1;

    &:first-child,
    &:empty {
      padding-left: 0px;
    }
  }
}

.nl-form-container .icon {
  position: absolute;
  left: -24px;
  top: 6px;
}

// Button Helpers
button {
  cursor: pointer;
  text-decoration: none
}

.tp-caption .button {
  border-color: #fff;
  color: #fff;
  background: rgba(0,0,0,0.2);
  &.thin {
    &:hover {
      background: rgba(0,0,0,0.4);
      border-color: #fff;
      color: #fff;
    }
  }
}

<<<<<<< HEAD:assets/theme.scss.liquid
.button {
=======
.button, .btn {
>>>>>>> master:assets/bunkers-theme.scss.liquid
  font-family: $headerFontStack;
  position: relative;
  display: inline-block;
  font-size: 0.8em;
  letter-spacing: 1px;
  outline: 0;
  padding: 8px 20px;
  color: $colorNobel;
  border-color: $colorNobel;
<<<<<<< HEAD:assets/theme.scss.liquid
  border-width: 2px;
=======
  text-transform: uppercase;
  border-width: 1px;
>>>>>>> master:assets/bunkers-theme.scss.liquid
  transition: all .3s ease 0s;
  &.thin {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
    &:hover {
      color: darken($colorNobel, 20%);
      border-color: darken($colorNobel, 20%);
    }
    // &.hover-dark {
    //   &:hover {
    //
    //   }
    // }
    &.white {
      border-color: #fff;
      color: #fff;
      &:hover {
        background-color: #fff;
        color: #2a2b2f;
      }
    }
    &.white-fill {
      background-color: #fff;
      color: $colorNobel;
      &:hover {
        background-color: #fff;
        color: darken($colorNobel, 24%);
        border-color: darken($colorNobel, 24%);
      }
    }
  }
  &.small {
    padding: 10px 15px;
  }
  &.medium {
    padding: 4px 20px;
  }
  &.large {
    padding: 10px 20px;
    font-size: 1em;
    line-height: 22px
  }
  &.full-rounded {
    border-radius: 50px
  }
  &.rounded {
    border-radius: 8px
  }
  &.small {
    padding: 10px 15px;
  }
  &.medium {
    padding: 10px 37px;
  }
  &.large {
    padding: 19px 40px;
    font-size: 1.3em;
    line-height: 22px
  }
  &.full-rounded {
    border-radius: 50px
  }
  &.rounded {
    border-radius: 8px
  }
}

// Section - Introduction
.introduction {
  background-color: $colorGallery;
  h1 {
    letter-spacing: 3px;
  }
}

// Section - Image grid

.port-title-cont2 {
  transform: translateY(0);
  text-align: center;
  h3 {
    width: auto;
    display: inline-block;
    color: #fff;
    font-size: 19px;
    line-height: 24px;
    border-bottom: solid 1px #fff;
    padding-bottom: 10px;
    letter-spacing: 3px;
  }
  span {
    color: rgba(255, 255, 255, .7);
    font-weight: 400;
    font-size: 18px;
  }
}

.port-item.greyscale {
  img {
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            opacity: 0.9;
  }
  .port-overlay-cont {
    opacity: 1;
    .port-title-cont2 {
      transform: translateY(-50%);
    }
  }
  .port-img-overlay:after {
    background: rgba(0,106,166,.3);
  }
  &:hover {
    .port-img-overlay:after {
      opacity: 0;
    }
    img {
      -webkit-transform: scale(1) translateZ(0);
      -moz-transform: scale(1) translateZ(0);
      -o-transform: scale(1) translateZ(0);
      -ms-transform: scale(1) translateZ(0);
      transform: scale(1) translateZ(0);
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%);
              opacity: 1;
    }
  }
  &:nth-child(2), &:nth-child(3) {
    .port-img-overlay:after {
      background: rgba(255,115,0,.3);
    }
  }
}

#shopify-section-footer-images {
  .port-item.greyscale {
    .port-img-overlay:after {
      background: rgba(0,106,166,.3);
    }
    &:hover {
      .port-img-overlay:after {
        opacity: 0;
      }
    }
    &:nth-child(even) {
      .port-img-overlay:after {
        background: rgba(255,115,0,.3);
      }
    }
  }
}

// Section - Index curated products
h2, h3 {
  &.underline {
    border-bottom: solid 1px;
    padding-bottom: 10px;
  }
}
// section - information bar
.information-bar {
  p {
    font-family: $headerFontStack;
    font-weight: $headerFontWeight;
    font-size: 18px;
  }
}

#shopify-section-page-wines-template {
  hr {
    max-width: 20px;
    margin: $gutter/2 auto;
    border-top-color: $colorFriarGray;
  }
}

#shopify-section-page-weddings-template, #shopify-section-page-corporate-template, #shopify-section-page-occasions-template, #shopify-section-page-about-us-template {
  h3 {
    text-transform: none;
    font-size: 1.8em;
    letter-spacing: 3px;
    margin-top: 0;
  }
  .top-padding {
    padding-top: $gutter;
    @include at-query($max, $small) {
      padding-top: 0;
    }
  }
  hr {
    max-width: 20px;
    margin: $gutter/2 auto;
    border-top-color: $colorFriarGray;
  }
  .page-section {
    margin-top: $gutter*2;
    position: relative;
    @include at-query($max, $small) {
      &:first-child {
        margin-top: 0;
      }
    }
    &:last-child {
      margin-top: $gutter;
    }
  }
  .fes7-img-cont {
    height: 400px;
    @include at-query($max, $small) {
      margin-bottom: $gutter;
    }
  }
}

#shopify-section-page-gallery-template {
  .port-grid {
    margin: $gutter*3 0;
    .port-item {
      cursor: pointer;
      padding: $gutter/2;
      .port-main-img {
        height: 300px;
      }
    }
  }
}

/* Popups ====================================================================*/

@mixin overlay() {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

// Verically Align
@mixin vertical-align() {
  position: relative;
  top: 50%;
  -webkit-transform: perspective(1px) translateY(-50%);
  -ms-transform: perspective(1px) translateY(-50%);
  transform: perspective(1px) translateY(-50%);
}

/// Basic popup styling
.popup {
  position: fixed;
  z-index: 9996;
  opacity: 0;
  visibility: hidden;
  @include overlay();
  background: rgba(0,0,0,0.6);
  .popup-outside {
    position: absolute;
    z-index: 9998;
    @include overlay();
  }
  .popup-inner {
    z-index: 9997;
    text-align: center;
    white-space: nowrap;
    @include overlay();
    @include prefixer(transition-delay, 0.3s, webkit moz spec);
    @include prefixer(transform, translateY(-$gutter/2), webkit moz ms spec);
    -webkit-backface-visibility: hidden;
    cursor: pointer;
  }
  &.visible {
    opacity: 1;
    visibility: visible;
    .popup-inner {
      @include prefixer(transform, translateY(0px), webkit moz ms spec);
    }
  }
  .popup-content {
    @include vertical-align();
    display: inline-block;
    z-index: 9999;
    max-width: 100%;
    max-height: 100%;
    overflow: scroll; // Optional line for overly tall popups
    padding: $gutter;
    background-color: #fff;
    text-align: initial;
    cursor: default;
    white-space: initial;
		&.container{
		  max-width: 100%;
		  width: $siteWidth;
		  margin: auto;
		  padding: 0;
		}
		&.no-padding{
			padding: 0;
		}
  }
  .popup-close {
    display: block;
    position: absolute;
    top: $gutter;
    right: $gutter;
  }
	.popup-content-inner{
		background: #fff;
	}
}

#PopupGallery.popup {
	.popup-inner {
		overflow: hidden;
		.popup-content {
			overflow: hidden;
      .loader3 {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: perspective(1px) translateY(-50%);
        -ms-transform: perspective(1px) translateY(-50%);
        transform: perspective(1px) translateY(-50%);
      }
      .popup-content-inner {
        text-align: center;
        margin: 0 auto;
        padding: $gutter*2;
      }
			.gallery-image {
        position: relative;
        z-index: 999992;
        margin: 0 auto;
		    max-width: 100%;
				max-height: 65%;
		  }
		}
	}

}

/*
.header-shadow {
  -webkit-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.3);
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,0.3);
}
*/

#booking-enquires {
  #shopify-section-page-booking-title {
    .container, .page-title-large3-text-cont {
      padding: 0;
    }
  }
}

#shopify-section-booking-form {
  max-width: 600px;
  margin: auto;
}

// Section - Cellar door
.feature-block {
  $featureIcon: 50px;
  p {
    color: $colorFriarGray;
  }
  svg {
    fill: none;
    stroke: none;
    height: $featureIcon;
    width: $featureIcon;
    .fill {
      fill: $colorFriarGray;
    }
    .stroke {
      stroke: $colorFriarGray;
    }
  }
}


/*============================================================================
  #Blog
==============================================================================*/
.blog-table {
  display: table;
  width: 100%;
  .blog-content, .blog-sidebar {
    vertical-align: top;
    @media (min-width:768px) {
    display: table-cell;
    padding: 140px 50px;
      &.col-12 {
        width: percentage(12/12);
        float: none;
      }
      &.col-9 {
        width: percentage(9/12);
        float: none;
      }
      &.col-8 {
        width: percentage(8/12);
        float: none;
      }
      &.col-6 {
        width: percentage(6/12);
        float: none;
      }
      &.col-4 {
        width: percentage(4/12);
        float: none;
      }
      &.col-1 {
        width: percentage(1/12);
        float: none;
      }
    }
    @media (max-width:768px) {
      width: 100%;
      display: table-row;
     }
  }
}


/*============================================================================
  #Site Footer
==============================================================================*/
.site-footer {
  margin-top: -1px;
  background-color: $colorTundora;
  padding: $gutter 0;
  color: $colorNobel;
  .icon{
    svg {
      height: 24px;
      width: 24px;
      fill: none;
      stroke: none;
      .fill {
        fill: $colorNobel;
      }
    }
  }
  a {
    color: $colorNobel;
  }
  ul.social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: $gutter/2;
    li {
      margin: 0 0 ($gutter / 3) ($gutter / 2);
      vertical-align: middle;
      @media screen and (max-width: $medium) {
        margin: 0 ($gutter / 3) ($gutter / 2);
        display: inline-block;
      }
      .icon {
        font-size: 24px;
        line-height: 20px;
      }
      a {
        color: $colorNobel;
        &:hover {
          color: lighten($colorNobel, 25%);
        }
      }
    }
  }
  .fwg_logo {
    img {
      max-height: 175px;
      width: auto;
      margin: 0 ($gutter / 2) ($gutter / 2);
    }
  }
  .credit {
    small {
      font-size: 11px;
      &.smaller {
        font-size: 10px;
        display: block;
        line-height: 1;
      }
    }
  }
  ul#AccessibleNav.footer-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      a {
        text-transform: uppercase;
        font-weight: $headerFontWeight;
        padding: 0 0 ($gutter / 3) 0;
        font-size: 12px;
        color: $colorNobel;
        &:hover {
          color: lighten($colorNobel, 25%);
        }
        @media screen and ($max, $medium) {
          padding: 0 0 ($gutter / 4) 0;
        }
      }
      @media screen and ($max, $medium) {
        display: inline-block;
        margin: 0 ($gutter / 3) ($gutter / 3);
      }
    }
  }
  .disclaimer p {
    margin-top: $gutter;
    font-size: 0.85em;
    color: lighten($colorTundora, 25%);
  }
}

// Elementy type stuff

.post-prev-title h3 {
  margin: 0;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 26px;
  min-height: 53px;
}

.post-prev-info {
  margin-bottom: 14px;
  font-style: italic;
}

// Title 3
.page-title-large3-cont {
    background-attachment: fixed;
    background-position: top center;
    background-size: cover;
    position: relative;
}

.header-shadow .container {
  padding: 0;
}

.page-title-large3-cont .container {
    height: 640px
}
.page-title-medium-cont .container {
    height: 350px
}

.page-title-large3-text-cont {
    position: absolute;
    bottom: 40px;
    width: 100%;
    padding-right: 0px;
}
.page-title-medium-cont {
  .page-title-large3-text-cont {
    bottom: 20px;
  }
}

.page-title2 {
  margin: 100px 0 0;
  font-size: 36px;
  line-height: 38px;
}

.page-title-large2-cont {
    padding-top: 180px;
    padding-bottom: 47px
}

@media (max-width:1367px) {
    .page-title-large3-cont .container {
        height: 430px
    }
    .page-title-large3-text-cont {
        bottom: 30px
    }
}

@media (max-width:1024px) {
    .page-title-large3-cont {
        background-attachment: scroll
    }
    .page-title-large3-cont .container {
        height: 430px
    }
    .page-title-large3-text-cont {
        bottom: 30px
    }
    .page-title3 {
        font-size: 62px;
        line-height: 66px
    }
}

@media (max-width:769px) {
    .page-title-large3-cont .container {
        height: 400px
    }
    .page-title-large3-text-cont {
        bottom: 25px
    }
    .page-title3 {
        font-size: 52px;
        line-height: 56px
    }
}

@media (max-width:480px) {
    .page-title-large3-cont .container {
        height: 300px
    }
    .page-title-large3-text-cont {
        bottom: 20px
    }
    .page-title3 {
        font-size: 32px;
        line-height: 36px
    }
    .post-info-large3 {
        font-size: 12px;
        line-height: 18px
    }
}

@media (max-width:320px) {
    .page-title-large3-cont .container {
        height: 300px
    }
    .page-title-large3-text-cont {
        bottom: 20px
    }
    .page-title3 {
        font-size: 26px;
        line-height: 30px
    }
}

@media all and (orientation:landscape) and (max-width:774px) {
    .page-title-large3-cont .container {
        height: 300px
    }
    .page-title-large3-text-cont {
        bottom: 20px
    }
    .page-title3 {
        font-size: 32px;
        line-height: 36px
    }
}

@media all and (orientation:landscape) and (max-width:569px) {
    .page-title-large3-cont .container {
        height: 280px
    }
    .page-title-large3-text-cont {
        bottom: 20px
    }
    .page-title3 {
        font-size: 32px;
        line-height: 36px
    }
}

p {
  font-size: 1.15em;
  line-height: 30px;
  &.text-center {
    margin: auto;
  }
}

.widget-title2 {
  margin-bottom: 20px;
  font-size: 28px;
}

// pagination
.custom-pagination {
  list-style:none;
  font-size: 25px;
  li {
    display: inline;
    padding: 5px 10px;
  }
  .current {
    a {
      color: $colorTundora;
    }
  }
}

.form-builder {
  input[type="text"], input[type="search"], input[type="password"], input[type="email"], input[type="file"], input[type="number"], input[type="tel"], textarea {
    border-top: 0px;
    border-right: 0px;
    border-bottom: solid 1px $colorFriarGray;
    border-left: 0px;
    border-radius: 0;
    color: $colorFriarGray;
    margin: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    &::placeholder {
      color: $colorFriarGray;
    }
  }
}

// breadcrumb
.breadcrumb {
  text-transform: uppercase;
  font-size: 18px;
}

/*================ Partials | Icons ================*/
@font-face {
  font-family: 'icons';
  src: url('{{ "icons.eot" | asset_url }}');
  src: url('{{ "icons.eot" | asset_url }}#iefix') format("embedded-opentype"),
       url('{{ "icons.woff" | asset_url }}') format("woff"),
       url('{{ "icons.ttf" | asset_url }}') format("truetype"),
       url('{{ "icons.svg" | asset_url }}#timber-icons') format("svg");
  font-weight: normal;
  font-style: normal;
}
$socialIconFontStack: 'icons';

.icon-fallback-text .icon {
  display: none;

  .supports-fontface & {
    display: inline-block;
  }
}

/*============================================================================
  A generic way to visually hide content while
  remaining accessible to screen readers (h5bp.com)
==============================================================================*/
.supports-fontface .icon-fallback-text .fallback-text {
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}

.icon:before {
  display: none;
}

.supports-fontface .icon:before {
  display: inline;
  font-family: $socialIconFontStack;
  text-decoration: none;
  speak: none; // future fallback, limited in effect currently
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*================ Icon mapping ================*/
.icon-amazon_payments:before { content: "\e800"; }
.icon-american_express:before { content: "\41"; }
.icon-arrow-down:before { content: "\e607"; }
.icon-bitcoin:before { content: "\42"; }
.icon-cart:before { content: "\e600"; }
.icon-cirrus:before { content: "\43"; }
.icon-customer:before { content: "\e605"; }
.icon-dankort:before { content: "\64"; }
.icon-diners_club:before { content: "\63"; }
.icon-discover:before { content: "\44"; }
.icon-facebook:before { content: "\e609"; }
.icon-fancy:before { content: "\46"; }
.icon-google_plus:before { content: "\67"; }
.icon-google:before { content: "\47"; }
.icon-hamburger:before { content: "\e601"; }
.icon-instagram:before { content: "\69"; }
.icon-interac:before { content: "\49"; }
.icon-jcb:before { content: "\4a"; }
.icon-maestro:before { content: "\6d"; }
.icon-master:before { content: "\4d"; }
.icon-minus:before { content: "\e602"; }
.icon-paypal:before { content: "\50"; }
.icon-pinterest:before { content: "\e608"; }
.icon-plus:before { content: "\e603"; }
.icon-rss:before { content: "\72"; }
.icon-search:before { content: "\73"; }
.icon-stripe:before { content: "\53"; }
.icon-tumblr:before { content: "\74"; }
.icon-twitter:before { content: "\54"; }
.icon-vimeo:before { content: "\76"; }
.icon-visa:before { content: "\56"; }
.icon-x:before { content: "\e604"; }
.icon-youtube:before { content: "\79"; }

.social-icons li {
  margin: 0 ($gutter / 3) ($gutter / 2);
  vertical-align: middle;

  @include at-query ($min, $postSmall) {
    margin-left: 0;
  }

  .icon {
    font-size: 22px;
    line-height: 22px;
  }

  a {
    color: {{ settings.color_footer_social_link }};

    &:hover {
      color: darken({{ settings.color_footer_social_link }}, 10%);
    }
  }
}

// Distributors
h6.country {
  font-size: 17px;
}

.country-table {
  display: table;
  height:150px;
  > * {
    display: table-cell;
    vertical-align: middle;
  }
}


// Elementy Background stuff
.bg-light-gray {
  background: $colorGallery;
}
.bg-dark-gray {
  background: $colorMercury;
}
.bg-v-dark-gray {
  background-color: darken($colorFriarGray, 5%);
}
.bg-friar-gray {
  background: $colorFriarGray;
  color: #fff;
}
<<<<<<< HEAD:assets/theme.scss.liquid
=======

/*  Bootstrap Clearfix */

/*  Medium Desktop  */
@include at-query($min, $medium) {

  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1){
    clear: left;
  }
}


/*  Large Desktop  */
@include at-query($min, $large) {
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1){
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1){
    clear: left;
  }
}
>>>>>>> master:assets/bunkers-theme.scss.liquid
