<!-- COTENT CONTAINER -->
<div class="container p-160-cont">

  <div class="text-center" >
    <h1 class="error404-numb2">{{ 'general.404.title' | t }}</h1>
    <h3 class="error404-text2">{{ 'general.404.subtext_html' | t }}</h3>

    <a class="button medium rounded gray" href="{{ shop.url }}">BACK TO HOMEPAGE</a>
  </div>

</div>

<!-- TWITTER FEED & NEWS LETTER FONT RALEWAY -->
<div class="page-section pt-100-b-80-cont bg-gray">
  <div class="container">

    <!-- TWITTER FEED -->
    <div class="col-sm-6">
      <div id="twitter-feeds" ></div>
    </div>

    <!-- NEWS LETTER FONT RALEWAY -->
    <div class="col-sm-5 col-sm-offset-1 col-md-4 col-md-offset-2" >
      <div class="relative" >
        <div id="mc_embed_signup" class="nl-form-container clearfix mt-20">
          <form action="https://abcgomel.us9.list-manage.com/subscribe/post-json?u=ba37086d08bdc9f56f3592af0&amp;id=e38247f7cc&amp;c=?" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="newsletterform validate" target="_blank" novalidate>   <!-- EDIT THIS ACTION URL (add "post-json?u" instead of "post?u" and appended "&amp;c=?" to the end of this URL) -->
            <input type="email" value="" name="EMAIL" class="email nl-email-input font-raleway" id="mce-EMAIL" placeholder="Join newsletter" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_ba37086d08bdc9f56f3592af0_e38247f7cc" tabindex="-1" value=""></div>

            <button id="mc-embedded-subscribe" class="nl2-btn" type="submit" name="subscribe">
              <span class="icon icon-arrows-slim-right"></span>
            </button>
          </form>
          <div id="notification_container"  ></div>
        </div>
      </div>
    </div>
  </div>
</div>