<!-- /templates/blog.vintage-ratings.liquid -->
{% section 'blog-vintage-title' %}
{% paginate blog.articles by 50 %}
<div class="p-140-cont bg-gray">
  <div id="vintage_ratings" class="container">

    <div class="vintage-table bb-dark col-xs-12">
      <div class="blog-content col-xs-6 col-sm-3">
        <h3>Year</h3>
      </div>
      <div class="blog-content col-xs-6 col-sm-3">
        <h3>Growing Season</h3>
      </div>
      <div class="blog-content col-xs-6 col-sm-3">
        <h3>Cabernets</h3>
        <p>(out of 100)</p>
      </div>
      <div class="blog-content col-xs-6 col-sm-3">
        <h3>Chardonnay</h3>
        <p>(out of 100)</p>
      </div>
    </div>

    {% for article in blog.articles %}

      <div class="vintage-table col-xs-12{% cycle ' bg-white', '' %}">

        {% assign content = article.content | split: '[split]' %}

        <div class="vintage-cell col-xs-6 col-sm-3">
          <h5>{{ article.title }}</h5>
        </div>

        <div class="vintage-cell col-xs-6 col-sm-3">
          <span>{{ content[0] | strip_html }}<span>
        </div>

        <div class="vintage-cell col-xs-6 col-sm-3">
          <span>{{ content[1] | strip_html }}</span>
        </div>

        <div class="vintage-cell col-xs-6 col-sm-3">
          <span>{{ content[2] | strip_html }}</span>
        </div>

      </div>

    {% endfor %}

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', right | replace: 'Next &raquo;', left }}
      </div>
    {% endif %}


  </div>
</div>

{% endpaginate %}
