
{% assign include = 'page-title-small-grey' %}
{% include 'titles' with include %}

{% include 'loyalty-logic' %}

<div class="page-section p-50-cont">
    <div class="container">
  {% if cart.item_count > 0 %}

    <form action="/cart" method="post" novalidate class="cart">
      <div class="cart__row">
        <div class="row">
          <div class="col-sm-6 text-left">
            <a href="{{ collections.all.url }}" class="btn--secondary thin button medium rounded gray">Continue Shopping</a>
          </div>
          <div class="col-sm-6 text-right">
            <input type="submit" name="update" class="btn--secondary update-cart button thin medium rounded gray" value="{{ 'cart.general.update' | t }}">
            <input type="submit" name="checkout" class="btn--secondary checkout button thin rounded medium gray" value="{{ 'cart.general.checkout' | t }}">

            {% if additional_checkout_buttons %}
              <div class="cart__additional_checkout">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="cart__row visible-md visible-lg cart__header-labels">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-6">
            <div class="row">
              <div class="col-xs-3">
                <span>Cellar Door</span>
              </div>
              <div class="col-xs-3">
                <span>Club Price</span>
              </div>
              <div class="col-xs-3 text-center">
                <span>{{ 'cart.label.quantity' | t }}</span>
              </div>
              <div class="col-xs-3 text-right">
                <span>{{ 'cart.label.total' | t }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% comment %}
        Loop through products in the cart
      {% endcomment %}
      {% assign potential_discount = 0 %}
      {% for item in cart.items %}
        <div class="cart__row">
          <div class="row">

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-4">
                  <a href="{{ item.url | within: collections.all }}" class="cart__image">

                    {% comment %}
                      More image size options at:
                        - http://docs.shopify.com/themes/filters/product-img-url
                    {% endcomment %}
                    <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
                  </a>
                </div>

                <div class="col-xs-8">
                  <a href="{{ item.url }}" class="h6">
                    {{ item.product.title }}
                  </a>
                  {% unless item.variant.title contains 'Default' %}
                    <br>
                    <small>{{ item.variant.title }}</small>
                  {% endunless %}

                  {% comment %}
                    <p>{{ item.vendor }}</p>
                  {% endcomment %}

                  {% comment %}
                    Optional, loop through custom product line items if available

                    For more info on line item properties, visit:
                      - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
                  {% endcomment %}
                  {% assign propertySize = item.properties | size %}
                  {% if propertySize > 0 %}
                    {% for p in item.properties %}
                      {% assign first_character_in_key = p.first | truncate: 1, '' %}
                      {% unless p.last == blank or first_character_in_key == '_' %}
                        <br>
                        {{ p.first }}:

                        {% comment %}
                          Check if there was an uploaded file associated
                        {% endcomment %}
                        {% if p.last contains '/uploads/' %}
                          <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                        {% else %}
                          {{ p.last }}
                        {% endif %}

                      {% endunless %}
                    {% endfor %}
                  {% endif %}

                  <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                    <small>{{ 'cart.general.remove' | t }}</small>
                  </a>
                </div>

              </div>
            </div>

            <div class="col-md-6">
              <div class="row">

                <div class="col-xs-3">
                  <span class="cart__mini-labels visible-xs visible-sm">{{ 'cart.label.price' | t }}</span>
                  <span class="h5">{{ item.original_line_price | money }}</span>
                </div>

                <div class="col-xs-3">
                  <span class="cart__mini-labels visible-xs visible-sm">{{ 'cart.label.price' | t }}</span>
                  <span class="h5">
                    {% if club_member %}
                      {{ item.line_price | money }}
                    {% else %}
                      {% for tag in item.product.tags %}
                        {% if tag contains 'tier_' %}
                          {% assign item_club_tier = tag | remove: 'tier_' %}
                          {% assign item_club_tier = item_club_tier | plus: 0 %}
                        {% endif %}
                      {% endfor %}

                      {% if item_club_tier == 1 %}
                        {% assign item_club_discount_percent = 0.95 %}
                      {% elsif item_club_tier == 2 %}
                        {% assign item_club_discount_percent = 0.90 %}
                      {% elsif item_club_tier == 3 %}
                        {% assign item_club_discount_percent = 0.85 %}
                      {% else %}
                        {% assign item_club_discount_percent = 1 %}
                      {% endif %}

                      {% assign item_discount = item.line_price | times: item_club_discount_percent %}
                      {{ item_discount | money }}
                      {% assign discount_difference = item.line_price | minus: item_discount %}
                      <script>console.log('{{ discount_difference | divided_by: 100 }}')</script>
                      {% assign potential_discount = potential_discount | plus: discount_difference %}
                    {% endif %}</span>
                </div>

                <div class="col-xs-3 text-center">
                  <span class="cart__mini-labels visible-xs visible-sm">{{ 'cart.label.quantity' | t }}</span>
                  <input type="number" class="cart__quantity-selector" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                </div>

                <div class="col-xs-3 text-right">
                  <span class="cart__mini-labels visible-xs visible-sm">{{ 'cart.label.total' | t }}</span>
                  <span class="h5">
                    {% if item.original_line_price != item.line_price %}
                      <small class="cart-item__original-price"><s>{{ item.original_line_price | money }}</s></small>
                    {% endif %}
                    {{ item.line_price | money }}
                  </span>
                </div>

              </div>
            </div>

          </div>
        </div>
      {% endfor %}

      <div class="cart__row">
        <div class="col-xs-12 mb-50">
          <div class="col-sm-6 join-and-save">
            {% unless club_member %}
              <h3>Join The Wine Club & Save</h3>
              <p>Sign in as a wine club member or join for free and save <span>{{ potential_discount | money }}</span> on your order.</p>
              <a href="/account" class="button medium thin rounded white">Wine Club</a>
            {% endunless %}
          </div>

          <div class="col-sm-6 text-right">
            <p>
              <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
              <span class="h5 cart__subtotal">{{ cart.total_price | money }}</span>
            </p>
            <p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-6 text-left">
            <a href="{{ collections.all.url }}" class="btn--secondary button medium rounded gray thin">Continue Shopping</a>
          </div>
          <div class="col-sm-6 text-right">
            <input type="submit" name="update" class="btn--secondary update-cart button medium rounded gray thin" value="{{ 'cart.general.update' | t }}">
            <input type="submit" name="checkout" class="btn--secondary checkout button medium rounded gray thin" value="{{ 'cart.general.checkout' | t }}">

            {% if additional_checkout_buttons %}
              <div class="cart__additional_checkout">{{ content_for_additional_checkout_buttons }}</div>
            {% endif %}
          </div>
        </div>

      </div>
    </form>

    {% section 'loyalty-rewards' %}

  {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <h2>{{ 'cart.general.title' | t }}</h2>
    <p>{{ 'cart.general.empty' | t }}</p>
    <p>{{ 'cart.general.continue_browsing_html' | t }}</p>

  {% endif %}
  </div>
</div>
