<div class="booking-template">
  {% section 'page-booking-title' %}
  <div class="container p-100-cont">
    <div class="row">
      <div class="col-md-12">
        {% section 'booking-form' %}
      </div>
    </div>
  </div>
</div>
