{% section 'page-contact-title' %}
{% section 'contact-information' %}
<div class="container p-100-cont">
  <div class="row">
    <div class="col-md-6 mb-50">
      {% section 'page-contact-information' %}
    </div>
    <div class="col-md-6">
      {% section 'contact-form' %}
    </div>
  </div>
</div>
{% section 'blog-news-newsletter' %}
