{% layout none %}
<!DOCTYPE html>
<!-- ==================================================
  ___  _   _    _
 /   || | | |  | |
 \__  | | | |  | |  __
 /    |/  |/_) |/  /  \_/\/
 \___/|__/| \_/|__/\__/  /\_/
               |\
               |/

  Help @ Elkfox.com
  https://elkfox.com
  https://experts.shopify.com/elkfox

==================================================== -->
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!-- Basic page needs ================================================== -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <!-- Title and description ================================================== -->
  <title>
    {{ shop.name }}
  </title>

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}

  <!-- Fonts =============================================================== -->
  <link href="https://fonts.googleapis.com/css?family={{ settings.font_headings_face | replace: ' ', '+' }}" rel="stylesheet">
  {% if settings.font_headings_face != settings.font_body_face %}
    <link href="https://fonts.googleapis.com/css?family={{ settings.font_body_face | replace: ' ', '+' }}" rel="stylesheet">
  {% endif %}

  <!-- Helpers ================================================== -->
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- CSS ================================================== -->
  <!-- REVOLUTION STYLE SHEETS -->
  {{ 'settings-custom.css' | asset_url | stylesheet_tag }}

  <!-- REVOLUTION NAVIGATION STYLES -->
  {{ 'hermes-custom.css' | asset_url | stylesheet_tag }}

  <!--  BOOTSTRAP -->
  {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

  <!--  CSS THEME -->
  {{ 'style.css' | asset_url | stylesheet_tag }}

  <!-- ANIMATE -->
  {{ 'animate.min.css' | asset_url | stylesheet_tag }}

  <!-- CUSTOM -->
  {{ 'custom.css' | asset_url | stylesheet_tag }}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}

  {% include 'oldIE-js' %}

  <!-- JS ================================================== -->
  {{ 'modernizr.min.js' | asset_url | script_tag }}
  {{ '//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' | script_tag }}


  </head>

  <body>

    {% section 'password' %}

    {{ 'fastclick.min.js' | asset_url | script_tag }}
    {{ 'theme.js' | asset_url | script_tag }}

    {% if template contains 'product' %}
      {% if settings.product_image_zoom_type == 'lightbox'  %}
        {{ 'magnific-popup.min.js' | asset_url | script_tag }}
      {% elsif settings.product_image_zoom_type == 'zoom-in' %}
        {{ 'jquery.zoom.min.js' | asset_url | script_tag }}
      {% endif %}
    {% endif %}

    {% if template contains 'article' or template contains 'product' %}
      {% if settings.social_sharing_blog or settings.social_sharing_products %}
        {{ 'social-buttons.js' | asset_url | script_tag }}
      {% endif %}
    {% endif %}

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    {{ 'bootstrap.min.js' | asset_url | script_tag }}

    <!-- MAGNIFIC POPUP -->
    {{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}

    <!-- PORTFOLIO SCRIPTS -->
    {{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
    {{ 'imagesloaded.pkgd.min.js' | asset_url | script_tag }}
    {{ 'masonry.pkgd.min.js' | asset_url | script_tag }}

    <!-- APPEAR -->
    {{ 'jquery.appear.js' | asset_url | script_tag }}

    <!-- OWL CAROUSEL -->
    {{ 'owl.carousel.min.js' | asset_url | script_tag }}

    <!-- PARALLAX -->
    {{ 'jquery.stellar.min.js' | asset_url | script_tag }}

    <!-- GOOLE MAP
  !!! To setup Google Maps, please, see the documentation !!! -->
    {{ 'https://maps.google.com/maps/api/js?key=AIzaSyDzf6Gmc9u7rr2JHijOERAmC_j0gWYtR2c' | script_tag }}
    {{ 'gmap3.min.js' | asset_url | script_tag }}

    <!-- FULL SCREEN MENU -->
    {{ 'fs-menu.js' | asset_url | script_tag }}

    <!-- SIDE MENU -->
    {{ 'side-menu.js' | asset_url | script_tag }}

    <!-- FLICKR WIDGET -->
    {{ 'jflickrfeed.min.js' | asset_url | script_tag }}

    <!-- JQUERY TWEETS -->
    {{ 'jquery.tweet.js' | asset_url | script_tag }}

    <!-- DATATIMEPICKER -->
    {{ 'moment.js' | asset_url | script_tag }}
    {{ 'bootstrap-datetimepicker.min.js' | asset_url | script_tag }}

    <!-- BACKGROUND VIDEO -->
    {{ 'jquery.backgroundvideo.min.js' | asset_url | script_tag }}

    <!-- NAV SIDEBAR -->
    {{ 'jquery.nav.js' | asset_url | script_tag }}

    <!-- HEADER BELOW -->
    {{ 'jquery.sticky.js' | asset_url | script_tag }}

    <!-- MAIN SCRIPT -->
    {{ 'main.js' | asset_url | script_tag }}

    <!-- REVOSLIDER SCRIPTS  -->
    {{ 'jquery.themepunch.tools.min.js' | asset_url | script_tag }}
    {{ 'jquery.themepunch.revolution.min.js' | asset_url | script_tag }}

  </body>
</html>
